<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>フッター</title>
    <link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}"/>
    <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.min.js"
            th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js"
            th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
    <script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
<div class="col-sm-12 col-xs-12" th:if="${isDebugMode}" layout:fragment="debug-form">
    <div class="panel-group" id="debugform-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="h5" data-toggle="collapse" data-parent="#debugform-panel"
                   href="#debugform-content">デバッグメニュー</a>
            </div>
            <div id="debugform-content" class="panel-collapse collapse in">
                <div class="panel-body">
                    <form method="post" th:if="${content.day == 0}" action=""
                          th:action="@{/village/{villageId}/allparticipate(villageId=${content.villageId})}"
                          class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">入村させる</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" th:value="16" th:name="personNumber"/>
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-sm btn-success pull-right" value="人数分入村させる"/>
                            </div>
                        </div>
                    </form>
                    <form method="post" action=""
                          th:action="@{/village/{villageId}/dayChange(villageId=${content.villageId})}"
                          class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">日付を進める</label>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-sm btn-success pull-right" value="日付を進める"/>
                            </div>
                        </div>
                    </form>
                    <form id="login-form" method="post" th:action="@{/login}" class="form-horizontal">
                        <input type="hidden" name="userId" value="u"/>
                        <input type="hidden" name="password" value="testuser"/>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ダミーログイン</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="dummy-login-player">
                                    <option th:each="target : ${dummyLoginPlayerList}" th:value="${target.value}"
                                            th:text="${target.name}"></option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="submit" class="btn btn-sm btn-success pull-right" value="ログイン"
                                       data-dummy-login/>
                            </div>
                        </div>
                    </form>
                    <form id="logout-form" method="post" action="" th:action="@{/logout}" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <input type="button" class="btn btn-sm btn-warning pull-right" value="ログアウト"
                                       data-logout/>
                            </div>
                        </div>
                    </form>
                    <script type="text/javascript">
                        $(function () {
                            'use stricts'

                            const villageId = $("[data-village-id]").data('village-id');
                            const day = $("[data-day]").data('day');
                            const LOGOUT_URL = contextPath + 'logout';
                            const LOGIN_URL = contextPath + 'login';
                            const logoutToken = $('#logout-form').find('[name=_csrf]').val();
                            const loginToken = $('#login-form').find('[name=_csrf]').val();

                            $('[data-logout]').on('click', function () {
                                $.ajax({
                                    type: 'POST',
                                    url: LOGOUT_URL,
                                    data: {
                                        '_csrf': logoutToken
                                    }
                                }).then(function () {
                                    location.reload();
                                });
                            });
                            $('[data-dummy-login]').on('click', function () {
                                const userId = $('#dummy-login-player').val();
                                $.ajax({
                                    type: 'POST',
                                    url: LOGIN_URL,
                                    data: {
                                        'userId': userId,
                                        'password': 'testuser',
                                        '_csrf': loginToken
                                    }
                                }).then(function (re) {
                                    location.reload();
                                });
                                $('#login-form').find('[name=userId]').val(userId);
                                $('#login-form').submit();
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>