spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/werewolf_mansiondb?character_set_server=utf8mb4
    username: wmansion
    password: wmans10n
    driverClassName: com.mysql.jdbc.Driver
  thymeleaf:
    cache: false
    mode: HTML
  messages:
    basename: messages
    cache-seconds: -1
    encoding: UTF-8

server:
  servlet:
    contextPath: /wolf-mansion
    session:
      timeout: 86400
  port: 8089

logging:
  level:
    org.springframework: INFO
    root: INFO
    org.seasar.dbflute: ERROR
  file.name: /var/log/werewolf-mansion/tomcat.log

app:
  debug: true
  original-image:
    basedir: /var/www/html/wmansion/original
    baseurl: /wmansion/original

twitter:
  oauth:
    consumer-key:
    consumer-secret:
    access-token:
    access-token-secret:

slack:
  webhook-url:

discord:
  webhook-url:
  master-userid:

microsoft:
  translator:
    key: 