spring:
  datasource:
    url: jdbc:mysql://localhost:3306/werewolf_mansiondb?characterEncoding=UTF-8
    username: wmansion
    password: wmans10n
    driverClassName: com.mysql.jdbc.Driver
  thymeleaf:
    cache: false
    mode: HTML
  messages:
    basename: messages
    cache-seconds: -1
    encoding: UTF-8
server:
  contextPath: /werewolf-mansion
logging:
  level:
    org.springframework: ERROR
    root: ERROR
    org.seasar.dbflute: ERROR
  file: /var/log/werewolf-mansion/tomcat.log