spring:
  datasource:
    url: jdbc:mysql://localhost:3306/werewolf_mansiondb?characterEncoding=UTF-8
    username: wmansion
    password: wmans10n
    driverClassName: com.mysql.jdbc.Driver
  thymeleaf:
    cache: false
    mode: HTML
  messages:
    basename: messages
    cache-seconds: -1
    encoding: UTF-8
server:
  contextPath: /wolf-mansion
  port: 8089
  session:
    timeout: 86400
logging:
  level:
    org.springframework: INFO
    root: INFO
    org.seasar.dbflute: ERROR
  file: /var/log/werewolf-mansion/tomcat.log
  