<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div layout:fragment="camp">
    <div id="camp" class="table-responsive">
        <table class="table table-bordered table-condensed small">
            <thead>
            <tr>
                <th class="vertical-middle">陣営</th>
                <th class="vertical-middle">陣営に所属する役職</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="vertical-middle">村人陣営</td>
                <td class="vertical-middle">
                    村人<br>占い師<br>賢者<br>占星術師<br>狩人<br>風来狩人<br>霊能者<br>導師<br>共鳴者<br>探偵<br>罠師<br>
                    パン屋<br>強運者<br>指揮官<br>妄想癖<br>夢遊病者<br>冤罪者<br>転生者<br>申し子<br>壁殴り代行
                </td>
            </tr>
            <tr>
                <td class="vertical-middle">人狼陣営</td>
                <td class="vertical-middle">
                    人狼<br>呪狼<br>智狼<br>絶対人狼<br>歩狼<br>銀狼<br>金狼<br>飛狼<br>角狼<br>王狼<br>狂人<br>C国狂人<br>魔神官<br>狂信者<br>煽動者
                </td>
            </tr>
            <tr>
                <td class="vertical-middle">恋人陣営</td>
                <td class="vertical-middle">
                    恋人<br>同棲者<br>求愛者<br>ストーカー<br>絡新婦<br>美人局
                </td>
            </tr>
            <tr>
                <td class="vertical-middle">妖狐陣営</td>
                <td class="vertical-middle">
                    妖狐<br>誑狐<br>背徳者
                </td>
            </tr>
            <tr>
                <td class="vertical-middle">愉快犯陣営</td>
                <td class="vertical-middle">
                    爆弾魔<br>梟<br>果実籠<br>一匹狼<br>虹職人
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="wincondition" class="table-responsive">
        <table class="table table-bordered table-condensed small">
            <thead>
            <tr>
                <th colspan="3" class="vertical-middle">陣営勝利（同時に満たした場合は上にあるものほど優先度高）</th>
            </tr>
            <tr>
                <th class="vertical-middle">陣営</th>
                <th class="vertical-middle">勝利条件</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="vertical-middle">恋人陣営</td>
                <td class="vertical-middle">いずれかの陣営が勝利条件を満たした際に恋人陣営役職か恋絆を付与されている人が1名以上生存している</td>
            </tr>
            <tr>
                <td class="vertical-middle">妖狐陣営</td>
                <td class="vertical-middle">いずれかの陣営が勝利条件を満たした際に妖狐か誑狐が1名以上生存している</td>
            </tr>
            <tr>
                <td class="vertical-middle">人狼陣営</td>
                <td class="vertical-middle">
                    夜明け時点で生存している人狼の数≧生存している人間の数<br>
                </td>
            </tr>
            <tr>
                <td class="vertical-middle">村人陣営</td>
                <td class="vertical-middle">夜明け時点で人狼が全員死亡し、人間が1人以上生存している</td>
            </tr>
            <thead>
            <tr>
                <th colspan="3" class="vertical-middle">追加勝利（勝利陣営と関係なく条件に当てはまれば勝利）</th>
            </tr>
            </thead>
            <tr>
                <td class="vertical-middle">愉快犯陣営</td>
                <td class="vertical-middle">いずれかの陣営が勝利条件を満たした際、自身の勝利条件を満たすと自身も追加で勝利</td>
            </tr>
            </tbody>
        </table>
        ※「人狼」「人間」の判定は勝敗判定カウントを参照
    </div>
</div>
</body>
</html>



