<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<ul id="detail" class="announce" layout:fragment="detail">
    <li id="attitude">基本的な心構え
        <ul>
            <li>他国と大きく変わりありませんし、あえて長々と記載しません。他者への礼節を欠くような行為は避けてください。</li>
            <li>途中放棄、突然死はゲームを壊し、他参加者に多大な迷惑をかけることになるため、他サイトよりも厳しい措置としています。</li>
        </ul>
    </li>
    <li id="ability">能力行使
        <ul>
            <li>一部の役職を除き、<a href="#process-order">処理順</a>で処理される時点で死亡している場合、能力は行使されません。
                <ul>
                    <li>死亡していても処理される能力の場合、役職説明に記載しています。（例. 人狼、罠師、爆弾魔）</li>
                </ul>
            </li>
            <li>処理される時点で死亡して能力が行使されなくても、足音はセットした通りに響きます。</li>
        </ul>
    </li>
    <li id="suddenly-death">突然死
        <ul>
            <li>村の設定で突然死を無しにしている場合、突然死しません。</li>
            <li>突然死ありの場合、進行中の日付更新のタイミングで、投票していなかった生存者が突然死します。
                <ul>
                    <li>突然死を回避するために発言する必要はありません。</li>
                </ul>
            </li>
            <li>一度でも突然死した場合、自己蘇生する役職であっても、後追い処理の中で再度死亡するため、朝時点で必ず死亡状態となります。</li>
            <li>突然死の対象となる参加者は、「本日まだ投票していない者は、・・・」という表現でログの最後に表示されます。</li>
            <li>突然死者の投票は無効票となります。</li>
            <li>突然死者のセットしていた足音については、セットした通りに響きます。</li>
            <li>突然死者はエピローグ以外で一切の発言ができなくなり、以後別の村に入村もできなくなります。
                <ul>
                    <li>
                        突然死した方は国主まで直接ご連絡ください。事故や災害など、やむを得ない事情により突然死してしまったと判断した場合、入村制限を解除します。
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="vote">投票
        <ul>
            <li>2日目から投票による処刑が始まります。</li>
            <li>突然死無しの場合：日付更新時のセット先は自投票です。</li>
            <li>突然死ありの場合：日付更新時のセット先はなしです。（投票しないまま更新時刻を迎えると突然死します。）</li>
        </ul>
    </li>
    <li id="anchor">アンカー
        <ul>
            <li>>>1 の形式で白発言へのアンカーが付けられます。</li>
            <li>>>=1 の形式で共鳴発言へのアンカーが付けられます。</li>
            <li>>>+1 の形式で墓下発言へのアンカーが付けられます。</li>
            <li>>>@1 の形式で見学発言へのアンカーが付けられます。</li>
            <li>>>*1 の形式で囁きへのアンカーが付けられます。</li>
            <li>>>_1 の形式で念話へのアンカーが付けられます。</li>
            <li>>>?1 の形式で恋人発言へのアンカーが付けられます。</li>
            <li>>>#1 の形式で村建て発言へのアンカーが付けられます。</li>
            <li>>>a1 の形式でアクションへのアンカーが付けられます。</li>
            <li>>>-1 の形式で独り言へのアンカーが付けられます。（エピローグ後のみ）</li>
            <li>>>s1 の形式で秘話へのアンカーが付けられます。（エピローグ後のみ）</li>
            <li>いずれのアンカーも自分が見ることのできない発言はクリックしてもアンカー先を表示できません。</li>
        </ul>
    </li>
    <li id="default-org">役職配分
        <ul>
            <li>村建て時に変更可能です。デフォルトは以下のようになっています。（ダミーは必ず村人になります）</li>
            <li>08-09人：ダ1 狼2 賢1導1 村3-4</li>
            <li>10-11人：ダ1 狼2狂1 賢1導1狩1 村3-4</li>
            <li>12-13人：ダ1 狼3狂1 賢1導1狩1 村4-5</li>
            <li>14-15人：ダ1 狼3魔1 狐1 賢1導1狩1 霊5-6</li>
            <li>16-17人：ダ1 狼3魔1 狐1 賢1導1狩1共2 霊5-6</li>
            <li>18-20人：ダ1 狼4魔1 狐1 賢1導1狩1共2 霊6-8</li>
            <li>闇鍋編成にした場合、1日目に役職が決定した後も編成の内訳は公開されません。</li>
            <li>ただし、以下は保証されています。
                <ul>
                    <li>人狼カウント役職が1名以上</li>
                    <li>人狼カウント役職の人数+1 ＜ 人間カウント役職の人数</li>
                    <li>恋人と同棲者はそれぞれ偶数</li>
                    <li>妖狐系なしで背徳者・陰陽師がいる、パン屋なしで餡麺麭者がいるなど、即死する役職が存在しない</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="random-organization">闇鍋編成
        <ul>
            <li>村設定で闇鍋編成となっている場合、陣営や役職ごとに細かく配分設定ができ、以下のように編成が決定されます。</li>
            <li>役職ごとに最少人数が1名以上で設定されている場合、先に確保します。</li>
            <li>次に、陣営の最少人数が1名以上で設定されている場合、先に確保します。</li>
            <li>残りは、一人ずつ陣営を抽選 → 陣営内の役職を抽選します。</li>
            <li>陣営、役職ともに、配分の値が高いほど抽選率が上がります。</li>
            <li>陣営の抽選率＝[陣営の配分 / 全陣営の配分の合計]です。</li>
            <li>役職の抽選率＝[役職の配分 / 陣営内の役職の配分の合計]です。</li>
            <li>割り振った結果以下の条件を1つでも満たすと50回まで再抽選しますが、50回で決まらなかった場合1日目開始時にエラーとなります。
                <ul>
                    <li>2日目にPP発生</li>
                    <li>人狼カウントの最少最多設定を満たしていない</li>
                    <li>恋人や同棲者が奇数</li>
                    <li>妖狐系なしで背徳者・陰陽師がいる、パン屋なしで餡麺麭者がいるなど、即死する役職がある</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="skill-request">役職希望
        <ul>
            <li>ダミーキャラ（2日目に人狼に襲撃される人）は必ず村人となります。</li>
            <li>村建て時に役職希望を無効にした場合、全員がおまかせ扱いになります。</li>
            <li>役職希望ありの場合、第1希望、第2希望それぞれ役職や陣営などを指定することができます。</li>
            <li>おまかせ系の希望は、役職指定での希望よりも後で役職が割り振られます。</li>
            <li>おまかせ（村人陣営、人狼陣営、恋人陣営、妖狐陣営、愉快犯陣営）は、<a href="#camp">陣営</a>に属する役職の希望となります。
            </li>
            <li>おまかせ（人外）は、人狼陣営＋妖狐陣営＋愉快犯陣営の役職の希望となります。</li>
            <li>おまかせ（足音職）は、人狼系、狂人系、占い師系、狩人、妖狐の希望となります。</li>
            <li>おまかせ（役職窓あり）は、人狼系、C国狂人、共鳴者、恋人、同棲者の希望となります。おまかせ（役職窓なし）は逆です。</li>
            <li>1日目に移行する際、以下の処理で配役が決定されます。
                <ul>
                    <li>1. 人数に応じて構成が変化するため、以下のように自動で希望が変更されます。
                        <ul>
                            <li>ダミーを除いて村人が0名で、霊能者が1名以上存在する場合は、村人→霊能者に変更</li>
                            <li>霊能者が0名で、村人がダミーを除いて1名以上存在する場合は、霊能者→村人に変更</li>
                            <li>占い師と賢者は、存在しない場合、存在する側に変更</li>
                            <li>狂人とC国狂人と狂信者と魔神官は、存在しない場合、C狂>狂信>魔>狂の順で探して存在する役職に変更</li>
                            <li>上記以外で構成上存在しない役職を希望していた場合はおまかせに変更</li>
                        </ul>
                    </li>
                    <li>2. 上記自動変更後、第1希望がおまかせ、第2希望がおまかせ以外の場合は、第1希望と第2希望を入れ替え</li>
                    <li>3. 第1希望のうち、役職指定で希望した人を割り振り</li>
                    <li>4. 第1希望のうち、おまかせ系で希望した人を割り振り</li>
                    <li>5. 第2希望のうち、役職指定で希望した人を割り振り</li>
                    <li>6. 第2希望のうち、おまかせ系で希望した人を割り振り</li>
                    <li>7. ここまでで割り振られなかった人（おまかせもしくは希望が叶わなかった人）を割り振り</li>
                </ul>
            </li>
            <li>G国にあった「初参加者は強制村人希望」「30%の確率でおまかせになる」仕様はありません。</li>
        </ul>
    </li>
    <li id="spectate">見学
        <ul>
            <li>村建て時に見学入村を可能にしていると見学入村できます。</li>
            <li>見学で入村すると、1日目から死亡扱いとなり、墓下＋見学者同士でのみ会話が可能となります。（地上からは発言は見えません）</li>
            <li>見学入村できる最大人数はキャラチップにより異なります。[キャラチップ人数 - 村定員]人まで見学入村が可能です。</li>
            <li>例えば、キャラセットで人狼BBSを選択し、定員を17名にしていた場合は32-17=15名まで見学入村が可能です。</li>
        </ul>
    </li>
    <li id="producer">プロデューサー
        <ul>
            <li>村建て時にプロデューサー機能をありにしていると、村建てがプロデューサー機能を持ち、通常入村ができなくなります。</li>
            <li>プロデューサー機能
                <ul>
                    <li>参加者がどのプレイヤーかを把握できます。</li>
                    <li>独り言を含め、全ての発言・メッセージが見られます。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="say">発言
        <ul>
            <li>1発言につき400文字20行まで発言できます。</li>
            <li>村建て発言は、1発言につき1000文字40行まで発言できます。</li>
            <li>発言制限が設定されている村では、発言できる最大文字数と1日のうちに発言できる回数が制限されます。</li>
            <li>ランダム機能については、その他 - ランダム機能を参照してください。</li>
        </ul>
    </li>
    <li id="action">アクション
        <ul>
            <li>1発言につき400文字まで発言できます。</li>
            <li>発言制限が設定されている村では、発言できる最大文字数と1日のうちに発言できる回数が制限されます。</li>
            <li>ランダム機能については、その他 - ランダム機能を参照してください。</li>
        </ul>
    </li>
    <li id="change-name">名前変更・簡易メモ
        <ul>
            <li>名前は40文字まで、略称は1文字、簡易メモは20文字まで入力することができます。</li>
            <li>推理に繋がる内容を記載しないでください。</li>
            <li>簡易メモは状況 - 参加者欄にのみ表示されます。</li>
        </ul>
    </li>
    <li id="commit">コミット
        <ul>
            <li>設定でコミットありになっている村では、ダミー以外の生存者全員がコミットすることで次の日に進めることができます。</li>
            <li>誰がコミットしているかは周りからわかりません。現在コミットしている人数のみ表示されます。</li>
            <li>コミットは取り下げることもできます。ただし、他全員がコミット済みの場合はすぐに次の日に進むため取り下げることはできません。</li>
            <li>コミットにより次の日に進んだ場合、次の日がその分長くなります。（つまり、次の更新日時は本来の更新日時のままです。）</li>
        </ul>
    </li>
    <li id="tensei">転生
        <ul>
            <li>転生者やトラックの能力などによりランダムな役職に転生する場合、選ばれる役職は以下のように決定されます。
                <ul>
                    <li>恋人、同棲者など、ペアで編成されることが前提となる役職は選択されません。</li>
                    <li>村建てオプションで転生先役職が「全ての役職」になっている村では、上記ペア役職以外の全ての役職から選択されます。</li>
                    <li>村建てオプションで転生先役職が「編成に存在する役職」になっている村では、以下のように選択されます。
                        <ul>
                            <li>
                                固定編成の場合は、編成に含まれる役職から選択されます（例えば17人村で、16人編成に含まれて17人編成に含まれない役職などは選択されません）。
                            </li>
                            <li>闇鍋編成の場合は、「配分」が0でない役職から等確率でランダムに選択されます（最多数は無視されます）。</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>後述する「役職変化」についても参照ください。</li>
        </ul>
    </li>
    <li id="change-skill">役職変化
        <ul>
            <li>転生者、申し子、トラック、死霊術師など、役職が変化した場合の処理やルールについて記載します。</li>
            <li>役職が変化すると、勝敗判定の陣営も役職に応じて変更されます。ただし、恋絆や狐憑きなど、陣営変化ステータスが優先されます。</li>
            <li>役職変化しても恋絆や狐憑きなどのステータスは削除されません。</li>
            <li>役職変化後は、過去の役職のシステムメッセージを見ることはできません。</li>
            <li>役職変化前にセットしていた能力は、役職変化後に処理順を迎える場合、不発します。
                <ul>
                    <li>例. パン屋が強制転生により他役職に変化した場合、パン屋メッセージは表示されません。</li>
                </ul>
            </li>
            <li>役職変更前後のCOや結果報告については、現在の役職で参照できる情報のみCO及び結果発表を可とします。
                <ul>
                    <li>導師→人狼に変化した場合、導師のときに知った情報は報告してはいけません。</li>
                    <li>探偵→導師に変化した場合、導師として参照できる情報はCOして報告できますが、探偵のときに知った情報は報告してはいけません。</li>
                    <li>魔神官→人狼→導師に変化した場合、魔神官のときに知った情報も導師COして報告できます（導師でも参照できるため）。</li>
                    <li>役職窓など、通常発言以外であれば何を話しても問題ありません。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="process">流れ
        <ul>
            <li>プロローグ
                <ul>
                    <li>更新時間までに最少開始人数が揃っていた場合、更新時間に1日目に遷移します。</li>
                    <li>24時間ログイン状態でのアクセスがない参加者は自動で村を去ります。</li>
                </ul>
            </li>
            <li>1日目
                <ul>
                    <li>部屋および役職が各個に割り当てられます。</li>
                    <li>見学者が墓下へ移動し、生存者と会話できなくなります。（オプションで変更可能です）</li>
                    <li>投票および処刑はありません。</li>
                    <li>人狼の襲撃対象はダミーキャラ固定になります。襲撃担当者および経路は選択できます。</li>
                </ul>
            </li>
            <li>2日目以降
                <ul>
                    <li>能力行使した内容に応じて部屋に足音が響きます。</li>
                    <li>処刑するための投票先を選択できるようにます。</li>
                    <li>人狼が襲撃対象を選択できるようになります。</li>
                    <li>日付更新時、勝利条件に当てはまった場合はエピローグに遷移します。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="process-order">日付更新時の処理順
        <ol style="-webkit-padding-start: 20px;">
            <li style="padding-left: 5px;">
                文字装飾系（
                <a href="#rainbow">虹塗り</a>、
                <a href="#loudspeaker">拡声</a>、
                <a href="#tatsuya">濁点</a>、
                <a href="#legendassassin">道化</a>、
                <a href="#clown">殺し屋化</a>、
                <a href="#translator">翻訳</a>）
            </li>
            <li style="padding-left: 5px;"><a href="#hiyasichuka">冷やし中華</a></li>
            <li style="padding-left: 5px;"><a href="#suddenly-death">突然死</a></li>
            <li style="padding-left: 5px;">
                陣営変化系（
                <a href="#separator">破局</a>、
                <a href="#thiefcat">恋泥棒</a>、
                <a href="#courtship">求愛</a>、
                <a href="#stalker">ストーキング</a>、
                <a href="#jorogumo">絡新婦</a>による誘惑、
                <a href="#badgergame">美人局</a>による誘惑、
                <a href="#cheaterfox">誑狐</a>による誑かし、
                <a href="#abetter">教唆者</a>による教唆、
                <a href="#pastor">牧師</a>
                による説得）
            </li>
            <li style="padding-left: 5px;"><a href="#insurancer">保険屋</a>による保険勧誘</li>
            <li style="padding-left: 5px;"><a href="#curser">呪縛者</a>、<a href="#cursecounter">反呪者</a>による符貼り付け
            </li>
            <li style="padding-left: 5px;"><a href="#telefox">念狐</a>による念力付与</li>
            <li style="padding-left: 5px;">
                設置系（
                <a href="#bomber">爆弾</a>、
                <a href="#trapper">罠</a>）
                の設置
            </li>
            <li style="padding-left: 5px;"><a href="#revolutionary">革命者</a>による革命宣言</li>
            <li style="padding-left: 5px;"><a href="#mermaid">魅惑の人魚</a>のナマ足</li>
            <li style="padding-left: 5px;"><a href="#vote">処刑</a>（処刑死）</li>
            <li style="padding-left: 5px;">
                護衛系（
                <a href="#hunter">狩人</a>、
                <a href="#wanderer">風来狩人</a>、
                <a href="#wallpuncher">壁殴り代行</a>
                ）の護衛
            </li>
            <li style="padding-left: 5px;"><a href="#cloudy">曇天者</a>の曇天</li>
            <li style="padding-left: 5px;">
                占い系（
                <a href="#omniscience">全知</a>、
                <a href="#seer">占い師</a>、
                <a href="#wise">賢者</a>、
                <a href="#astrologer">占星術師</a>、
                <a href="#flowerseer">花占い師</a>、
                <a href="#sixthsensor">感覚者</a>、
                <a href="#detectseer">興信者</a>、
                <a href="#kudafox">管狐</a>
                の占い（全知以降はランダム順）（呪殺、逆呪殺）
            </li>
            <li style="padding-left: 5px;">
                死者占い系（<a href="#rememberseer">覚者</a>）の占い
            </li>
            <li style="padding-left: 5px;">
                探偵系（
                <a href="#detective">探偵</a>、
                <a href="#evildetective">闇探偵</a>、
                <a href="#observer">監視者</a>
                ）の捜査（逆呪殺）
            </li>
            <li style="padding-left: 5px;">
                霊能系（
                <a href="#medium">霊能</a>、
                <a href="#guru">導師</a>、
                <a href="#evilmedium">魔神官</a>、
                <a href="#inari">稲荷</a>
                ）の霊視
            </li>
            <li style="padding-left: 5px;"><a href="#cohabiter">同棲者</a>が移動</li>
            <li style="padding-left: 5px;">
                襲撃系（
                人狼の<a href="#werewolf">襲撃</a>、
                強面の男性の<a href="#badgergame">襲撃</a>、
                <a href="#lonewolf">一匹狼</a>、<a href="#rampagewolf">暴狼</a>の単独襲撃、
                マタギの<a href="#matagi">狩猟</a>、
                勇者の<a href="#hero">討伐</a>、
                バールの<a href="#bar">殴打</a>
                ）処理（襲撃死）
            </li>
            <li style="padding-left: 5px;">
                設置系（
                <a href="#trapper">罠</a>、
                <a href="#bomber">爆弾</a>
                ）の起動（罠死、爆死）
            </li>
            <li style="padding-left: 5px;">
                事故系（
                <a href="#pushpin">画鋲</a>、
                <a href="#drawers">箪笥</a>
                ）（雑魚死）
            </li>
            <li style="padding-left: 5px;"><a href="#normie">リア充</a>の爆発</li>
            <li style="padding-left: 5px;">無惨メッセージ</li>
            <li style="padding-left: 5px;"><a href="#coroner">検死</a></li>
            <li style="padding-left: 5px;">
                役職変化系（
                <a href="#truck">トラック</a>の強制転生、
                <a href="#baba">ババ</a>の役職交換、
                <a href="#winner">当選者</a>の役職交換
                ）
            </li>
            <li style="padding-left: 5px;">
                他者蘇生系（
                <a href="#resuscitator">蘇生者</a>の蘇生、
                <a href="#necromancer">死霊術師</a>の死霊蘇生、
                <a href="#onmyoji">陰陽師</a>の降霊、
                <a href="#poseidon">海王者</a>の人魚化蘇生
                ）の蘇生（ランダム順）
            </li>
            <li style="padding-left: 5px;">
                自己蘇生系（
                <a href="#absolutewolf">絶対人狼</a>、
                <a href="#hero">勇者</a>、
                <a href="#reincarnation">転生者</a>、
                <a href="#heavenchild">申し子</a>、
                <a href="#anpanman">餡麺麭者</a>
                ）の復活（転生者と申し子はランダム順）
            </li>
            <li style="padding-left: 5px;">ステータス「<a href="#insurance">保険</a>」による復活</li>
            <li style="padding-left: 5px;">絶対人狼、勇者、梟の存在通知</li>
            <li>蘇生された突然死者の再突然死</li>
            <li style="padding-left: 5px;">
                後追い系（
                <a href="#status">恋絆</a>、
                <a href="#wallpuncher">壁殴り代行</a>、
                <a href="#anpanman">餡麺麭者</a>、
                <a href="#immoral">背徳者</a>
                <a href="#onmyoji">陰陽師</a>、
                <a href="#fox_possession">狐憑き</a>
                ）の後追い
            </li>
            <li style="padding-left: 5px;"><a href="#epilogue-condition">勝敗判定</a></li>
            <li style="padding-left: 5px;"><a href="#bakery">パン屋</a></li>
            <li style="padding-left: 5px;"><a href="#gonfox">ごん</a></li>
            <li style="padding-left: 5px;"><a href="#dyingpointer">不止者</a>の指差し</li>
            <li style="padding-left: 5px;"><a href="#falsecharges">冤罪者</a>、<a href="#guilter">濡衣者</a>の足音発生
            </li>
            <li style="padding-left: 5px;">生存者、足音の報告</li>
            <li style="padding-left: 5px;"><a href="#fruitsbasket">フルーツバスケット</a></li>
            <li style="padding-left: 5px;">能力行使と足音のデフォルト登録</li>
        </ol>
    </li>
</ul>
</body>
</html>



