<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<ul id="detail" class="announce" layout:fragment="detail">
    <li id="attitude">基本的な心構え
        <ul>
            <li>他国と大きく変わりありませんし、あえて長々と記載しません。他者への礼節を欠くような行為は避けてください。</li>
            <li>途中放棄、突然死については、他国よりも厳しい対処とする可能性があります。</li>
        </ul>
    </li>
    <li id="suddenly-death">突然死
        <ul>
            <li>村の設定で突然死を無しにしている場合、突然死しません。</li>
            <li>突然死ありの場合、進行中の日付更新のタイミングで、投票していなかった生存者が突然死します。
                <ul>
                    <li>他国と異なり、発言する必要はありません。</li>
                </ul>
            </li>
            <li>突然死の対象となる参加者は、「本日まだ投票していない者は、・・・」という表現でログの最後に表示されます。</li>
            <li>突然死者の投票は無効票となります。</li>
            <li>占い師や賢者が突然死した場合、占いは行われません。（したがって、呪殺も起きません。）</li>
            <li>狩人が突然死した場合、護衛は行われません。</li>
            <li>人狼が突然死した場合、他に人狼が生存していればセットした通りに襲撃が実施されます。</li>
            <li>突然死者のセットしていた足音については、セットした通りに響きます。</li>
            <li>突然死者はエピローグ以外で一切の発言ができなくなり、以後別の村に入村もできなくなります。
                <ul>
                    <li>突然死した方は国主まで直接ご連絡ください。会話させていただいたのち入村制限解除とします。</li>
                    <li>連絡いただければ基本的に制限解除しますが、改善が見込めない場合など、解除しない場合があります。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="vote">投票
        <ul>
            <li>2日目から投票による処刑が始まります。</li>
            <li>突然死無しの場合：日付更新時のセット先は自投票です。</li>
            <li>突然死ありの場合：日付更新時のセット先はなしです。（投票しないまま更新時刻を迎えると突然死します。）</li>
        </ul>
    </li>
    <li id="anchor">アンカー
        <ul>
            <li>>>1 の形式で白発言へのアンカーが付けられます。</li>
            <li>>>=1 の形式で共鳴発言へのアンカーが付けられます。</li>
            <li>>>+1 の形式で墓下発言へのアンカーが付けられます。</li>
            <li>>>@1 の形式で見学発言へのアンカーが付けられます。</li>
            <li>>>*1 の形式で囁きへのアンカーが付けられます。</li>
            <li>>>#1 の形式で村建て発言へのアンカーが付けられます。</li>
            <li>>>a1 の形式でアクションへのアンカーが付けられます。</li>
            <li>>>-1 の形式で独り言へのアンカーが付けられます。（エピローグ後のみ）</li>
            <li>いずれのアンカーも自分が見ることのできない発言はクリックしてもアンカー先を表示できません。</li>
        </ul>
    </li>
    <li id="default-org">役職配分
        <ul>
            <li>村建て時に変更可能です。デフォルトは以下のようになっています。（ダミーは必ず村人になります）</li>
            <li>08-09人：ダ1 狼2 賢1導1 村3-4</li>
            <li>10-11人：ダ1 狼2狂1 賢1導1狩1 村3-4</li>
            <li>12-13人：ダ1 狼3狂1 賢1導1狩1 村4-5</li>
            <li>14-15人：ダ1 狼3魔1 狐1 賢1導1狩1 霊5-6</li>
            <li>16-17人：ダ1 狼3魔1 狐1 賢1導1狩1共2 霊5-6</li>
            <li>18-20人：ダ1 狼4魔1 狐1 賢1導1狩1共2 霊6-8</li>
            <li>闇鍋編成にした場合、1日目に役職が決定した後も編成の内訳は公開されません。</li>
            <li>ただし、以下は保証されています。
                <ul>
                    <li>人狼カウント役職が1名以上</li>
                    <li>人狼カウント役職の人数+1 ＜ 人間カウント役職の人数</li>
                    <li>恋人と同棲者はそれぞれ偶数</li>
                    <li>妖狐系なしで背徳者がいるなど、勝利できない役職が存在しない</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="skill-request">役職希望
        <ul>
            <li>ダミーキャラ（2日目に人狼に襲撃される人）は必ず村人となります。</li>
            <li>村建て時に役職希望を無効にした場合、全員がおまかせ扱いになります。</li>
            <li>役職希望ありの場合、第1希望、第2希望それぞれ役職や陣営などを指定することができます。</li>
            <li>おまかせ系の希望は、役職指定での希望よりも後で役職が割り振られます。</li>
            <li>おまかせ（村人陣営、人狼陣営、恋人陣営、妖狐陣営、愉快犯陣営）は、<a href="#camp">陣営</a>に属する役職の希望となります。
            </li>
            <li>おまかせ（人外）は、人狼陣営＋妖狐陣営＋愉快犯陣営の役職の希望となります。</li>
            <li>おまかせ（足音職）は、人狼系、狂人系、占い師系、狩人、妖狐の希望となります。</li>
            <li>おまかせ（役職窓あり）は、人狼系、C国狂人、共鳴者、恋人、同棲者の希望となります。おまかせ（役職窓なし）は逆です。</li>
            <li>1日目に移行する際、以下の処理で配役が決定されます。
                <ul>
                    <li>1. 人数に応じて構成が変化するため、以下のように自動で希望が変更されます。
                        <ul>
                            <li>ダミーを除いて村人が0名で、霊能者が1名以上存在する場合は、村人→霊能者に変更</li>
                            <li>霊能者が0名で、村人がダミーを除いて1名以上存在する場合は、霊能者→村人に変更</li>
                            <li>占い師と賢者は、存在しない場合、存在する側に変更</li>
                            <li>狂人とC国狂人と狂信者と魔神官は、存在しない場合、C狂>狂信>魔>狂の順で探して存在する役職に変更</li>
                            <li>上記以外で構成上存在しない役職を希望していた場合はおまかせに変更</li>
                        </ul>
                    </li>
                    <li>2. 上記自動変更後、第1希望がおまかせ、第2希望がおまかせ以外の場合は、第1希望と第2希望を入れ替え</li>
                    <li>3. 第1希望のうち、役職指定で希望した人を割り振り</li>
                    <li>4. 第1希望のうち、おまかせ系で希望した人を割り振り</li>
                    <li>5. 第2希望のうち、役職指定で希望した人を割り振り</li>
                    <li>6. 第2希望のうち、おまかせ系で希望した人を割り振り</li>
                    <li>7. ここまでで割り振られなかった人（おまかせもしくは希望が叶わなかった人）を割り振り</li>
                </ul>
            </li>
            <li>G国にあった「初参加者は強制村人希望」「30%の確率でおまかせになる」仕様はありません。</li>
        </ul>
    </li>
    <li id="spectate">見学
        <ul>
            <li>村建て時に見学入村を可能にしていると見学入村できます。</li>
            <li>見学で入村すると、1日目から死亡扱いとなり、墓下＋見学者同士でのみ会話が可能となります。（地上からは発言は見えません）</li>
            <li>見学入村できる最大人数はキャラチップにより異なります。[キャラチップ人数 - 村定員]人まで見学入村が可能です。</li>
            <li>例えば、キャラセットで人狼BBSを選択し、定員を17名にしていた場合は32-17=15名まで見学入村が可能です。</li>
        </ul>
    </li>
    <li id="say">発言
        <ul>
            <li>1発言につき400文字20行まで発言できます。</li>
            <li>村建て発言は、1発言につき1000文字40行まで発言できます。</li>
            <li>発言制限が設定されている村では、発言できる最大文字数と1日のうちに発言できる回数が制限されます。</li>
            <li>ランダム機能については、その他 - ランダム機能を参照してください。</li>
        </ul>
    </li>
    <li id="action">アクション
        <ul>
            <li>1発言につき400文字まで発言できます。</li>
            <li>発言制限が設定されている村では、発言できる最大文字数と1日のうちに発言できる回数が制限されます。</li>
            <li>ランダム機能については、その他 - ランダム機能を参照してください。</li>
        </ul>
    </li>
    <li id="change-name">名前変更・簡易メモ
        <ul>
            <li>名前は40文字まで、略称は1文字、簡易メモは20文字まで入力することができます。</li>
            <li>推理に繋がる内容を記載しないでください。</li>
            <li>簡易メモは状況 - 参加者欄にのみ表示されます。</li>
        </ul>
    </li>
    <li id="commit">コミット
        <ul>
            <li>設定でコミットありになっている村では、ダミー以外の生存者全員がコミットすることで次の日に進めることができます。</li>
            <li>誰がコミットしているかは周りからわかりません。現在コミットしている人数のみ表示されます。</li>
            <li>コミットは取り下げることもできます。ただし、他全員がコミット済みの場合はすぐに次の日に進むため取り下げることはできません。</li>
            <li>コミットにより次の日に進んだ場合、次の日がその分長くなります。（つまり、次の更新日時は本来の更新日時のままです。）</li>
        </ul>
    </li>
    <li id="process">流れ
        <ul>
            <li>プロローグ
                <ul>
                    <li>更新時間までに最少開始人数が揃っていた場合、更新時間に1日目に遷移します。</li>
                    <li>24時間ログイン状態でのアクセスがない参加者は自動で村を去ります。</li>
                </ul>
            </li>
            <li>1日目
                <ul>
                    <li>部屋および役職が各個に割り当てられます。</li>
                    <li>見学者が墓下へ移動し、生存者と会話できなくなります。（オプションで変更可能です）</li>
                    <li>投票および処刑はありません。</li>
                    <li>人狼の襲撃対象はダミーキャラ固定になります。襲撃担当者および経路は選択できます。</li>
                    <li>占い師、賢者は占い対象を選択できます。</li>
                    <li>狂人、魔神官、C国狂人、狂信者、妖狐は徘徊する部屋を選択できます。</li>
                    <li>狩人、探偵は能力行使できません。</li>
                </ul>
            </li>
            <li>2日目以降
                <ul>
                    <li>能力行使した内容に応じて部屋に足音が響きます。</li>
                    <li>処刑するための投票先を選択できるようにます。</li>
                    <li>人狼が襲撃対象を選択できるようになります。</li>
                    <li>狩人が護衛対象を選択できるようになります。</li>
                    <li>探偵が調査対象を選択できるようになります。</li>
                    <li>日付更新時、勝利条件に当てはまった場合はエピローグに遷移します。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="process-order">日付更新時の処理順
        <ol style="-webkit-padding-start: 20px;">
            <li style="padding-left: 5px;">虹塗り</li>
            <li style="padding-left: 5px;">突然死</li>
            <li style="padding-left: 5px;">誑狐による誑かし</li>
            <li style="padding-left: 5px;">求愛</li>
            <li style="padding-left: 5px;">ストーキング</li>
            <li style="padding-left: 5px;">絡新婦による誘惑</li>
            <li style="padding-left: 5px;">美人局による誘惑</li>
            <li style="padding-left: 5px;">処刑</li>
            <li style="padding-left: 5px;">狩人、風来狩人の護衛</li>
            <li style="padding-left: 5px;">壁殴り</li>
            <li style="padding-left: 5px;">占い（呪殺）</li>
            <li style="padding-left: 5px;">捜査</li>
            <li style="padding-left: 5px;">霊能</li>
            <li style="padding-left: 5px;">同棲者が移動</li>
            <li style="padding-left: 5px;">襲撃</li>
            <li style="padding-left: 5px;">美人局による襲撃</li>
            <li style="padding-left: 5px;">一匹狼の単独襲撃</li>
            <li style="padding-left: 5px;">罠</li>
            <li style="padding-left: 5px;">爆弾</li>
            <li style="padding-left: 5px;">検死</li>
            <li style="padding-left: 5px;">絶対人狼、転生者、申し子の復活</li>
            <li style="padding-left: 5px;">恋絆、壁殴り代行、背徳者、狐憑きの後追い</li>
            <li style="padding-left: 5px;">勝敗判定</li>
            <li style="padding-left: 5px;">パン屋</li>
            <li style="padding-left: 5px;">冤罪者の足音発生</li>
            <li style="padding-left: 5px;">生存者、足音の報告</li>
            <li style="padding-left: 5px;">フルーツバスケット</li>
            <li style="padding-left: 5px;">能力行使と足音のデフォルト登録</li>
        </ol>
    </li>
</ul>
</body>
</html>



