<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<body>
	<ul id="mansion" class="announce" layout:fragment="mansion">
		<li class="text-danger"><strong>白ログでの推理発言、まとめ行為、CO禁止です。（グレラン村）</strong>
			<ul>
				<li>役職持ち、騙り含め全てのCOおよび結果報告が禁止となります。</li>
			</ul></li>
		<li><strong class="text-danger">ただし、導師と探偵のみCOおよび能力行使結果を白ログで報告することができます。（結果騙りもOKとします。）</strong>
			<ul>
				<li>導師と探偵も白ログでの推理やまとめ行為は禁止です。</li>
				<li>当然ながら、役職者騙りも禁止です。</li>
				<li>墓下と地上で会話ができる村設定の場合は、死亡後のCO及び結果の報告は禁止です。</li>
				<li>これらの禁止行為は通常村でのルールとなります。村ごとに定めたルールがある場合はそちらが優先されます。</li>
			</ul></li>
		<li>1日目になると、各参加者に碁盤の目のように並んだ部屋のいずれかが割り振られます。
			<ul>
				<li><img th:src="@{/app/images/rule/rule01.png}" width="200" /></li>
			</ul>
		</li>
		<li>以下の能力を発動すると、「通過した部屋」に足音が響き、翌日朝に纏めて報告されます。
			<ul>
				<li>占い師による占い</li>
				<li>狼による襲撃</li>
				<li>狩人による護衛</li>
				<li>狂人、C国狂人、魔神官、狂信者、妖狐による徘徊（任意）</li>
			</ul>
		</li>
		<li>部屋移動と響く足音について、以下のルールがあります。
			<ul>
				<li>行動対象に向かって縦横の最短距離で移動し、通過する部屋に足音が響きます。
					<ul>
						<li>曲がる必要がある場合は1回曲がる経路のうちどちらかを選択できます。</li>
						<li>部屋が隣接している場合は足音は響きません。</li>
						<li>生存者のいない部屋は足音が響きません。</li>
					</ul>
				</li>
				<li>人狼は襲撃者を選択することができます。<br> ただし、設定で同一人狼による連続襲撃が不可となっている村では、人狼が複数生存している場合、連続で同じ人狼が襲撃することはできません。
				</li>
				<li>狂人、C国狂人、魔神官、狂信者、妖狐は自分の部屋からに限らず、どの部屋からどの部屋まで徘徊するか自由に選択できます。
					<ul>
						<li>ただし、直線上にしか徘徊することはできません。</li>
						<li>通過した部屋だけでなく、徘徊した部屋全てに足音が響きます。</li>
					</ul>
				</li>
				<li>狂人、C国狂人、魔神官、狂信者、妖狐は「徘徊しない」こともできます。</li>
				<li>翌日足音が報告される順番はランダムで、部屋番号は若い順です。</li>
				<li>翌日に能力者、襲撃担当者が死亡していてもセットした通りに足音が響きます。</li>
			</ul>
		</li>
	</ul>
</body>
</html>



