<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<body>
	<ul id="other" class="announce" layout:fragment="other">
		<li id="random-message">発言ランダム機能
			<ul class="announce">
				<li>&#091;&#091;XdY&#093;&#093;でY面ダイスをX個振れます。
					<ul>
						<li>&#091;&#091;2d6&#093;&#093; → (3)(5)<span class="extra-small">&#091;&#091;2d6&#093;&#093;</span></li>
						<li>X:1~9, Y:1~99999</li>
					</ul>
				</li>
				<li>&#091;&#091;fortune&#093;&#093;で0~100までの数字をランダムで表示します。
					<ul>
						<li>&#091;&#091;fortune&#093;&#093; → 99<span class="extra-small">&#091;&#091;fortune&#093;&#093;</span></li>
					</ul>
				</li>
				<li>&#091;&#091;XXXorYYYorZZZ&#093;&#093;でorで区切った文字列のいずれかをランダムで表示します。
					<ul>
						<li>&#091;&#091;オレサマorゲルトorマルカジリ&#093;&#093; → マルカジリ<span class="extra-small">&#091;&#091;オレサマorゲルトorマルカジリ&#093;&#093;</span></li>
					</ul>
				</li>
				<li>&#091;&#091;who&#093;&#093;で生存者のいずれかをランダムで表示します。
					<ul>
						<li>&#091;&#091;who&#093;&#093; → 司書 クララ<span class="extra-small">&#091;&#091;who&#093;&#093;</span></li>
					</ul>
				</li>
				<li>&#091;&#091;allwho&#093;&#093;で見学含む参加者のいずれかをランダムで表示します。
					<ul>
						<li>&#091;&#091;allwho&#093;&#093; → 楽天家 ゲルト<span class="extra-small">&#091;&#091;allwho&#093;&#093;</span></li>
					</ul>
				</li>
				<li>他にも、<a th:href="@{/random-message}">ユーザー定義のランダム発言</a>を登録して使用することができます。
				</li>
			</ul>
		</li>
		<li id="message-decorate">文字装飾機能
			<ul class="announce">
				<li>&#091;&#091;#ff0000&#093;&#093;文字列&#091;&#091;/#&#093;&#093;で文字に色をつけられます。
					<ul>
						<li>&#091;&#091;#ff0000&#093;&#093;文字列&#091;&#091;/#&#093;&#093; → <span style="color: #ff0000;">文字列</span></li>
					</ul>
				</li>
				<li>&#091;&#091;large&#093;&#093;文字列&#091;&#091;/large&#093;&#093;で文字を大きくできます。
					<ul>
						<li>&#091;&#091;large&#093;&#093;文字列&#091;&#091;/large&#093;&#093; → <span style="font-size: 16px;">文字列</span></li>
					</ul>
				</li>
				<li>&#091;&#091;small&#093;&#093;文字列&#091;&#091;/small&#093;&#093;で文字を小さくできます。
					<ul>
						<li>&#091;&#091;small&#093;&#093;文字列&#091;&#091;/small&#093;&#093; → <span style="font-size: 10px;">文字列</span></li>
					</ul>
				</li>
				<li>&#091;&#091;b&#093;&#093;文字列&#091;&#091;/b&#093;&#093;で文字を太くできます。
					<ul>
						<li>&#091;&#091;b&#093;&#093;文字列&#091;&#091;/b&#093;&#093; → <strong>文字列</strong></li>
					</ul>
				</li>
				<li>&#091;&#091;s&#093;&#093;文字列&#091;&#091;/s&#093;&#093;で文字に打ち消し線をつけられます。
					<ul>
						<li>&#091;&#091;s&#093;&#093;文字列&#091;&#091;/s&#093;&#093; → <span style="text-decoration: line-through;">文字列</span></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>発言種別
			<div class="col-sm-12 col-xs-12 say-n1">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="row" style="display: flex;">
							<div style="width: 50px; height: 77px; background: url('/wolf-mansion/app/images/geruto.png'); background-repeat: no-repeat;"></div>
							<div class="message message-normal" style="flex: 1; margin-left: 5px;">通常発言です。全ての人が参照できます。</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 say-n1">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="row" style="display: flex;">
							<div style="width: 50px; height: 77px; background: url('/wolf-mansion/app/images/geruto.png'); background-repeat: no-repeat;"></div>
							<div class="message message-werewolf" style="flex: 1; margin-left: 5px;">囁き発言です。進行中は人狼とC国狂人だけが参照できます。</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 say-n1">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="row" style="display: flex;">
							<div style="width: 50px; height: 77px; background: url('/wolf-mansion/app/images/geruto.png'); background-repeat: no-repeat;"></div>
							<div class="message message-monologue" style="flex: 1; margin-left: 5px;">独り言です。進行中は自分だけが参照できます。</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 say-n1">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="row" style="display: flex;">
							<div style="width: 50px; height: 77px; background: url('/wolf-mansion/app/images/geruto.png'); background-repeat: no-repeat;"></div>
							<div class="message message-mason" style="flex: 1; margin-left: 5px;">共鳴発言です。進行中は共鳴者だけが参照できます。</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 say-n1">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="row" style="display: flex;">
							<div style="width: 50px; height: 77px; background: url('/wolf-mansion/app/images/geruto.png'); background-repeat: no-repeat;"></div>
							<div class="message message-grave" style="flex: 1; margin-left: 5px;">墓下発言です。進行中は死亡者と見学者だけが参照できます。（村の設定によっては、生存者も参照できます。）</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12 say-n1">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<div class="row" style="display: flex;">
							<div style="width: 50px; height: 77px; background: url('/wolf-mansion/app/images/geruto.png'); background-repeat: no-repeat;"></div>
							<div class="message message-spectate" style="flex: 1; margin-left: 5px;">見学発言です。進行中は死亡者と見学者だけが参照できます。（村の設定によっては、生存者も参照できます。）</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row">
					<div class="message col-sm-12 col-xs-12 message-public-system">システムメッセージです。全ての人が参照できます。</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12" data-message>
				<div class="row">
					<div class="message col-sm-12 col-xs-12 message-private-system">システムメッセージです。進行中は参照できません。（占い結果や霊能結果など、一部役職のみ確認可能なものもあります。）</div>
				</div>
			</div>
			<div class="col-sm-12 col-xs-12" data-message>
				<div class="row">
					<div class="message col-sm-12 col-xs-12 message-creator">村建て発言です。全ての人が参照できます。</div>
				</div>
			</div>
		</li>
		<li id="call-owner">国主の召喚方法
			<ul>
				<li>「＠国主」「@国主」をつけて発言すると、国主に発言内容が通知されます。（発言者、役職、発言種別等は通知されないので、必要であれば添えて発言してください。）</li>
				<li>もしくは、twitterで話しかけるとそれなりの速度で反応します。</li>
			</ul>
		</li>
	</ul>
</body>
</html>



