<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<body>
	<ul id="skill" class="announce" layout:fragment="skill">
		<li id="villager">村人
			<ul>
				<li>特別な能力はありません。</li>
			</ul>
		</li>
		<li id="seer">占い師
			<ul>
				<li>毎晩一人を占い、人間か人狼かを知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
				</li>
				<li>処刑により死亡した場合、足音は響きますが、占いは行われません。</li>
				<li>襲撃により死亡した場合、占いは実行され、足音も響きます。</li>
				<li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
				<li>日付更新時のセット先はランダムです。</li>
				<li>妖狐を占った場合死亡させることができます。（「人間」と判定されます。）</li>
				<li>呪狼を占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="wise">賢者
			<ul>
				<li>毎晩一人を占い、その人の役職を知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
				</li>
				<li>処刑により死亡した場合、足音は響きますが、占いは行われません。</li>
				<li>襲撃により死亡した場合、占いは実行され、足音も響きます。</li>
				<li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
				<li>日付更新時のセット先はランダムです。</li>
				<li>妖狐を占った場合死亡させることができます。</li>
				<li>呪狼を占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="astrologer">占星術師
			<ul>
				<li>毎晩一人を指定して占い、その人の部屋を中心とした3x3の部屋にいる人の役職構成を知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
				</li>
				<li>例. [11楽] 楽天家ゲルトの部屋を中心に占った。このあたりには、村人が1名、人狼が2名、占い師が1名、霊能者が5名いるようだ。</li>
				<li>知ることができる役職構成はすでに死亡している人も含められます。</li>
				<li>処刑により死亡した場合、足音は響きますが、占いは行われません。</li>
				<li>襲撃により死亡した場合、占いは実行され、足音も響きます。</li>
				<li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
				<li>日付更新時のセット先はランダムです。</li>
				<li>妖狐を中心に占った場合死亡させることができます。（中心でなく周辺の部屋にいた場合は死亡しません）</li>
				<li>呪狼を中心に占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。（中心でなく周辺の部屋にいた場合は死亡しません）</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="hunter">狩人
			<ul>
				<li>毎晩自分以外の一人を人狼の襲撃から守ることができます。<br>護衛すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
				</li>
				<li>処刑により死亡した場合、足音は響きますが、護衛は行われません。</li>
				<li>襲撃により死亡した場合、護衛は実行され、足音も響きます。</li>
				<li>「対象なし」はありません。必ず護衛対象を選択することになります。</li>
				<li>日付更新時のセット先はランダムです。</li>
				<li>護衛手応えはありません。</li>
				<li>設定で連続護衛不可となっている村では、同一人物を2日連続で護衛することができません。</li>
				<li>1日目はセットできません。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="detective">探偵
			<ul>
				<li>毎晩、昨晩響いた足音のうち一つを調査し、その足音を響かせた人の役職を知ることができます。</li>
				<li>例. 2日目に響いた足音のうち1つを選んでセットすると、3日目朝にどの役職が鳴らした足音かを知ることができます。</li>
				<li>足音「なし」については調査できません。</li>
				<li>例. 狂人がセットしなかった、隣接した部屋への襲撃、生存者がいないため響く足音がなくなったなど</li>
				<li>足音が1つも響かなかった日は能力をセットすることはできません。</li>
				<li>全く同じ足音が2つ以上響いていた場合、そのうちどれか1つがランダムで調査されます。</li>
				<li>例. 人狼、狂人の足音がどちらも12,13で12,13を調査対象とした場合、片方の調査結果だけが得られます。（=結果は人狼or狂人となります）</li>
				<li>探偵の調査により足音が発生することはありません。</li>
				<li>日付更新時のセット先はランダムです。</li>
				<li>1日目は足音がないためセットできません。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="trapper">罠師
			<ul>
				<li>2日目以降、全日を通して1回だけ、生存者がいる任意の部屋にその晩限りの罠を設置することができます。</li>
				<li>罠が設置された部屋を通過した人は無惨な死体となって発見されます。（セットしていた能力はそのまま行使されます）</li>
				<li>罠を設置した晩に、罠師、設置された部屋の人、通過した人のいずれが死亡しても、通過さえしていれば罠は作動します。</li>
				<li>ただし、罠師が突然死していた場合は罠は無効になります。</li>
				<li>一度も能力を使用しないこともできます。また、能力を使ったかどうかは自分以外にはわかりません。</li>
				<li>罠の設置により足音が発生することはありません。</li>
				<li>日付更新時のセット先は「なし」です。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="psychic">霊能者
			<ul>
				<li>処刑された・突然死した人物が人間であったか人狼であったかを知ることができます。（妖狐は人間判定です）</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="guru">導師
			<ul>
				<li>処刑された・突然死した人物の役職を知ることができます。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="bakery">パン屋
			<ul>
				<li>毎日おいしいパンを焼くことができます。</li>
				<li>パン屋が1名以上生存していると、朝に専用のシステムメッセージが表示されます。</li>
				<li>パン屋が全員死亡すると、朝に専用のシステムメッセージが表示されます。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="mason">共鳴者
			<ul>
				<li>共鳴者同士にしか聞こえない会話が可能です。</li>
				<li>村人陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="werewolf">人狼
			<ul>
				<li>人狼系役職とC国狂人同士にしか聞こえない会話が可能です。<br>また、毎晩一人を襲撃することができます。<br> 襲撃すると、襲撃者の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
				</li>
				<li>突然死や処刑により死亡した場合も襲撃担当者が変わることなく襲撃は実行されます（襲撃なしにはなりません）。（生存している人狼が0名になった場合は襲撃は実行されません）</li>
				<li>設定で同一人狼による連続襲撃不可となっている村では、人狼が複数生存している場合、2日連続で同じ人狼が襲撃することはできません。</li>
				<li>日付更新時の襲撃者およびセット先はランダムです。</li>
				<li>「襲撃なし」はありません。必ず襲撃対象を選択することになります。</li>
				<li>襲撃失敗の場合、護衛なのか妖狐襲撃なのかは判別できません。</li>
				<li>処刑された人物と同一人物を襲撃対象として選択していた場合も襲撃失敗になります。</li>
				<li>「●●！今日がお前の命日だ！」の発言者は生存している人狼からランダムで選ばれるため、襲撃セット時の襲撃者と異なることがあります。（襲撃者が死亡していることがあるため連動させていません）</li>
				<li>人狼陣営で、占霊判定はいずれも人狼となります。</li>
			</ul>
		</li>
		<li id="cursewolf">呪狼
			<ul>
				<li>占われると、占い能力を行使した側が死亡します。</li>
				<li>ただし、突然死や処刑されていた場合、占われていても占い能力を行使した人は死亡しません。</li>
				<li>他は人狼と同様です。</li>
			</ul>
		</li>
		<li id="wisewolf">智狼
			<ul>
				<li>自身が襲撃を担当し、襲撃成功すると、襲撃対象が何の役職であったか知ることができます。</li>
				<li>ただし、自身が突然死や処刑されていた場合は襲撃対象の役職を知ることができません。</li>
				<li>他は人狼と同様です。</li>
			</ul>
		</li>
		<li id="madman">狂人
			<ul>
				<li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
				<li>「足音なし」が可能です。</li>
				<li>日付更新時の足音セットは「なし」です。</li>
				<li>人狼陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="cmadman">C国狂人
			<ul>
				<li>人狼とC国狂人同士にしか聞こえない会話が可能です。</li>
				<li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
				<li>「足音なし」が可能です。</li>
				<li>日付更新時の足音セットは「なし」です。</li>
				<li>人狼陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="evilmedium">魔神官
			<ul>
				<li>処刑された・突然死した人物の役職を知ることができます。</li>
				<li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
				<li>「足音なし」が可能です。</li>
				<li>日付更新時の足音セットは「なし」です。</li>
				<li>人狼陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="fanatic">狂信者
			<ul>
				<li>人狼が誰なのかを知ることができます。（人狼からは自分が狂信者であることはわかりません）</li>
				<li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
				<li>「足音なし」が可能です。</li>
				<li>日付更新時の足音セットは「なし」です。</li>
				<li>人狼陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃により死亡します。</li>
			</ul>
		</li>
		<li id="fox">妖狐
			<ul>
				<li>人狼に襲撃されても死亡しませんが、占われると死亡します。</li>
				<li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
				<li>「足音なし」が可能です。</li>
				<li>日付更新時の足音セットは「なし」です。</li>
				<li>処理順は処刑→占い→襲撃となるため、占い師が処刑された場合、妖狐に占いをセットしていても妖狐は死亡しません。逆に、占い師が襲撃された場合でも妖狐に占いをセットしていた場合は妖狐は死亡します。</li>
				<li>妖狐陣営で、占霊判定はいずれも人間となります。なお、人狼の襲撃では死亡しません。</li>
			</ul>
		</li>
		<li id="bomber">爆弾魔
			<ul>
				<li>2日目以降、全日を通して1回だけ、生存者がいる任意の部屋にその晩限りの爆弾を設置することができます。</li>
				<li>爆弾が設置された部屋を誰かが通過した場合、通過した人と設置された部屋の人が無惨な死体となって発見されます。</li>
				<li>爆弾を設置した晩に、爆弾魔、設置された部屋の人、通過した人のいずれが死亡しても、通過さえしていれば爆弾は作動します。</li>
				<li>ただし、爆弾魔が突然死していた場合は爆弾は無効になります。</li>
				<li>爆弾により死亡した人がセットしていた能力はそのまま行使されます。</li>
				<li>爆弾を設置したのに爆弾が作動しなかった場合、不完全燃焼で自身が自爆し死亡し、無残な死体として発見されます。</li>
				<li>爆弾を設置しないままエピローグを迎えると、不完全燃焼で自身が自爆し死亡し、無残な死体として発見されます。</li>
				<li>爆弾の設置により足音が発生することはありません。</li>
				<li>日付更新時のセット先は「なし」です。</li>
				<li>愉快犯陣営で、占霊判定はいずれも人間となります。なお、人狼の襲撃では死亡しません。</li>
			</ul>
		</li>
		<li id="skill-plan">未実装役職
			<ul>
				<li>実装する保証はありませんが案として。役職名も仮です。</li>
				<li>検死官：無惨な死体の死因がわかる</li>
				<li>防音者：自分の部屋で足音が響かない</li>
				<li>潔癖症：自分の部屋で足音が響いたら死亡</li>
				<li>妄想癖：毎晩自分の部屋で足音が響く</li>
				<li>背徳者：妖狐陣営の狂人</li>
				<li>仙狐：生存していると、仙狐と妖狐が念話可能になる</li>
				<li>恋人：恋人陣営、最後まで生存していたら勝利、道連れあり</li>
				<li>同棲者：基本的に恋人と同じだが、毎晩どちらの部屋で過ごすか選択し、不在の部屋は襲撃が無効になる</li>
				<li>復讐者：1日目に指定した人が死亡かつ自分が最後まで生存していたら勝利</li>
				<li>応援隊：1日目に指定した人が勝利していたら勝利</li>
				<li>絶対人狼：初日に絶対人狼である旨が公表されるが、LWになるまで死亡しても生き返る</li>
				<li>投票先占い師（名前未定）：村人陣営、投票した先の役職がわかる</li>
				<li>投票先占い人狼（名前未定）：人狼陣営、投票した先の役職がわかる</li>
				<li>恨み屋：自分に投票してきた人達の役職構成がわかる</li>
				<li>夢遊病者：毎晩自分の部屋からランダムな部屋まで徘徊する</li>
				<li>冤罪者：毎晩自分の部屋からいずれかの無惨な死体の部屋まで徘徊する</li>
				<li>壁殴り代行：毎晩自分の四方の部屋のうち1つに壁ドンできる（狩人の護衛と同じ護衛効果）。四方が全員死亡すると自分も死亡する</li>
				<li>引きこもり狼：LWになるまで襲撃できない狼</li>
				<li>幽霊：2日目に死亡する。霊界から投票できる</li>
				<li>宅配業者：任意の部屋から任意の部屋に移動し、移動元の人が人狼かどうかを移動先の人に伝えられる</li>
				<li>ヒステリー：同じ人が3回自分の部屋で足音を鳴らすと鳴らした人が死亡する</li>
				<li>予想屋：毎日、明日生存していそうな人を指定する。翌朝死亡していたら自分も死亡。生存で勝利</li>
				<li>宣告者：毎日、明日死亡していそうな人を指定する。3回正解すると追加勝利</li>
				<li>梟：囁き、共鳴、妖魔など専用の会話窓を会話種別や誰が発言したかがわからない状態で覗くことができる</li>
				<li>目撃者：自分の部屋を通過した人の役職を知ることができる</li>
				<li>塗装工：任意の部屋にペンキを塗ることができ、その部屋の通過者が朝に公表される</li>
				<li>蘇生者：一度だけ任意の人を生き返らせることができる</li>
				<li>跳狼：通過した部屋でなく自分の部屋でだけ足音が響く狼</li>
				<li>覚醒賢者：覚醒前は能力なしだが、自分の部屋で足音が響くと賢者になる</li>
				<li>覚醒狂人：覚醒前は能力なしだが、自分の部屋で足音が響くとC国狂人になる狂人</li>
				<li>防御狐：自分で自分の部屋に足音を響かせた日は呪殺を無効にできる狐</li>
				<li>強運者：投票数が同数であった場合、必ず自分以外が処刑される</li>
				<li>指揮官：毎日一人を指定し、公開メッセージで「●●を指差した」と表示することができる。一度指定すると変更は不可能</li>
			</ul>
		</li>
	</ul>
</body>
</html>



