<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<ul id="skill" class="announce" layout:fragment="skill">
    <li id="villagers"><h5>村人陣営</h5>
        <ul>
            <li id="villager">【村】村人
                <ul>
                    <li>特別な能力はありません。</li>
                </ul>
            </li>
            <li id="seer">【占】占い師
                <ul>
                    <li>毎晩一人を占い、人間か人狼かを知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>妖狐を占った場合死亡させることができます。（「人間」と判定されます。）</li>
                    <li>呪狼を占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。</li>
                </ul>
            </li>
            <li id="wise">【賢】賢者
                <ul>
                    <li>毎晩一人を占い、その人の役職を知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>妖狐を占った場合死亡させることができます。</li>
                    <li>呪狼を占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。</li>
                </ul>
            </li>
            <li id="astrologer">【星】占星術師
                <ul>
                    <li>毎晩一人を指定して占い、その人の部屋を中心とした3x3の部屋にいる人の役職構成を知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>例. [11楽] 楽天家ゲルトの部屋を中心に占った。このあたりには、村人が1名、人狼が2名、占い師が1名、霊能者が5名いるようだ。</li>
                    <li>知ることができる役職構成はすでに死亡している人も含められます。</li>
                    <li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>妖狐を中心に占った場合死亡させることができます。（中心でなく周辺の部屋にいた場合は死亡しません）</li>
                    <li>呪狼を中心に占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。（中心でなく周辺の部屋にいた場合は死亡しません）</li>
                </ul>
            </li>
            <li id="flowerseer">【花】花占い師
                <ul>
                    <li>毎晩一人を占い、恋をしているかを知ることができます。<br>占うと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>対象が恋絆を持っていなく、恋人陣営であるだけの場合は恋をしていない判定となります（例. 絡新婦）。</li>
                    <li>対象が恋絆を持っていなく、恋をされているだけの場合は恋をしていない判定となります（例. ストーカーにストーキングされている）。</li>
                    <li>「対象なし」はありません。必ず占い対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>妖狐を占った場合死亡させることができます。（「人間」と判定されます。）</li>
                    <li>呪狼を占った場合、自身が死亡します。ただし、呪狼が突然死や処刑されていた場合は死亡しません。</li>
                </ul>
            </li>
            <li id="hunter">【狩】狩人
                <ul>
                    <li>毎晩自分以外の一人を人狼の襲撃から守ることができます。<br>護衛すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>処刑により死亡した場合、足音は響きますが、護衛は行われません。</li>
                    <li>襲撃により死亡した場合、護衛は実行され、足音も響きます。</li>
                    <li>「対象なし」はありません。必ず護衛対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>護衛手応えはありません。</li>
                    <li>設定で連続護衛不可となっている村では、同一人物を2日連続で護衛することができません。</li>
                    <li>1日目はセットできません。</li>
                </ul>
            </li>
            <li id="wanderer">【風】風来狩人
                <ul>
                    <li>一度護衛した人物は護衛の成功失敗に関わらず護衛対象に選ぶことができません。</li>
                    <li>「対象なし」が可能です。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>他は狩人と同様です。</li>
                </ul>
            </li>
            <li id="detective">【探】探偵
                <ul>
                    <li>毎晩、昨晩響いた足音のうち一つを調査し、その足音を響かせた人の役職を知ることができます。</li>
                    <li>例. 2日目に響いた足音のうち1つを選んでセットすると、3日目朝にどの役職が鳴らした足音かを知ることができます。</li>
                    <li>足音「なし」については調査できません。</li>
                    <li>例. 狂人がセットしなかった、隣接した部屋への襲撃、生存者がいないため響く足音がなくなったなど</li>
                    <li>足音が1つも響かなかった日は能力をセットすることはできません。</li>
                    <li>全く同じ足音が2つ以上響いていた場合、そのうちどれか1つがランダムで調査されます。</li>
                    <li>例. 人狼、狂人の足音がどちらも12,13で12,13を調査対象とした場合、片方の調査結果だけが得られます。（=結果は人狼or狂人となります）</li>
                    <li>探偵の調査により足音が発生することはありません。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>1日目は足音がないためセットできません。</li>
                </ul>
            </li>
            <li id="observer">【監】監視者
                <ul>
                    <li>毎晩、昨晩響いた足音のうち一つを調査し、その足音を響かせたのが誰かを知ることができます。</li>
                    <li>例. 2日目に響いた足音のうち1つを選んでセットすると、3日目朝に誰が鳴らした足音かを知ることができます。</li>
                    <li>他は探偵と同じです。ただし、COはできません。</li>
                </ul>
            </li>
            <li id="trapper">【罠】罠師
                <ul>
                    <li>2日目以降、全日を通して1回だけ、生存者がいる任意の部屋にその晩限りの罠を設置することができます。</li>
                    <li>罠を設置すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>罠が設置された部屋を通過した人は無惨な死体となって発見されます。（セットしていた能力はそのまま行使されます）</li>
                    <li>罠を設置した晩に、罠師、設置された部屋の人、通過した人のいずれが死亡しても、通過さえしていれば罠は作動します。</li>
                    <li>例外として、冤罪者の足音は罠の処理後に発生するため、冤罪者の立てた足音では罠が作動しません。</li>
                    <li>ただし、罠師が突然死していた場合は罠は無効になります。</li>
                    <li>一度も能力を使用しないこともできます。また、能力を使ったかどうかは自分以外にはわかりません。</li>
                    <li>罠の設置により足音が発生することはありません。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                </ul>
            </li>
            <li id="psychic">【霊】霊能者
                <ul>
                    <li>処刑された・突然死した人物が人間であったか人狼であったかを知ることができます。（妖狐は人間判定です）</li>
                </ul>
            </li>
            <li id="guru">【導】導師
                <ul>
                    <li>処刑された・突然死した人物の役職を知ることができます。</li>
                </ul>
            </li>
            <li id="coroner">【検】検死官
                <ul>
                    <li>無惨な死体となった人物の死因を知ることができます。</li>
                    <li>死因は襲撃、呪殺、爆死、罠死のいずれかで表記されます。</li>
                    <li>呪狼を占ったなどの逆呪殺についても呪殺と表記されるため、呪殺なのか逆呪殺なのかはわかりません。</li>
                </ul>
            </li>
            <li id="bakery">【パ】パン屋
                <ul>
                    <li>毎日おいしいパンを焼くことができます。</li>
                    <li>パン屋が1名以上生存していると、朝に専用のシステムメッセージが表示されます。</li>
                    <li>パン屋が全員死亡すると、朝に専用のシステムメッセージが表示されます。</li>
                </ul>
            </li>
            <li id="mason">【共】共鳴者
                <ul>
                    <li>共鳴者同士にしか聞こえない会話が可能です。</li>
                </ul>
            </li>
            <li id="luckyman">【運】強運者
                <ul>
                    <li>投票で最多票が複数いる場合、必ず自分以外から処刑者が選ばれます。</li>
                </ul>
            </li>
            <li id="commander">【指】指揮官
                <ul>
                    <li>2日目以降毎日、日中に一度だけ生存者を選んで指を差し、「（指揮官名）は、（対象）を指差した。」と全員に知らせることができます。</li>
                    <li>このメッセージは煽動者の能力と同じ内容となるため、メッセージを見た人からは、指揮官による能力なのか煽動者による能力なのか判断できません。</li>
                </ul>
            </li>
            <li id="fantasist">【妄】妄想癖
                <ul>
                    <li>毎晩、自分の部屋で足音が響きます。</li>
                </ul>
            </li>
            <li id="sleepwalker">【夢】夢遊病者
                <ul>
                    <li>毎晩、自分の部屋から死者含む誰かの部屋までの足音が響きます。</li>
                    <li>占いや襲撃と同じ方式（＝通過した部屋のみ響く）なので、自分と対象の部屋は鳴りませんし、隣の部屋が対象になった場合は無音となります。</li>
                    <li>自動で設定されるため、どの部屋に向かったか知ることはできません。</li>
                </ul>
            </li>
            <li id="falsecharges">【冤】冤罪者
                <ul>
                    <li>毎晩、自分の部屋からいずれかの無惨な死体の部屋までの足音が響きます（ダミー襲撃の日も鳴ります）。</li>
                    <li>無惨な死体が無い場合は足音は響きません。</li>
                    <li>占いや襲撃と同じ方式（＝通過した部屋のみ響く）なので、自分と対象の部屋は鳴りませんし、隣の部屋が対象になった場合は無音となります。</li>
                    <li>夜の間に冤罪者が死亡した場合は響きません。朝時点で生存している場合のみ響きます。</li>
                    <li>冤罪者が複数いる場合、対象となる無惨な死体は毎回ランダムで選ばれます。</li>
                </ul>
            </li>
            <li id="reincarnation">【転】転生者
                <ul>
                    <li>死亡すると、ランダムな役職で生き返ります。</li>
                    <li>選ばれる役職候補については、<a href="#tensei">転生</a>を参照ください。</li>
                    <li>処理順の「復活」の後の処理は転生後の役職で行われます。例えば、パン屋として生き返った場合専用メッセージが流れますし、冤罪者は冤罪の足音が響きます。</li>
                    <li>夢遊病者や妄想癖は「能力行使と足音のデフォルト登録」で翌日の足音が登録されるので、生き返った当日は足音が響きません。</li>
                    <li>絶対人狼として生き返った場合、絶対人狼である旨のメッセージが表示されます。</li>
                    <li>梟がこれまで存在しない村で梟として生き返った場合、梟が存在する旨のメッセージが表示されます。</li>
                    <li>この梟のメッセージは全員が生き返った後に表示されるため、最後に生き返った人が梟というわけではありません（生き返った人のいずれかが梟）。</li>
                </ul>
            </li>
            <li id="heavenchild">【申】申し子
                <ul>
                    <li>死亡すると、ランダムな村人陣営役職で生き返ります。</li>
                    <li>選ばれる役職候補については、<a href="#tensei">転生</a>を参照ください（この中から更に村人陣営で絞られます）。</li>
                    <li>処理順の「復活」の後の処理は転生後の役職で行われます。例えば、パン屋として生き返った場合専用メッセージが流れますし、冤罪者は冤罪の足音が響きます。</li>
                    <li>夢遊病者や妄想癖は「能力行使と足音のデフォルト登録」で翌日の足音が登録されるので、生き返った当日は足音が響きません。</li>
                </ul>
            </li>
            <li id="wallpuncher">【壁】壁殴り代行
                <ul>
                    <li>2日目以降の毎晩、自分の上下左右いずれかの部屋の壁を殴り、その部屋の人を人狼の襲撃から守ることができます。</li>
                    <li>護衛成功失敗に関わらず、一度選んだ対象は再度壁殴り対象に選ぶことができません。</li>
                    <li>「対象なし」が可能です。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>護衛成功しても手応えはありません。</li>
                    <li>襲撃で死亡しませんが、上下左右の部屋に生存者がいなくなると孤独死（後追死）します。</li>
                </ul>
            </li>
            <li id="resuscitator">【蘇】蘇生者
                <ul>
                    <li>3日目以降に一度だけ、死亡者を選んで蘇生させることができます。</li>
                    <li>蘇生すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>蘇生しても恋絆や狐憑きなどのステータスは削除されません。</li>
                    <li>対象が同棲者の場合は蘇生が失敗し、対象は死亡したままとなります（蘇生メッセージも表示されません）。</li>
                    <li>蘇生後に後追い処理があるため、条件を満たしている場合、蘇生直後に即死します。</li>
                    <li>蘇生メッセージは死霊術師による蘇生と同一となります。</li>
                    <li>「対象なし」が可能です。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                </ul>
            </li>
            <li id="dyingpointer">【止】不止者
                <ul>
                    <li>2日目以降毎日、死に際に指差す相手を選択できます。</li>
                    <li>死亡すると、「（不止者名）は、（対象）を指差した。」と全員に知らせることができます。</li>
                    <li>蘇生後も指差す相手を選択できます。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="werewolfs"><h5>人狼陣営</h5>
        <ul>
            <li id="werewolf">【狼】人狼
                <ul>
                    <li>人狼系役職とC国狂人同士にしか聞こえない会話が可能です。<br>また、毎晩一人を襲撃することができます。<br> 襲撃すると、襲撃者の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>突然死や処刑により死亡した場合も襲撃担当者が変わることなく襲撃は実行されます（襲撃なしにはなりません）。（生存している人狼が0名になった場合は襲撃は実行されません）</li>
                    <li>設定で同一人狼による連続襲撃不可となっている村では、人狼が複数生存している場合、2日連続で同じ人狼が襲撃することはできません。</li>
                    <li>日付更新時の襲撃者およびセット先はランダムです。</li>
                    <li>「襲撃なし」はありません。必ず襲撃対象を選択することになります。</li>
                    <li>襲撃失敗の場合、護衛なのか妖狐襲撃なのかは判別できません。</li>
                    <li>処刑された人物と同一人物を襲撃対象として選択していた場合も襲撃失敗になります。</li>
                    <li>「●●！今日がお前の命日だ！」の発言者は生存している人狼からランダムで選ばれるため、襲撃セット時の襲撃者と異なることがあります。（襲撃者が死亡していることがあるため連動させていません）
                    </li>
                </ul>
            </li>
            <li id="cursewolf">【呪】呪狼
                <ul>
                    <li>占われると、占い能力を行使した側が死亡します。</li>
                    <li>ただし、突然死や処刑されていた場合、占われていても占い能力を行使した人は死亡しません。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="wisewolf">【智】智狼
                <ul>
                    <li>自身が襲撃を担当し、襲撃成功すると、襲撃対象が何の役職であったか知ることができます。</li>
                    <li>ただし、自身が突然死や処刑されていた場合は襲撃対象の役職を知ることができません。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="absolutewolf">【絶】絶対人狼
                <ul>
                    <li>1日目開始時点で絶対人狼である旨が公開されます。</li>
                    <li>他の絶対人狼を除く人狼系役職が1名でも生存している場合、死亡しても生き返ります。</li>
                    <li>ただし、恋絆が付与されていて後追い対象が死亡している場合、復活直後に後追死します。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="fuwolf">【歩】歩狼
                <ul>
                    <li>自分の上下左右の部屋のみ襲撃対象とすることができます。</li>
                    <li>上下左右の部屋に襲撃対象が存在しない場合、通常の人狼と同様、生存者全員を対象とすることができます。</li>
                    <li>1日目は上記部屋にダミーが存在しなくてもダミーを襲撃することができます。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="ginwolf">【銀】銀狼
                <ul>
                    <li>将棋の銀が移動できる（左上、上、右上、左下、右下）部屋のみ襲撃対象とすることができます。</li>
                    <li>上記部屋に襲撃対象が存在しない場合、通常の人狼と同様、生存者全員を対象とすることができます。</li>
                    <li>1日目は上記部屋にダミーが存在しなくてもダミーを襲撃することができます。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="kinwolf">【金】金狼
                <ul>
                    <li>将棋の金が移動できる（左上、上、右上、左、右、下）部屋のみ襲撃対象とすることができます。</li>
                    <li>上記部屋に襲撃対象が存在しない場合、通常の人狼と同様、生存者全員を対象とすることができます。</li>
                    <li>1日目は上記部屋にダミーが存在しなくてもダミーを襲撃することができます。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="hishawolf">【飛】飛狼
                <ul>
                    <li>自分の部屋から見て直線上の部屋のみ襲撃対象とすることができます。</li>
                    <li>直線上の部屋に襲撃対象が存在しない場合、通常の人狼と同様、生存者全員を対象とすることができます。</li>
                    <li>1日目は直線上の部屋にダミーが存在しなくてもダミーを襲撃することができます。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="kakuwolf">【角】角狼
                <ul>
                    <li>自分の部屋から見て斜め方向の部屋のみ襲撃対象とすることができます。</li>
                    <li>斜め方向の部屋に襲撃対象が存在しない場合、通常の人狼と同様、生存者全員を対象とすることができます。</li>
                    <li>1日目は斜め方向の部屋にダミーが存在しなくてもダミーを襲撃することができます。</li>
                    <li>足音は通常通り響きます（斜めに移動できるわけではありません）。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="kingwolf">【王】王狼
                <ul>
                    <li>自分の周囲8部屋のみ襲撃対象とすることができます。</li>
                    <li>上記部屋に襲撃対象が存在しない場合、通常の人狼と同様、生存者全員を対象とすることができます。</li>
                    <li>1日目は直線上の部屋にダミーが存在しなくてもダミーを襲撃することができます。</li>
                    <li>他は人狼と同様です。</li>
                </ul>
            </li>
            <li id="madman">【狂】狂人
                <ul>
                    <li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
                    <li>「足音なし」が可能です。</li>
                    <li>日付更新時の足音セットは「なし」です。</li>
                </ul>
            </li>
            <li id="cmadman">【Ｃ】C国狂人
                <ul>
                    <li>人狼とC国狂人同士にしか聞こえない会話が可能です。</li>
                    <li>他は狂人と同様です。</li>
                </ul>
            </li>
            <li id="evilmedium">【魔】魔神官
                <ul>
                    <li>処刑された・突然死した人物の役職を知ることができます。</li>
                    <li>他は狂人と同様です。</li>
                </ul>
            </li>
            <li id="fanatic">【信】狂信者
                <ul>
                    <li>人狼が誰なのかを知ることができます。（人狼からは自分が狂信者であることはわかりません）</li>
                    <li>他は狂人と同様です。</li>
                </ul>
            </li>
            <li id="instigator">【煽】煽動者
                <ul>
                    <li>人狼が誰なのかを知ることができます。（人狼からは自分が煽動者であることはわかりません）</li>
                    <li>2日目以降毎日、日中に一度だけ生存者を選んで指を差し、「（煽動者名）は、（対象）を指差した。」と全員に知らせることができます。</li>
                    <li>このメッセージは指揮官の能力と同じ内容となるため、メッセージを見た人からは、指揮官による能力なのか煽動者による能力なのか判断できません。</li>
                    <li>徘徊能力はありません。</li>
                </ul>
            </li>
            <li id="necromancer">【死】死霊術師
                <ul>
                    <li>蘇生者の人狼陣営版で、以下に挙げる点以外は蘇生者と同じです。</li>
                    <li>対象を役職「人狼」として蘇生させます。</li>
                    <li>対象が同棲者の場合は蘇生が失敗し、対象は死亡したままとなります（蘇生メッセージも表示されません）。</li>
                    <li>既に対象が蘇生済みの場合は対象の役職は変化しません。</li>
                    <li>蘇生メッセージは蘇生者による蘇生と同一となります。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="lovers"><h5>恋人陣営</h5>
        <ul>
            <li id="lover">【恋】恋人
                <ul>
                    <li>1日目開始時点で、恋人同士で恋絆が結ばれます。（恋人は必ず偶数人数で、恋絆は2人ずつペアになります。）</li>
                </ul>
            </li>
            <li id="cohabiter">【棲】同棲者
                <ul>
                    <li>1日目開始時点で、同棲者同士で恋絆が結ばれます。（同棲者は必ず偶数人数で、恋絆は2人ずつペアになります。）</li>
                    <li>毎晩、どちらの部屋で過ごすか選ぶことができます。</li>
                    <li>「指定なし」はありません。必ずどちらかの部屋を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                    <li>どちらかが突然死または処刑されていた場合は部屋を移動しません。</li>
                    <li>選ばなかった部屋（不在の部屋）に襲撃があった場合、襲撃は失敗します。</li>
                    <li>選ばなかった部屋（不在の部屋）に爆弾設置があり、爆発しても、同棲者は死亡しません。</li>
                    <li>選んだ部屋に襲撃があった場合、襲撃対象が護衛されていればもう1人の同棲者が護衛されていなくても襲撃は失敗します。</li>
                    <li>選んだ部屋に襲撃があり、襲撃が成功した場合、どちらも襲撃死します。（後追死ではありません）</li>
                    <li>選んだ部屋に爆弾設置があり、爆発した場合、どちらも爆死します。（後追死ではありません）</li>
                    <li>占いは部屋移動前に行われるため、普段通り占い対象の結果が得られます。</li>
                </ul>
            </li>
            <li id="courtship">【求】求愛者
                <ul>
                    <li>1回だけ1人を指定し、自身と指定した人同士で恋絆を結ぶことができます。（相手にも通知されます）</li>
                    <li>求愛すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>「指定なし」はありません。必ず1日目に対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                </ul>
            </li>
            <li id="stalker">【ス】ストーカー
                <ul>
                    <li>1回だけ1人を指定し、自身から指定した人への恋絆を結ぶことができます。（相手には通知されません）</li>
                    <li>ストーキングすると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>恋絆を結んだ際、その人の役職を知ることができます。</li>
                    <li>「指定なし」はありません。必ず1日目に対象を選択することになります。</li>
                    <li>日付更新時のセット先はランダムです。</li>
                </ul>
            </li>
            <li id="jorogumo">【絡】絡新婦
                <ul>
                    <li>1回だけ1人を指定し、自身への恋絆を結ぶことができます（自身から相手への恋絆は付与されません）。</li>
                    <li>誘惑すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>対象は翌日朝に「〜は〜に誘惑され、恋をしてしまった。」と表示され、恋絆が結ばれたことを知ることができます。</li>
                    <li>このメッセージは美人局の能力と同じ内容となるため、恋絆を結ばれた側からは、絡新婦による能力なのか美人局による能力なのか判断できません。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                </ul>
            </li>
            <li id="badgergame">【美】美人局
                <ul>
                    <li>1回だけ1人を指定し、自身への恋絆を結ぶことができます（自身から相手への恋絆は付与されません）。</li>
                    <li>誘惑すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>対象は翌日朝に「〜は〜に誘惑され、恋をしてしまった。」と表示され、恋絆が結ばれたことを知ることができます。</li>
                    <li>このメッセージは絡新婦の能力と同じ内容となるため、恋絆を結ばれた側からは、絡新婦による能力なのか美人局による能力なのか判断できません。</li>
                    <li>また、対象は翌々日朝に強面の男に襲撃されます（人狼による襲撃と同じ判定となるため、護衛等あれば死亡しません）。</li>
                    <li>ただし、美人局が死亡している場合は襲撃が発生しません（ただし恋絆が付与されているため、後追いします）。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="foxs"><h5>狐陣営</h5>
        <ul>
            <li id="fox">【狐】妖狐
                <ul>
                    <li>人狼に襲撃されても死亡しませんが、占われると死亡します。</li>
                    <li>毎晩任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。</li>
                    <li>「足音なし」が可能です。</li>
                    <li>日付更新時の足音セットは「なし」です。</li>
                    <li>
                        処理順は処刑→占い→襲撃となるため、占い師が処刑された場合、妖狐に占いをセットしていても妖狐は死亡しません。逆に、占い師が襲撃された場合でも妖狐に占いをセットしていた場合は妖狐は死亡します。
                    </li>
                    <li>他の妖狐系役職を知ることができます。</li>
                    <li>念話を聞くことができます（話せるのは仙狐のみです）。</li>
                </ul>
            </li>
            <li id="cheaterfox">【誑】誑狐
                <ul>
                    <li>以下に挙げる点以外は妖狐と同じです。</li>
                    <li>徘徊能力はありません。</li>
                    <li>1回だけ1人を指定し、「狐憑き」状態にすることができます。</li>
                    <li>誑かすと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>念話を聞くことができます（話せるのは仙狐のみです）。</li>
                </ul>
            </li>
            <li id="gonfox">【ご】ごん
                <ul>
                    <li>毎日栗を拾って、みんなの部屋の前に届けます。</li>
                    <li>ごんが1名以上生存していると、朝に「みんなの部屋の前に、栗が（生存ごん数）個ずつ置かれていた。」と表示されます。</li>
                    <li>ごんが当日に1名以上死亡すると、朝に専用メッセージが表示されます 。</li>
                    <li>状況によっては、上記2メッセージ両方が表示されることもあります。</li>
                    <li>人狼に襲撃されても死亡しませんが、占われると死亡します。</li>
                    <li>徘徊能力はありません。</li>
                    <li>他の妖狐系役職を知ることができます。</li>
                    <li>念話を聞くことができます（話せるのは仙狐のみです）。</li>
                </ul>
            </li>
            <li id="hermitfox">【仙】仙狐
                <ul>
                    <li>妖狐系役職、狐憑き、および背徳者にしか聞こえない妖狐発言が可能です（話せるのは仙狐のみです）。</li>
                    <li>他は妖狐と同じです。徘徊も可能です。</li>
                </ul>
            </li>
            <li id="immoral">【背】背徳者
                <ul>
                    <li>以下に挙げる点以外は狂人と同じです。</li>
                    <li>妖狐系役職が誰なのかを知ることができます。（妖狐系役職からは自分が背徳者であることはわかりません）</li>
                    <li>妖狐系役職が全滅すると、後追いで死亡します。（恋絆が付与されている場合は後追いしません）</li>
                    <li>念話を聞くことができます（話せるのは仙狐のみです）。</li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="criminals"><h5>愉快犯陣営</h5>
        <ul>
            <li id="bomber">【爆】爆弾魔
                <ul>
                    <li>2日目以降、全日を通して1回だけ、生存者がいる任意の部屋にその晩限りの爆弾を設置することができます。</li>
                    <li>爆弾を設置すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>爆弾が設置された部屋を誰かが通過した場合、通過した人と設置された部屋の人が無惨な死体となって発見されます。</li>
                    <li>爆弾を設置した晩に、爆弾魔、設置された部屋の人、通過した人のいずれが死亡しても、通過さえしていれば爆弾は作動します。</li>
                    <li>例外として、冤罪者の足音は爆弾の処理後に発生するため、冤罪者の立てた足音では爆弾が作動しません。</li>
                    <li>ただし、爆弾魔が突然死していた場合は爆弾は無効になります。</li>
                    <li>爆弾により死亡した人がセットしていた能力はそのまま行使されます。</li>
                    <li>爆弾を設置したのに爆弾が作動しなかった場合、不完全燃焼で自身が自爆し死亡し、無残な死体として発見されます。</li>
                    <li>爆弾を設置しないままエピローグを迎えると、不完全燃焼で自身が自爆し死亡し、無残な死体として発見されます。</li>
                    <li>爆弾の設置により足音が発生することはありません。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>人狼に襲撃されても死亡しません。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="owl">【梟】梟
                <ul>
                    <li>この役職が含まれていると、1日目開始時点で「この村には強力な聴力を持つ者がいるようだ。」と表示されます。</li>
                    <li>人狼の囁き、共鳴発言、恋人発言、念話など役職専用の会話を会話種別や誰が発言したかがわからない状態で覗くことができます。</li>
                    <li>人狼の襲撃メッセージも覗けるため、襲撃先も知ることができます。</li>
                    <li>愉快犯陣営で、占霊判定はいずれも人間となります。また、人狼の襲撃で死亡します。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="fruitsbasket">【籠】果実籠
                <ul>
                    <li>2日目以降、全日を通して1回だけ「フルーツバスケット！」と叫び、全員の部屋をシャッフルすることができます。</li>
                    <li>能力発動時、「XXは「フルーツバスケット！」と叫んだ。」と表記されるため、果実籠であることが公表されます。</li>
                    <li>部屋の移動は日付更新処理の最後に行われるため、他能力や足音は移動前のものがそのまま適用されます。</li>
                    <li>能力発動時点で死亡している場合、能力は発動しません。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="lonewolf">【匹】一匹狼
                <ul>
                    <li>2日目以降、毎晩一人を襲撃することができます。<br> 襲撃すると、襲撃者の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。
                    </li>
                    <li>能力発動時点で死亡している場合、能力は発動しません。</li>
                    <li>ただし、一匹狼同士で襲撃が発生し、自身が死亡した場合は、襲撃が実行されます。</li>
                    <li>村の設定で連続襲撃なしに設定されていても毎日襲撃することができます。</li>
                    <li>「襲撃なし」が可能です。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>襲撃成功失敗に関わる処理は人狼の襲撃と同様です。</li>
                    <li>一匹狼同士で誰が一匹狼であるかを知ることはできません。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="rainbow">【虹】虹職人
                <ul>
                    <li>毎晩生存者一人を選択し、翌日1日間文字色を虹色にすることができます。</li>
                    <li>虹色に塗ると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>自分を選択することもできますし、指定なしも可能です。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>更新時に「（虹色にされた人）は、虹色になった。」という公開メッセージが表示されます。</li>
                    <li>梟から地獄耳で見た発言は虹色になりません。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="loudspeaker">【拡】拡声者
                <ul>
                    <li>毎晩生存者一人を選択し、翌日1日間発言を大文字にすることができます。</li>
                    <li>拡声器を渡すと、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>自分を選択することもできますし、指定なしも可能です。</li>
                    <li>日付更新時のセット先は「なし」です。</li>
                    <li>更新時に「（拡声器を渡された人）の部屋に拡声器が置かれていた。」という公開メッセージが表示されます。</li>
                    <li>梟から地獄耳で見た発言は大声になりません。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="truck">【ト】トラック
                <ul>
                    <li>2日目以降に一度だけ、対象を強制的に転生させることができます。</li>
                    <li>転生させると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>自分の部屋から見て直線上の部屋のみ強制転生対象とすることができます。</li>
                    <li>「対象なし」が可能で、日付更新時のセット先は「対象なし」です。</li>
                    <li>転生した場合、「〜の部屋に異世界転生トラックが突っ込んだ。〜は転生してしまった。」と公開メッセージが表示されます。</li>
                    <li>以下に当てはまる場合、転生せず、メッセージも表示されません。
                        <ul>
                            <li>対象が死亡していた場合</li>
                            <li>対象が同棲者で、生存している相方の部屋に行っていて不在だった場合</li>
                        </ul>
                    </li>
                    <li>対象が生存している同棲者で、生存している相方が対象の部屋に来ていた場合、相方の同棲者も転生します（メッセージも表示）。</li>
                    <li>転生した場合、対象は一度襲撃死（護衛・襲撃耐性無効）し、同時に転生者と同様、ランダム役職で復活します。</li>
                    <li>選ばれる役職候補については、<a href="#tensei">転生</a>を参照ください。</li>
                    <li>強制転生以降の処理順で行うはずだった能力行使（例：フルーツバスケット）も、転生で違う役職になった場合、能力行使されなくなります。</li>
                    <li>絶対人狼として転生した場合、絶対人狼である旨のメッセージが表示されます。</li>
                    <li>梟がこれまで存在しない村で梟として転生した場合、梟が存在する旨のメッセージが表示されます。</li>
                    <li>この梟のメッセージは全員が転生した後に表示されるため、最後に転生した人が梟というわけではありません（転生した人のいずれかが梟）。</li>
                    <li>最後まで生存していると追加勝利となります。</li>
                </ul>
            </li>
            <li id="baba">【バ】ババ
                <ul>
                    <li>この役職のままエピローグを迎えると、必ず敗北します。</li>
                    <li>対象を選択し、その相手と役職を交換することができます。</li>
                    <li>役職交換すると、自分の部屋から対象の部屋に向かう際通過した部屋に足音が響きます。</li>
                    <li>選べる対象は、ダミー以外かつ一度もババになったことがない生存者です。
                        <ul>
                            <li>他のババおよびそのババと役職交換してババになった人も選べません。</li>
                        </ul>
                    </li>
                    <li>「対象なし」が可能で、日付更新時のセット先は「対象なし」です。</li>
                    <li>ババのまま死亡したり選べる対象がいなくなった場合、役職交換できないため、必ず敗北します。</li>
                    <li>以下に当てはまる場合、役職交換に失敗します。
                        <ul>
                            <li>対象が死亡していた場合</li>
                            <li>対象が同棲者もしくは絶対人狼の場合</li>
                        </ul>
                    </li>
                    <li>役職交換に成功しても失敗しても、公開メッセージは表示されません。</li>
                    <li>役職交換に成功しても、結果として自分がババになっている可能性があります。
                        <ul>
                            <li>例. 複数のババが同じ対象と役職交換した結果、ババとババの交換になった</li>
                            <li>例. 強制転生でババになった対象と役職を交換した</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li id="skill-plan"><h5>未実装役職</h5>
        <ul>
            <li>実装する保証はありませんが案として。役職名も仮です。</li>
            <li>防音者：自分の部屋で足音が響かない</li>
            <li>潔癖症：自分の部屋で足音が響いたら死亡</li>
            <li>復讐者：1日目に指定した人が死亡かつ自分が最後まで生存していたら勝利</li>
            <li>応援隊：1日目に指定した人が勝利していたら勝利</li>
            <li>跳狼：通過した部屋でなく自分の部屋でだけ足音が響く狼</li>
            <li>鋭狼：襲撃失敗時に襲撃対象の役職を知ることができる</li>
            <li>冥狼：墓下会話を、誰が発言したかわからない状態で覗くことができる狼</li>
            <li>恨み屋：自分に投票してきた人達の役職構成がわかる</li>
            <li>幽霊：2日目に死亡する。霊界から投票できる</li>
            <li>宅配業者：任意の部屋から任意の部屋に移動し、移動元の人が人狼かどうかを移動先の人に伝えられる</li>
            <li>ヒステリー：同じ人が3回自分の部屋で足音を鳴らすと鳴らした人が死亡する</li>
            <li>予想屋：毎日、明日生存していそうな人を指定する。翌朝死亡していたら自分も死亡。生存で勝利</li>
            <li>宣告者：毎日、明日死亡していそうな人を指定する。3回正解すると追加勝利</li>
            <li>目撃者：自分の部屋を通過した人の役職を知ることができる</li>
            <li>塗装工：任意の部屋にペンキを塗ることができ、その部屋の通過者が朝に公表される</li>
            <li>聖母：一度だけ自分の命を犠牲にして任意の人を生き返らせることができる</li>
            <li>覚醒賢者：覚醒前は能力なしだが、自分の部屋で足音が響くと賢者になる</li>
            <li>覚醒狂人：覚醒前は能力なしだが、自分の部屋で足音が響くとC国狂人になる狂人</li>
            <li>引越屋：一度だけ、指定した2人の部屋を入れ替えられる</li>
            <li>夜逃屋：一度だけ、空き部屋に移動できる（永続）</li>
            <li>イタコ：墓下会話を、誰が発言したかわからない状態で覗くことができる</li>
            <li>魚：襲撃されると勝利</li>
            <li>てるてる坊主：処刑されると勝利</li>
            <li>少女：毎晩1名を指定してその部屋を通過した役職の内訳を知ることができるが、人狼の部屋、人狼の襲撃先、人狼の通過した部屋のいずれかを指定してしまうと襲撃死する</li>
            <li>超人：一度だけ襲撃を耐えられる。耐えると公開メッセージが表示される</li>
            <li>感知者：どの陣営が何人生存しているか毎日知ることができる（勝敗判定陣営でなく役職の陣営）</li>
            <li>反撃者：襲撃されると自身が襲撃死、襲撃者が反撃死する</li>
            <li>マタギ：一度だけ対象を指定して狩猟が可能。対象を襲撃死させることができるが、対象が人狼系でも妖狐系でもない場合は責任を感じて後追死する</li>
            <li>サイコキラー：自分に能力行使した人が反撃死する狂人</li>
            <li>賢狐：賢者能力を持つ妖狐</li>
            <li>弁護士：指定した人物の得票数を-2する</li>
            <li>宣教師：人狼が誰かわかる。一度だけ任意の誰かを人狼陣営に引き入れることができる</li>
            <li>怪盗：指定した人と役職を交換できる。人狼系役職を指定すると死亡する</li>
            <li>マンボウ：自分に能力を使用されたり自分の部屋で足音が鳴ると死亡するが、3回までマンボウとして生き返ることができる</li>
            <li>子狐：妖狐会話が聞こえる</li>
            <li>侍：護衛能力。護衛成功した場合襲撃者と相打ちで両方死亡する。</li>
            <li>居候：毎晩滞在先を選べる。同棲者とほぼ同じ。</li>
            <li>爆弾処理班：生存している間、爆弾が起爆しなくなる</li>
            <li>般若：恋人発言が聞こえる。自分が生存かつ恋人陣営の全滅が勝利条件</li>
            <li>ゴンさん：一度だけ「覚醒」できる。覚醒した日は投票の票数が生存人数分になり、襲撃耐性を持ち、襲撃者を反撃死させる。覚醒後は自殺票しかできなくなる</li>
            <li>パパラッチ：対象が恋絆持ちか調べ、相互恋絆持ちだった場合、ペアを全体に公開する</li>
            <li>傾国美女：投票してきた人は一方的に傾国美女に恋絆を結んでしまう</li>
            <li>風見鶏：偶数日に能力行使可能。指定した人と同じ勝敗判定陣営になる</li>
            <li>鎌鼬：一度だけ足音なしで襲撃できる</li>
            <li>執行人：生存している間、1日の処刑人数が1名増える</li>
            <li>保険屋：一度だけ死亡後に復活できる「保険」ステータスを付与できる。</li>
        </ul>
    </li>
</ul>
</body>
</html>



