<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<ul id="status" class="announce" layout:fragment="status">
    <li id="love">恋絆
        <ul>
            <li>後追い対象が死亡すると、自身も後追死します。</li>
            <li>恋絆が付与されている人同士にしか聞こえない恋人会話が可能です。</li>
            <li>Bさんへの恋絆がAさんに付与されていて、Aさんへの恋絆がBさんに付与されていない場合、Bさんは後追死しませんし、Bさんは恋人会話を使用することもできません。（いわゆる片想い状態）</li>
            <li>自身の役職にかかわらず、勝利条件が恋人陣営のものに上書きされます。</li>
            <li>
                <div class="alert alert-status small">
                    <ul>
                        <li>あなたは[03農]農夫 ヤコブに恋しています。</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="message message-public-system">
                    [02長]村長 ヴァルターは、絆に引きずられるように[03農]農夫 ヤコブの後を追った。
                </div>
            </li>
        </ul>
    </li>
    <li id="fox_possession">狐憑き
        <ul>
            <li>自身の役職にかかわらず、勝利条件が妖狐陣営のものに上書きされます。</li>
            <li>ただし、恋絆が付与されている場合は勝利条件が恋人陣営のままとなります。</li>
            <li>妖狐系役職が誰であるかを知ることができます（恋絆が付与されていても知ることができます）。</li>
            <li>念話を聞くことができます（話せるのは仙狐のみです）。</li>
            <li>あなたを誑かした妖狐以外からは、あなたが妖狐陣営に与する者だとはわかりません。</li>
            <li>妖狐系役職が全滅すると、後追いで死亡します（恋絆が付与されている場合は後追いしません）。</li>
            <li>
                <div class="alert alert-status small">
                    <ul>
                        <li>あなたは妖狐に与するものとなりました。</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="message message-public-system">
                    [02長]村長 ヴァルターは、妖狐の後を追い、いなくなってしまった。
                </div>
            </li>
        </ul>
    </li>
    <li id="insanity">狂気
        <ul>
            <li>自身の役職にかかわらず、勝利条件が人狼陣営のものに上書きされます。</li>
            <li>ただし、恋絆や狐憑きが付与されている場合はそのステータスの勝利条件が優先されます。</li>
            <li>人狼を含む他の人からは、あなたが人狼陣営に与する者だとはわかりません。</li>
            <li>
                <div class="alert alert-status small">
                    <ul>
                        <li>あなたは狂気を宿しています。</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li id="belief">信念
        <ul>
            <li>自身の役職にかかわらず、勝利条件が村人陣営のものに上書きされます。</li>
            <li>ただし、恋絆/狐憑き/狂気が付与されている場合はそのステータスの勝利条件が優先されます。</li>
            <li>他の人からは、あなたが村人陣営に与する者だとはわかりません。</li>
            <li>
                <div class="alert alert-status small">
                    <ul>
                        <li>あなたは平和を望んでいます。</li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li id="insurance">保険
        <ul>
            <li>このステータスが付与された状態で死亡すると、蘇生できます。</li>
            <li>蘇生するとこのステータスは解除されます（2つ以上付与されていても、全て解除されます）。</li>
            <li>処理順は蘇生系の最後となるため、他の手段で蘇生した場合はこのステータスは解除されません。</li>
            <li>蘇生後に後追い処理があるため、後追い対象となっている場合は復活直後に後追死します。</li>
            <li>
                <div class="alert alert-status small">
                    <ul>
                        <li>あなたは保険を勧められました。</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="message message-public-system">
                    今からでも入れる保険があるんですか！？<br>
                    不思議なことに、[02長] 村長 ヴァルターが生き返った。
                </div>
            </li>
        </ul>
    </li>
    <li id="disrespectful">不敬
        <ul>
            <li>このステータスが付与された状態で投票されると、被投票数が2倍になります。</li>
            <li>2倍の計算は、市長/弁護士/冷凍者などの加減算処理後に行われます。</li>
            <li>死亡するとこのステータスは解除されます（強制転生でも解除されます）。</li>
            <li>付与・解除・被投票いずれもメッセージは表示されません（被投票数は2倍になっています）。</li>
        </ul>
    </li>
</ul>
</body>
</html>



