<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<body>
	<ul id="status" class="announce" layout:fragment="status">
		<li id="love">恋絆
			<ul>
				<li>後追い対象が死亡すると、自身も後追死します。</li>
				<li>恋絆が付与されている人同士にしか聞こえない恋人会話が可能です。</li>
				<li>Bさんへの恋絆がAさんに付与されていて、Aさんへの恋絆がBさんに付与されていない場合、Bさんは後追死しませんし、Bさんは恋人会話を使用することもできません。（いわゆる片想い状態）</li>
				<li>自身の役職にかかわらず、勝利条件が恋人陣営のものに上書きされます。</li>
			</ul>
		</li>
	</ul>
</body>
</html>



