html,body,.wrapper {
    background-color: #ffffff;
    color: #515151;
}

a {
    color: #5151ff;
    text-decoration:underline;
}

a:hover {
    color: #0cace3;
    text-decoration:underline;
}

.header {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 10px;
}

.header .title {
    display: flex;
    align-content: center;
    font-size: 48px;
    font-family: 'Luckiest Guy';
    color: #0cace3;
}

.header .user-area {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.description {
    font-size: 12px;
}

.april-banner {
    width: 100%;
    border: 1px solid #0cace3;
    margin-top: 15px;
    margin-bottom: 15px;
}

.april-panel {
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-top: 3px solid #0cace3;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
}

.search-result {
    font-size: 36px;
    color: #0cace3
}

h3 {
    margin: 0;
    font-size: 20px;
}

.village-area .village-name-area {
    padding: 5px;
}

.village-area img {
    width: 100px;
}

@media ( min-width: 768px) {
    .village-area img {
        width: 150px;
    }
}

.village-area .card {
    padding: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    margin-bottom: 5px;
}

@media ( min-width: 768px) {
    .village-area .card .small {
        font-size: 100%;
    }
}

.btn-april {
    background-color: #0cace3;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}