<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="utf-8"/>
</head>
<body>
<div id="judge" class="table-responsive" layout:fragment="judge">
    <table class="table table-bordered table-condensed small">
        <thead>
        <tr>
            <th>役職</th>
            <th>占結果</th>
            <th>霊結果</th>
            <th>襲撃耐性</th>
            <th>勝敗判定<br>カウント</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="judge: ${content.judgeList}">
            <td>
                <th:block th:each="skill: ${judge.skillList}">
                    <span th:text="${skill.name}"></span><br>
                </th:block>
            </td>
            <td th:text="${judge.divineResultWolf ? '人狼' : '人間'}"
                th:class="${judge.divineResultWolf ? 'text-danger' : ''}"></td>
            <td th:text="${judge.psychicResultWolf ? '人狼' : '人間'}"
                th:class="${judge.psychicResultWolf ? 'text-danger' : ''}"></td>
            <td th:text="${judge.noDeadByAttack ? '死亡しない' : 'なし'}"
                th:class="${judge.noDeadByAttack ? 'text-warning' : ''}"></td>
            <td th:text="${judge.count}"
                th:class="${judge.count == '人狼' ? 'text-danger' : judge.count == 'カウントしない'
                    ? 'text-warning' : ''}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>



