<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8" />
</head>
<body>
	<div id="room" class="table-responsive" layout:fragment="room">
		<p>21名〜99名の部屋構成については管理者までお問い合わせください。</p>
		<table class="table table-bordered table-condensed small">
			<thead>
				<tr>
					<th class="vertical-middle">人数</th>
					<th class="vertical-middle">空き部屋の位置<br> (部：部屋 ＿：空き部屋)
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="vertical-middle">8人(4x3)</td>
					<td class="vertical-middle">
						＿部部＿<br>部部部部<br>＿部部＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">9人(4x3)</td>
					<td class="vertical-middle">
						＿部部＿<br>部部部部<br>＿部部部<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">10人(4x3)</td>
					<td class="vertical-middle">
						部部部＿<br>部部部部<br>＿部部部<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">11人(5x3)</td>
					<td class="vertical-middle">
						＿部部部＿<br>部部部部部<br>＿部部部＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">12人(4x4)</td>
					<td class="vertical-middle">
						＿部部＿<br>部部部部<br>部部部部<br>＿部部＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">13人(4x4)</td>
					<td class="vertical-middle">
						＿部部＿<br>部部部部<br>部部部部<br>＿部部部<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">14人(5x4)</td>
					<td class="vertical-middle">
						＿＿部部＿<br>部部部部部<br>部部部部部<br>＿部部＿＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">15人(5x4)</td>
					<td class="vertical-middle">
						＿＿部部＿<br>部部部部部<br>部部部部部<br>＿部部部＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">16人(5x4)</td>
					<td class="vertical-middle">
						＿部部部＿<br>部部部部部<br>部部部部部<br>＿部部部＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">17人(5x4)</td>
					<td class="vertical-middle">
						＿部部部＿<br>部部部部部<br>部部部部部<br>＿部部部部<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">18人(6x4)</td>
					<td class="vertical-middle">
						＿＿部部部＿<br>部部部部部部<br>部部部部部部<br>＿部部部＿＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">19人(6x4)</td>
					<td class="vertical-middle">
						＿部部部部＿<br>部部部部部部<br>部部部部部部<br>＿部部部＿＿<br>
					</td>
				</tr>
				<tr>
					<td class="vertical-middle">20人(6x4)</td>
					<td class="vertical-middle">
						＿部部部部＿<br>部部部部部部<br>部部部部部部<br>＿部部部部＿<br>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>



