<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>本サイトは</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">

				<div class="col-sm-12 col-xs-12">
					<h1 class="h4">本サイトは</h1>
					<ul>
						<li>人狼のルールに加え、特殊ルールである「人狼館の事件簿村」ルールを加えた人狼がプレイできるサイトです。</li>
						<li>通常の人狼をプレイしたことがない方は、<a href="http://www.wolfg.x0.com/index.rb" target="_blank">人狼BBS</a>などで人狼をプレイしてみてから本サイトでプレイすることを推奨します。
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">人狼館の事件簿村とは</h2>
					<ul>
						<li>ふつつかものさんが考案されたルール（<a href="http://chabieru.blog108.fc2.com/blog-entry-124.html" target="_blank">ブログ参照</a>）で、通常の人狼に特殊ルールが加わったものです。
						</li>
						<li>これまでGMが処理していたこの特殊ルール部分をシステム化したのが本サイトです。</li>
						<li><a href="" th:href="@{/intro}">人狼館の事件簿村</a>ページでルールを解説しています。</li>
						<li>文章化したルールは<a href="" th:href="@{/rule}">ルール</a>に記載しています。
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">注意事項</h2>
					<ul>
						<li>同村しているプレイヤーの画面の向こうにはあなたと同様人間がいます。他者を思いやり、迷惑をかけないプレイを心がけるようお願いします。</li>
						<li>正常な運営を妨げる行為がなされた場合、管理人の裁量によりアクセス禁止措置等がとられる場合があります。</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">キャラチップについて</h2>
					<ul>
						<li>キャラチップの著作権は作者様にあります。</li>
						<li>スクリーンショットのSNSアップロードやキャラ画像のアイコン利用などについては著作権者である作者様の意向に従ってください。<br> （スクリーンショットもNGのチップもあります）</li>
						<li>「実装された国の規約に準ずる」とある場合は、村ログのスクリーンショットのSNSアップロードはOK、キャラ画像のみを利用するのはNGとします。</li>
						<li>デフォルトセットのキャラチップは<a href="http://www.irasutoya.com/" target="_blank">いらすとや</a>のものを使用させていただいています。
						</li>
					</ul>
				</div>
				
				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">タイトルロゴについて</h2>
					<ul>
						<li><a href="https://twitter.com/Lemon_orenoyome" target="_blank">@Lemon_orenoyome</a>様の「Anima」フォントを使用させていただいています。</li>
					</ul>
				</div>				

				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>