<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/top-layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title></title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">
				<!--/* トップ画像 */-->
				<div class="col-sm-12 top-image" data-goto="">
					<img src="" th:src="@{/app/images/top-small.jpg}" style="width: 100%;"> <span
						style="color: #000; position: absolute; bottom: 5.5%; left: 7.4%; font-size: x-large;"><b>人狼館</b></span> <span
						style="color: #fff; position: absolute; bottom: 5%; left: 7%; font-size: x-large;">人狼館</span>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h1 class="h4">本サイトは</h1>
					<ul>
						<li>人狼のルールに加え、特殊ルールである「人狼館の推理村」ルールを加えた人狼がプレイできるサイトです。</li>
						<li>通常の人狼をプレイしたことがある、もしくは十分にルールを読み込んでいることが参加の前提となります。</li>
						<li>通常の人狼をプレイしたことがない方は、<a href="http://www.wolfg.x0.com/index.rb" target="_blank">人狼BBS</a>などで人狼をプレイしてみてから本サイトでプレイすることを推奨します。
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">人狼館の推理村とは</h2>
					<ul>
						<li>人狼館の推理村ルールについて書く</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">注意事項</h2>
					<ul>
						<li>同村しているプレイヤーの画面の向こうにはあなたと同様人間がいます。他者を思いやり、迷惑をかけないプレイを心がけるようお願いします。</li>
						<li>具体的な禁止事項については、<a href="" th:href="@{/rule}">ルール</a>を参照してください。
						</li>
						<li>禁止事項に記載されていない事項でも、正常な運営を妨げる行為がなされた場合、管理人の裁量によりアクセス禁止措置等がとられる場合があります。</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">キャラチップについて</h2>
					<ul>
						<li>著作権は作者にあるよ 使わせてもらっている立場だよ ということを書く</li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>