<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>本サイトは</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">

				<div class="col-sm-12 col-xs-12">
					<h1 class="h4">本サイトは</h1>
					<ul>
						<li>人狼のルールに加え、特殊ルールである「人狼館の事件簿村」ルールを加えた人狼がプレイできるサイトです。</li>
						<li>通常の人狼をプレイしたことがない方は、<a href="http://www.wolfg.x0.com/index.rb" target="_blank">人狼BBS</a>などで人狼をプレイしてみてから本サイトでプレイすることを推奨します。
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">人狼館の事件簿村とは</h2>
					<ul>
						<li>ふつつかものさんが考案されたルール（<a href="http://chabieru.blog108.fc2.com/blog-entry-124.html" target="_blank">ブログ参照</a>）で、通常の人狼に特殊ルールが加わったものです。
						</li>
						<li>これまでGMが処理していたこの特殊ルール部分をシステム化したのが本サイトです。</li>
						<li>詳細なルールは<a href="" th:href="@{/rule}">ルール</a>に記載しています。
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">注意事項</h2>
					<ul>
						<li>同村しているプレイヤーの画面の向こうにはあなたと同様人間がいます。他者を思いやり、迷惑をかけないプレイを心がけるようお願いします。</li>
						<li>正常な運営を妨げる行為がなされた場合、管理人の裁量によりアクセス禁止措置等がとられる場合があります。</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">キャラチップについて</h2>
					<ul>
						<li>キャラチップの著作権は作者様にあります。</li>
						<li>デフォルトセットのキャラチップは<a href="http://www.irasutoya.com/" target="_blank">いらすとや</a>のものを使用させていただいています。
						</li>
						<li>以下の使用方法に関してはアップロードいただく際に作者様に許可をいただいております。
							<ul>
								<li>本サイトの村ログ（キャラチップ画像含む）のスクリーンショットを撮りSNSにアップロードする</li>
							</ul>
						</li>
						<li>それ以外の使用につきましては作者様の許可なく行うことはお控えください。
							<ul>
								<li>例：キャラチップ画像をSNSのアイコンやヘッダー画像に使用する</li>
							</ul>
						</li>
						<li>もちろん、作者様に直接許可を得ていただければ問題ありません。</li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>