<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/* 個別ページのタイトル */-->
    <title>お知らせ</title>
    <!--/* 個別ページのjs */-->
    <script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12">
                <h1 class="h4">リリースノート</h1>
                <ul class="announce">
                    <li>2022/10/28 以下を変更しました。
                        <ul>
                            <li>ランダムメッセージ一覧にキーワード検索を追加</li>
                        </ul>
                    </li>
                    <li>2022/10/27 以下を変更しました。
                        <ul>
                            <li>役職「餡麺麭者」を追加</li>
                        </ul>
                    </li>
                    <li>2022/10/25 以下を変更しました。
                        <ul>
                            <li>役職「道化師」「伝説の殺し屋」を追加</li>
                            <li>濁点者の叫び状態のとき、改行のみの行には濁点が付与されないよう変更</li>
                        </ul>
                    </li>
                    <li>2022/10/23 以下を変更しました。
                        <ul>
                            <li>役職「冷凍者」を追加</li>
                        </ul>
                    </li>
                    <li>2022/09/02 以下を変更しました。
                        <ul>
                            <li>役職「騙狐」「夜狐」を追加</li>
                        </ul>
                    </li>
                    <li>2022/09/01 以下を変更しました。
                        <ul>
                            <li>役職「闇探偵」「耳年増」を追加</li>
                        </ul>
                    </li>
                    <li>2022/07/30 以下を変更しました。
                        <ul>
                            <li>役職「全知者」を追加</li>
                        </ul>
                    </li>
                    <li>2022/07/30 以下を変更しました。
                        <ul>
                            <li>表示オプションに「文字を大きく表示する」「画像を大きく表示する」を追加</li>
                        </ul>
                    </li>
                    <li>2022/07/04 以下を変更しました。
                        <ul>
                            <li>ババ、当選者で役職交換された側にメッセージ表示を追加</li>
                        </ul>
                    </li>
                    <li>2022/06/26 以下を変更しました。
                        <ul>
                            <li>人狼の襲撃を以下のように仕様変更</li>
                            <li>一人ずつ個別の襲撃セットを行える</li>
                            <li>日付更新時は、投票と同様、最多票となる内容で襲撃が実行される</li>
                            <li>他人の襲撃セットの内容は参照できない</li>
                        </ul>
                    </li>
                    <li>2022/05/10 以下を変更しました。
                        <ul>
                            <li>役職「画鋲」「箪笥」を追加</li>
                        </ul>
                    </li>
                    <li>2022/05/09 以下を変更しました。
                        <ul>
                            <li>役職「管狐」「稲荷」「当選者」を追加</li>
                        </ul>
                    </li>
                    <li>2022/05/04 以下を変更しました。
                        <ul>
                            <li>発言で絵文字を使用できるよう変更</li>
                            <li>自己紹介機能を追加（自分の戦績ページで編集）</li>
                        </ul>
                    </li>
                    <li>2022/05/01 以下を変更しました。
                        <ul>
                            <li>静狼が護衛か襲撃耐性で襲撃失敗した場合、呪狼に変化するよう仕様変更</li>
                            <li>役職「感覚者」を追加</li>
                        </ul>
                    </li>
                    <li>2022/04/30 以下を変更しました。
                        <ul>
                            <li>ルビ機能を追加</li>
                        </ul>
                    </li>
                    <li>2022/04/29 以下を変更しました。
                        <ul>
                            <li>抽出中に画面下部の抽出モーダルを開くボタンを押下すると抽出が解除されるよう動作を変更</li>
                        </ul>
                    </li>
                    <li>2022/04/26 以下を変更しました。
                        <ul>
                            <li>キャラチップ一覧画面に設定ファイル作成補助ツールについて追記</li>
                            <li>ルールに闇鍋編成について記載</li>
                        </ul>
                    </li>
                    <li>2022/04/21 以下を変更しました。
                        <ul>
                            <li>キャラクターを自分で用意する村の規約変更</li>
                            <li>キャラクターを自分で用意する村は入村パスワードを必須とするよう仕様変更</li>
                            <li>表情差分編集機能を追加</li>
                        </ul>
                    </li>
                    <li>2022/04/19 以下を実装しました。
                        <ul>
                            <li>キャラクターを自分で用意する村建てオプションを追加</li>
                        </ul>
                    </li>
                    <li>2022/04/10 以下を実装しました。
                        <ul>
                            <li>キャラチップの詳細ページに部屋割り例を表示</li>
                        </ul>
                    </li>
                    <li>2022/04/10 以下を変更しました。
                        <ul>
                            <li>王狼、角狼、飛狼、金狼、銀狼、歩狼が護衛か襲撃耐性で襲撃失敗した場合、人狼に変化するよう仕様変更</li>
                            <li>「●●！今日がお前の命日だ！」の発言者を「ランダム」→「襲撃者に固定」に仕様変更</li>
                        </ul>
                    </li>
                    <li>2022/04/10 以下を変更しました。
                        <ul>
                            <li>役職「牧師」「教唆者」を追加</li>
                            <li>ステータス「狂気」「信念」を追加</li>
                            <li>破局者の陣営を愉快犯陣営から人狼陣営に変更</li>
                            <li>誑狐が誑かす際、恋絆を除去するよう仕様変更</li>
                            <li>破局者、恋泥棒が能力行使に失敗した場合、対象に通知されないよう仕様変更</li>
                            <li>泥棒猫が恋泥棒に失敗した場合、自身への恋絆を付与しないよう仕様変更</li>
                            <li>泥棒猫はエピローグまで能力行使しないと自害するよう仕様変更</li>
                            <li>誑かしの処理順を恋絆系の処理の後に変更</li>
                        </ul>
                    </li>
                    <li>2022/04/09 以下を変更しました。
                        <ul>
                            <li>役職「黙狼」「聴狂人」を追加</li>
                            <li>死霊術師が蘇生させた際に変化する役職を「人狼」から「黙狼」に仕様変更</li>
                        </ul>
                    </li>
                    <li>2022/03/30 以下を変更しました。
                        <ul>
                            <li>役職「静狼」「堅狼」を追加</li>
                        </ul>
                    </li>
                    <li>2022/03/29 以下を変更しました。
                        <ul>
                            <li>勝敗判定陣営を表示</li>
                            <li>入村時に選択できるキャラ数が多い場合に100件ずつ画像表示</li>
                        </ul>
                    </li>
                    <li>2022/03/28 以下を実装しました。
                        <ul>
                            <li>役職「防音者」「怨恨者」を追加</li>
                        </ul>
                    </li>
                    <li>2022/03/12 以下を実装しました。
                        <ul>
                            <li>各発言に返信、秘話リンクを追加（試験運用中）</li>
                        </ul>
                    </li>
                    <li>2022/02/22 以下を実装しました。
                        <ul>
                            <li>参加したことがない人は村を建てられないよう仕様変更</li>
                        </ul>
                    </li>
                    <li>2022/02/06 以下を実装しました。
                        <ul>
                            <li>ハッシュタグ機能を追加</li>
                        </ul>
                    </li>
                    <li>2021/12/15 以下を実装しました。
                        <ul>
                            <li>役職「バールのようなもの」を追加</li>
                        </ul>
                    </li>
                    <li>2021/12/12 以下を実装しました。
                        <ul>
                            <li>役職「破局者」「泥棒猫」を追加</li>
                        </ul>
                    </li>
                    <li>2021/12/02 以下を実装しました。
                        <ul>
                            <li>役職「黒箱者」を追加</li>
                        </ul>
                    </li>
                    <li>2021/12/01 以下を実装しました。
                        <ul>
                            <li>村設定「募集範囲」「年齢制限」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/30 以下を実装しました。
                        <ul>
                            <li>役職「マタギ」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/25 以下を実装しました。
                        <ul>
                            <li>役職「弁護士」「市長」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/17 以下を実装しました。
                        <ul>
                            <li>役職「翻訳者」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/16 以下を実装しました。
                        <ul>
                            <li>プロローグ中に村名を変更できるように仕様変更</li>
                            <li>恋絆、狐憑きの梟は恋人会話と念話を地獄耳でなく元の状態で参照できるよう仕様変更</li>
                        </ul>
                    </li>
                    <li>2021/11/15 以下を実装しました。
                        <ul>
                            <li>役職「執行人」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/14 以下を実装しました。
                        <ul>
                            <li>キャラチップを複数選択して村を作成できるよう変更</li>
                            <li>村検索機能を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/12 以下を実装しました。
                        <ul>
                            <li>役職「保険屋」を追加</li>
                            <li>一部の役職について、能力行使内容を表示できるよう仕様変更（例：狩人）</li>
                            <li>※得られる情報量は変わりません</li>
                        </ul>
                    </li>
                    <li>2021/11/09 以下を実装しました。
                        <ul>
                            <li>役職「濁点者」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/08 以下を実装しました。
                        <ul>
                            <li>役職「不止者」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/07 以下を実装しました。
                        <ul>
                            <li>エピローグ後に秘話にアンカーを張れるよう変更</li>
                        </ul>
                    </li>
                    <li>2021/11/06 以下を実装しました。
                        <ul>
                            <li>エピローグ短縮機能を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/05 以下を実装しました。
                        <ul>
                            <li>役職「仙狐」「ババ」を追加</li>
                            <li>発言種別「念話」を追加（仙狐の項目を参照ください）</li>
                            <li>見学発言の色を変更（ルール - その他の項目を参照ください）</li>
                        </ul>
                    </li>
                    <li>2021/11/04 以下を実装しました。
                        <ul>
                            <li>役職「花占い師」「監視者」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/03 以下を実装しました。
                        <ul>
                            <li>秘話の対象を画像で選択</li>
                        </ul>
                    </li>
                    <li>2021/11/03 以下を変更しました。
                        <ul>
                            <li><a th:href="@{/rule#tensei}">転生</a>の仕様やCOルールを明記</li>
                            <li>転生で選ばれる役職の候補を仕様変更</li>
                            <li>村建てオプションに転生先役職範囲を追加</li>
                            <li>エピで役職履歴を表示、状況欄にその日の役職を表示</li>
                        </ul>
                    </li>
                    <li>2021/11/02 以下を実装しました。
                        <ul>
                            <li>役職「蘇生者」「死霊術師」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/02 以下を実装しました。
                        <ul>
                            <li>役職「トラック」「ごん」を追加</li>
                        </ul>
                    </li>
                    <li>2021/11/01 以下を実装しました。
                        <ul>
                            <li>役職「風来狩人」「拡声者」を追加</li>
                            <li>「最新」表示時に自動更新や更新ボタンを押下しても「最新」が維持されるよう変更</li>
                        </ul>
                    </li>
                    <li>2021/11/01 役職のバランス調整を行いました。
                        <ul>
                            <li>罠師：設置の際対象の部屋までの足音が鳴るよう変更</li>
                            <li>爆弾魔：設置の際対象の部屋までの足音が鳴るよう変更</li>
                            <li>求愛者：求愛の際対象の部屋までの足音が鳴るよう変更</li>
                            <li>求愛者：能力行使は1日目のみ → いつでも1回までに変更</li>
                            <li>ストーカー：ストーキングの際対象の部屋までの足音が鳴るよう変更</li>
                            <li>ストーカー：能力行使は1日目のみ → いつでも1回までに変更</li>
                            <li>絡新婦：誘惑の際対象の部屋までの足音が鳴るよう変更</li>
                            <li>美人局：誘惑の際対象の部屋までの足音が鳴るよう変更</li>
                            <li>誑狐：誑かしの際対象の部屋までの足音が鳴るよう変更</li>
                            <li>虹職人：虹塗りの際対象の部屋までの足音が鳴るよう変更</li>
                            <li>壁殴り代行：一度殴った対象は再度殴る対象に選べないよう変更</li>
                        </ul>
                    </li>
                    <li>2021/10/31 以下を実装しました。
                        <ul>
                            <li>発言抽出を改良</li>
                            <li>役職特有のメッセージや能力行使履歴を死亡時・エピローグ時にも参照できるよう変更</li>
                            <li>役職「虹職人」を追加</li>
                            <li>「最新」表示機能追加</li>
                            <li>初期表示は最新ページを、日付移動時は1ページ目を表示するよう変更</li>
                        </ul>
                    </li>
                    <li>2021/10/30 以下を実装しました。
                        <ul>
                            <li>ユーザー一覧を実装</li>
                            <li>「ページ分割しない」だとわかりにくいので「ページ分割する」に変更</li>
                            <li>転生者が絶対人狼として生き返った場合、絶対人狼である旨のメッセージを表示するよう変更</li>
                            <li>いずれかの転生者が梟として生き返り、それが村で一人目の梟の場合、梟が存在する旨のメッセージを表示するよう変更</li>
                        </ul>
                    </li>
                    <li>2021/10/29 以下を実装しました。
                        <ul>
                            <li>役職「歩狼」「銀狼」「金狼」「王狼」「煽動者」を実装</li>
                        </ul>
                    </li>
                    <li>2021/10/29 以下を変更しました。
                        <ul>
                            <li>エピローグの参加者一覧で恋絆や狐憑きを確認できるよう変更</li>
                        </ul>
                    </li>
                    <li>2021/10/28 以下を変更しました。
                        <ul>
                            <li>罠と爆弾の作動・起爆結果メッセージを追加（エピまで非公開）</li>
                            <li>背徳者、狐憑きが妖狐系役職が全滅した際に後追いするよう変更</li>
                        </ul>
                    </li>
                    <li>2021/10/28 以下を修正しました。
                        <ul>
                            <li>村設定変更画面を開けない不具合を修正</li>
                            <li>1日目にフルバすると2日目の探偵調査でエラーになる不具合を修正</li>
                            <li>闇鍋と固定編成で役職編成メッセージの公開範囲が逆になっていた不具合を修正</li>
                        </ul>
                    </li>
                    <li>2021/10/27 以下を実装しました。
                        <ul>
                            <li>大規模修繕（バグってる可能性が高いので変な挙動をしていたら教えてください）</li>
                            <li>アクションと名前変更と村建て機能タブも畳んだ状態を保持できるように変更</li>
                            <li>エピったら能力行使履歴を状況欄に全部表示</li>
                        </ul>
                    </li>
                    <li>2021/08/19 以下を実装しました。
                        <ul>
                            <li>役職「飛狼」「角狼」を実装</li>
                        </ul>
                    </li>
                    <li>2021/08/17 以下を修正・実装しました。
                        <ul>
                            <li>村に参加していても新しい村を作成できるよう変更</li>
                        </ul>
                    </li>
                    <li>2021/08/08 以下を修正・実装しました。
                        <ul>
                            <li>絡新婦、美人局に誘惑された際に勝敗判定陣営が変わらない不具合を修正</li>
                            <li>闇鍋編成で陣営の最大人数を設定しても最大人数を超えることがある不具合を修正</li>
                            <li>秘話プルダウンに部屋番号を表示し、部屋番号順に表示されるよう修正</li>
                            <li>秘話に切り替えた際に発言欄が独り言の色になっている不具合を修正</li>
                        </ul>
                    </li>
                    <li>2021/08/03 以下を実装しました。
                        <ul>
                            <li>役職「壁殴り代行」を実装</li>
                        </ul>
                    </li>
                    <li>2021/08/02 以下を実装しました。
                        <ul>
                            <li>誑狐、絡新婦、美人局の能力を1日目以外にも使用できるよう変更</li>
                        </ul>
                    </li>
                    <li>2021/08/02 以下を実装しました。
                        <ul>
                            <li>役職「転生者」「申し子」を追加</li>
                        </ul>
                    </li>
                    <li>2021/08/01 以下を実装しました。
                        <ul>
                            <li>役職「絡新婦」「美人局」を追加</li>
                        </ul>
                    </li>
                    <li>2021/08/01 以下を実装しました。
                        <ul>
                            <li>闇鍋編成機能を追加</li>
                            <li>梟がいると1日目に専用シスメが表示されるよう変更</li>
                        </ul>
                    </li>
                    <li>2021/07/26 以下を実装しました。
                        <ul>
                            <li>役職「妄想癖」「夢遊病者」「冤罪者」を追加</li>
                        </ul>
                    </li>
                    <li>2021/07/26 以下を実装しました。
                        <ul>
                            <li>役職「一匹狼」を追加</li>
                            <li>秘話の背景色を変更</li>
                        </ul>
                    </li>
                    <li>2021/07/26 以下を実装しました。
                        <ul>
                            <li>役職「誑狐」を追加</li>
                            <li>妖狐、誑狐は誰が妖狐系役職か認識できるよう変更</li>
                            <li>希望役職に「おまかせ（妖狐陣営）」と「おまかせ（愉快犯陣営）」を追加</li>
                        </ul>
                    </li>
                    <li>2021/07/25 以下を変更しました。
                        <ul>
                            <li>進行中の村に参加していても新たに他の村に参加できるように変更</li>
                        </ul>
                    </li>
                    <li>2021/06/14 以下を実装しました。
                        <ul>
                            <li>名前変更</li>
                            <li>簡易メモ</li>
                            <li>自分宛発言抽出</li>
                        </ul>
                    </li>
                    <li>2021/06/11 以下を実装しました。
                        <ul>
                            <li>アクション発言を追加</li>
                        </ul>
                    </li>
                    <li>2020/10/05 以下を実装しました。
                        <ul>
                            <li>役職「求愛者」「ストーカー」を追加</li>
                        </ul>
                    </li>
                    <li>2020/10/02 以下を実装しました。
                        <ul>
                            <li>役職「果実籠」を追加</li>
                        </ul>
                    </li>
                    <li>2020/10/02 以下を変更しました。
                        <ul>
                            <li>村設定の発言制限を通常発言以外は前役職共通の制限に変更</li>
                        </ul>
                    </li>
                    <li>2020/10/01 以下を実装しました。
                        <ul>
                            <li>役職「絶対人狼」を追加</li>
                            <li>役職希望に「おまかせ（役職窓なし）」を追加</li>
                        </ul>
                    </li>
                    <li>2020/09/28 以下を実装しました。
                        <ul>
                            <li>役職「梟」を追加</li>
                        </ul>
                    </li>
                    <li>2020/09/25 以下を実装しました。
                        <ul>
                            <li>役職「強運者」「指揮官」を追加</li>
                        </ul>
                    </li>
                    <li>2020/09/16 以下を実装しました。
                        <ul>
                            <li>役職「恋人」「同棲者」を追加</li>
                        </ul>
                    </li>
                    <li>2020/08/15 以下を実装しました。
                        <ul>
                            <li>役職「背徳者」を追加</li>
                        </ul>
                    </li>
                    <li>2019/11/30 以下を実装しました。
                        <ul>
                            <li>罠師、爆弾魔の説明がわかりにくかったので修正</li>
                            <li>役職「パン屋」「占星術師」「検死官」を追加</li>
                            <li>朝の足音の表示順をランダムから番号が若い順に変更</li>
                            <li>発言の名前欄に部屋番号を表示するように変更</li>
                            <li>状況欄の部屋割りの名前をタップするとフルネームを表示するよう変更</li>
                            <li>人狼は他の人がセットした襲撃履歴も見られるよう変更</li>
                        </ul>
                    </li>
                    <li>2019/11/15 以下を実装しました。
                        <ul>
                            <li>役職「呪狼」「智狼」を追加</li>
                            <li>役職向けシステムメッセージの表示色を若干変更</li>
                        </ul>
                    </li>
                    <li>2019/11/14 以下を実装しました。
                        <ul>
                            <li>役職「罠師」「爆弾魔」を追加</li>
                        </ul>
                    </li>
                    <li>2019/10/28 以下を実装しました。
                        <ul>
                            <li>村の定員を最大20名から最大99名に変更</li>
                            <li>村作成時、最低開始人数〜定員に含まれない構成は入力しなくても良いように変更</li>
                            <li>占い師系、狂人系、探偵、妖狐など、構成に1名までしか含められなかった役職を複数含められるよう変更</li>
                            <li>その他色々と表示改善</li>
                        </ul>
                    </li>
                    <li>2019/07/16 以下を行いました。
                        <ul>
                            <li>キャラチップ「城下町の酒場」のキャラを追加</li>
                            <li>キャラチップ「closure」を追加（コラボ分は未実装）</li>
                            <li>キャラチップ「Mad Party」を追加（コラボ分は未実装）</li>
                        </ul>
                    </li>
                    <li>2019/07/10 以下を行いました。
                        <ul>
                            <li>突然死ありの村で未投票の場合画面下部に警告表示するように変更</li>
                        </ul>
                    </li>
                    <li>2019/07/03 以下を実装しました。
                        <ul>
                            <li>ツイッターシェアボタン</li>
                        </ul>
                    </li>
                    <li>2019/06/19 以下を行いました。
                        <ul>
                            <li>キャラチップ「ぐれすけ・ぷらす」を追加</li>
                        </ul>
                    </li>
                    <li>2019/05/27 以下の不具合を修正しました。
                        <ul>
                            <li>発言制限ありの村で文字数がオーバーしていないのに発言できない</li>
                        </ul>
                    </li>
                    <li>2019/03/03 以下を行いました。
                        <ul>
                            <li>キャラチップ「歳時抄」の赤青差分を追加</li>
                        </ul>
                    </li>
                    <li>2019/02/23 以下を行いました。
                        <ul>
                            <li>キャラチップ「かくりよ」を追加</li>
                            <li>キャラチップ「曲芸会hello！」を追加</li>
                            <li>キャラチップ「少し大きな霧雨降る街」を追加</li>
                            <li>キャラチップ「班帝家の一族」を追加</li>
                        </ul>
                    </li>
                    <li>2019/02/13 以下を実装しました。
                        <ul>
                            <li>役職: 探偵（WOLF MANSIONオリジナル）を追加</li>
                        </ul>
                    </li>
                    <li>2018/11/11 以下を実装しました。
                        <ul>
                            <li>H)SOCIUS(Aとジランドールの差分画像を追加</li>
                            <li>村建て画面のUI変更</li>
                            <li>村建て時のダミーキャラ任意選択</li>
                            <li>発言時の表情（差分画像）選択</li>
                            <li>FAQ、ルール追記</li>
                            <li>発言確認を同一画面で行うよう変更</li>
                        </ul>
                    </li>
                    <li>2018/10/23 以下を実装しました。
                        <ul>
                            <li>村建てオプション：発言制限</li>
                            <li>村建て発言へのアンカー</li>
                            <li>1日目に役職アナウンスを表示</li>
                        </ul>
                    </li>
                    <li>2018/9/24 以下を実装しました。
                        <ul>
                            <li>第二役職希望</li>
                            <li>構成が人数に応じて変更される場合、村人、霊能、狂人系、占い師系の役職希望を自動変更</li>
                            <li>役職希望におまかせ系の希望を追加</li>
                        </ul>
                    </li>
                    <li>2018/9/10 以下を実装しました。
                        <ul>
                            <li>役職：狂信者を追加</li>
                            <li>プロローグ中、参加者なしで更新日時を迎えた場合、廃村となるように変更</li>
                            <li>エピローグを迎えていない村に参加中のプレイヤーは新しい村を建てられないように変更</li>
                        </ul>
                    </li>
                    <li>2018/9/9 以下を行いました。
                        <ul>
                            <li>キャラチップ「大神学園」の画像を更新、キャラ追加</li>
                        </ul>
                    </li>
                    <li>2018/8/3 以下を実装しました。
                        <ul>
                            <li>村建てオプション：秘話機能</li>
                            <li>ユーザ定義ランダム発言（ランダム変換を自分で作れる機能）</li>
                            <li>エピローグは固定で24hに変更（変更前：更新間隔＋48h。24h更新の場合72h）</li>
                        </ul>
                    </li>
                    <li>2018/7/28 以下を実装しました。
                        <ul>
                            <li>役職の能力セット履歴（能力欄）を表示</li>
                            <li>30秒ごとに更新チェック、更新があったら更新ボタンが点滅</li>
                            <li>自動更新（更新があったら自動で読み込み）</li>
                            <li>個人戦績ページ</li>
                            <li>50x77以外のキャラチップ画像を表示できるように変更</li>
                            <li>キャラチップ「歳時抄」の画像を更新、キャラ追加</li>
                            <li>インターフェース確認用の村</li>
                            <li>ネタバレ防止機能（発言抽出欄）</li>
                        </ul>
                    </li>
                    <li>2018/6/26 以下を行いました。
                        <ul>
                            <li>人狼館の事件簿村ルール紹介ページを追加</li>
                            <li>サイト名をWOLF MANSIONに決定</li>
                        </ul>
                    </li>
                    <li>2018/6/12 以下を実装しました。
                        <ul>
                            <li>村名を40字まで設定できるように変更（旧：20字）</li>
                            <li>村建て専用機能：廃村（プロローグ時のみ）</li>
                            <li>村建て専用機能：エピローグ延長（エピローグ時のみ）</li>
                        </ul>
                    </li>
                    <li>2018/6/10 以下を実装しました。
                        <ul>
                            <li>村建てオプション：コミット機能</li>
                            <li>村建てオプション：狩人による同一対象の連続護衛不可</li>
                            <li>更新までの時間を表示</li>
                            <li>文字装飾：打ち消し線（ルール - その他を参照）</li>
                        </ul>
                    </li>
                    <li>2018/6/6 以下を実装しました。
                        <ul>
                            <li>人狼、共鳴者は死亡後も役職窓を見られるように変更</li>
                            <li>文字装飾機能（ルール - その他を参照）</li>
                            <li>発言可能な文字数を変更（200→400文字、10行→20行）（村建て発言は1000文字40行）</li>
                            <li>ページ分割について、1ページあたりに表示する発言数を選択できるように</li>
                        </ul>
                    </li>
                    <li>2018/05/23 以下を実装しました。
                        <ul>
                            <li>国主呼び出し機能（ルール - その他を参照）</li>
                            <li>同一人狼による連続襲撃について、1日目遷移時に編成が2狼以下になる場合、自動で「可能」に変更</li>
                        </ul>
                    </li>
                    <li>2018/05/10 以下を実装しました。
                        <ul>
                            <li>ページ分割機能</li>
                            <li>プロローグで連続24時間アクセスしていないと自動で村を去る機能</li>
                            <li>村建てオプション：突然死機能</li>
                            <li>村建て専用機能（キック、村建て発言）</li>
                        </ul>
                    </li>
                    <li>2018/04/24 以下を実装しました。
                        <ul>
                            <li>発言ランダム機能（&#091;&#091;XdY&#093;&#093;、&#091;&#091;fortune&#093;&#093;、&#091;&#091;AorB&#093;&#093;、&#091;&#091;who&#093;&#093;、&#091;&#091;allwho&#093;&#093;）</li>
                        </ul>
                    </li>
                    <li>2018/04/21 以下の不具合を修正しました。
                        <ul>
                            <li>エピったときに見学者が「●●、△△だった」の一覧に出てこない</li>
                        </ul>
                    </li>
                    <li>2018/04/21 以下を実装しました。
                        <ul>
                            <li>村建てオプション：同一人狼が連続襲撃不可</li>
                            <li>村建てオプション：役職構成変更</li>
                            <li>村建てオプション：墓下役職公開</li>
                            <li>村建てオプション：墓下見学と生存者の会話可否</li>
                            <li>独り言へのアンカーを打てるように（エピローグ後限定）</li>
                            <li>発言に発言者のIDを表示（エピローグ後限定）</li>
                        </ul>
                    </li>
                    <li>2018/04/02 テストプレイ中です。以下は現在未実装もしくは未実施です。
                        <ul>
                            <li>村建てオプション：同一人狼が連続襲撃不可、発言数制限</li>
                            <li>個人戦績</li>
                            <li>キャラチップアップロード（提供いただける方はTwitterにてご連絡ください）</li>
                        </ul>
                    </li>
                    <li>2018/03/25 じっぷ様にキャラチップ「<a href="javascript:void(0);" th:href="@{/chara-group/2}">大神学園</a>」を提供していただきました。
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <footer layout:replace="~{layout/footer::footer}"></footer>
</div>
</body>
</html>