<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/top-layout}">
<head>
    <!--/* 個別ページのタイトル */-->
    <title></title>
    <!--/* 個別ページのjs */-->
    <script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="aahub_light"
                 style="background-color: #eee; color: black; padding: 10px; margin-bottom: 10px; font-size: 12px;">
                <p style="color: red; font-size: 16px;">WOLF MANSIONのくにぬしだけど何か質問ある？</p>
                <div id="res1" style="margin-bottom: 10px;">
                    <div>1 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:00:02.91 ID:<span style="color: red;">OrTKNInS1</span>
                    </div>
                    <p style="padding-left: 20px;">特定されない範囲で答える</p>
                </div>
                <div style="margin-bottom: 10px;">
                    <div>2 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:00:50.23 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        やあ （´・ω・｀)<br/>
                        ようこそ、バーボンハウスへ。<br/>
                        このテキーラはサービスだから、まず飲んで落ち着いて欲しい。<br/>
                        <br/>
                        うん、「また」なんだ。済まない。<br/>
                        仏の顔もって言うしね、謝って許してもらおうとも思っていない。<br/>
                        <br/>
                        でも、このスレタイを見たとき、君は、きっと言葉では言い表せない<br/>
                        「ときめき」みたいなものを感じてくれたと思う。<br/>
                        殺伐とした世の中で、そういう気持ちを忘れないで欲しい<br/>
                        そう思って、このスレを立てたんだ。<br/>
                        <br/>
                        じゃあ、注文を聞こうか。<br/>
                    </p>
                </div>
                <div id="res3" style="margin-bottom: 10px;">
                    <div>3 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:01:53.21 ID:<span style="color: red;">OrTKNInS1</span>
                    </div>
                    <p style="padding-left: 20px;">バーボンで終わらせるのやめてもらっていいか？</p>
                </div>
                <div id="res4" style="margin-bottom: 10px;">
                    <div>4 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:03:00.74 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        がしゃーん<br/>
                        　　　　　がしゃーん<br/>
                        <br/>
                        　　　△ ￥ ▲<br/>
                        　　( ㊤ 皿 ㊤ )<br/>
                        　　(　　　　　)<br/>
                        　／│　 肉　 │＼<br/>
                        ＜　 ＼＿＿＿／　 ＞<br/>
                        　　　┃　　┃<br/>
                        　　　＝　　＝<br/>
                        3ｹﾞｯﾄﾛﾎﾞだよ<br/>
                        自動で3ｹﾞｯﾄしてくれる<br/>
                        すごいやつだよ<br/>
                    </p>
                </div>
                <div id="res5" style="margin-bottom: 10px;">
                    <div>5 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:05:42.11 ID:L1NKhARe0
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res1" style="color: blue; "><u>&gt;&gt;1</u></a>
                        いつものリンクどこ行ったんだよ
                    </p>
                </div>
                <div style="margin-bottom: 10px;">
                    <div>6 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:05:58.00 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res3" style="color: blue; "><u>&gt;&gt;3</u></a><br/>
                        　　　　お断りします<br/>
                        　　　　　　　　お断りします<br/>
                        　　　　　　　　　　　　お断りします<br/>
                        　　　　　　ﾊ,,ﾊ　ﾊ,,ﾊ　ﾊ,,ﾊ　ﾊ,,ﾊ<br/>
                        　　　　　（ ﾟωﾟ ）ﾟωﾟ ）ﾟωﾟ ）ﾟωﾟ ）　　お断りします<br/>
                        　　　　／　　 　＼　　＼　　＼　　＼　 　　お断りします<br/>
                        　 ((⊂ 　） 　 ﾉ＼つﾉ＼つﾉ＼つﾉ＼つ)) 　　お断りします<br/>
                        　　　　　（＿⌒ヽ　⌒ヽ　⌒ヽ　⌒ヽ　　　　　　　お断りします<br/>
                        　　　　　　ヽ　ﾍ　}　ﾍ　} 　ﾍ　}　ﾍ　}<br/>
                        　 ε≡Ξ　ﾉノ ｀Jノ ｀J ノ ｀J ノ ｀J<br/>
                    </p>
                </div>
                <div id="res7" style="margin-bottom: 10px;">
                    <div>7 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:08:04.02 ID:<span style="color: red;">OrTKNInS1</span>
                    </div>
                    <div style="padding-left: 20px;">
                        <a href="#res5" style="color: blue;"><u>&gt;&gt;5</u></a><br/>
                        あ、すまんそうだよな色々貼っておくわ<br/>
                        次スレあったら誰か貼っといて<br/>
                        <br/>
                        このサイトは: <a href="javascript:void(0);" th:href="@{/about}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/about</u></a><br/>
                        足音人狼紹介: <a href="javascript:void(0);" th:href="@{/intro}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/intro</u></a><br/>
                        更新履歴: <a href="javascript:void(0);" th:href="@{/announce}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/announce</u></a><br/>
                        ルール: <a href="javascript:void(0);"
                                   th:href="@{/rule}"
                                   style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/rule</u></a><br/>
                        FAQ: <a href="javascript:void(0);"
                                th:href="@{/faq}"
                                style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/faq</u></a><br/>
                        役職一覧: <a href="javascript:void(0);" th:href="@{/skill}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/skill</u></a><br/>
                        ユーザー一覧: <a href="javascript:void(0);" th:href="@{/user-list}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/user-list</u></a><br/>
                        キャラチップ一覧: <a href="javascript:void(0);" th:href="@{/chara-group}"
                                             style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/chara-group</u></a><br/>
                        <div th:if="${user != null}">
                            <span th:text="'あといま表示しているお前のIDは「' + ${user.username} + '」'"></span><br/>
                            <a th:href="@{/user/{username}(username=${user.username})}"
                               style="color: blue;"><u>マイページ</u></a><br/>
                            <a th:href="@{/change-password}" style="color: blue;"><u>パスワード変更</u></a><br/>
                            <a href="javascript:void(0);" style="color: blue;"
                               data-submit-logout><u>ログアウト</u></a><br/>
                            <form id="logout-form" method="post" action="" th:action="@{/logout}"></form>
                        </div>
                        <div th:if="${user == null}">
                            新規ID登録: <a href="javascript:void(0);" th:href="@{/new-player}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/new-player</u></a><br/>
                            ログイン: <a href="javascript:void(0);" th:href="@{/login}" style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/login</u></a><br/>
                        </div>
                    </div>
                </div>
                <div id="res8" style="margin-bottom: 10px;">
                    <div>8 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:11:20.86 ID:WEreWo1F99
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res7" style="color: blue; "><u>&gt;&gt;7</u></a>
                        本物くさいなこれ
                    </p>
                </div>
                <div id="res9" style="margin-bottom: 10px;">
                    <div>9 : <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:13:02.91 ID:NanIM0SiR
                    </div>
                    <p style="padding-left: 20px;">
                        そもそもウルフマンションってなんだよ<br/>
                    </p>
                </div>
                <div style="margin-bottom: 10px;">
                    <div>10: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:14:56.87 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res8" style="color: blue; "><u>&gt;&gt;8</u></a><br/>
                        お前IDすごいから人狼やれ<br/>
                    </p>
                </div>
                <div id="res11" style="margin-bottom: 10px;">
                    <div>11: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:16:00.12 ID:WEreWo1F99
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res9" style="color: blue; "><u>&gt;&gt;9</u></a>
                        いわゆる足音人狼<br/>
                        喋らなくていいから楽<br/>
                        <br/>
                        <br/>
                        <a href="#res1" style="color: blue; "><u>&gt;&gt;1</u></a>
                        村リンクは？<br/>
                    </p>
                </div>
                <div style="margin-bottom: 10px;">
                    <div>12: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:18:02.19 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        　　　　　　　　　　　　　　　　　　　　　 ''';;';';;'';;;,.,　　　　ザッザッザ・・・<br/>
                        　　　　　　　　　　　　　　　　　　　　　　　''';;';'';';''';;'';;;,.,　　　ザッザッザ・・・<br/>
                        　　　　　　　　　　　　　　　　　　　　　　　　;;''';;';'';';';;;'';;'';;;<br/>
                        　　　　　　　　　　　　　　　　　　　　　　　　;;'';';';;'';;';'';';';;;'';;'';;;<br/>
                        　　　　　　　　　　　　　　　　　　　　　　　 vymyvwymyvymyvy、<br/>
                        　　　　　　　　　　　　　　　　　　　　　　MVvvMvyvMVvvMvyvMVvv、　　炎狼からきますた<br/>
                        　　　　　　　　　　　　　　　　　　　Λ＿ﾍ＾－＾Λ＿ﾍ＾－＾Λ＿ﾍ＾Λ＿ﾍ<br/>
                        　　　　吠狼からきますた　　　　ﾍ＿＿Λ　ﾍ＿＿Λ　ﾍ＿＿Λ　ﾍ＿＿Λ<br/>
                        　　　　　　　　　　　　　＿＿,.ヘ　/ヽ＿　/ヽ＿＿,.ヘ　/ヽ＿＿,.ヘ＿,.ヘ　　　ロルオプからきますた<br/>
                        　　　　/＼＿＿_／ヽ　　　/＼＿＿＿ /＼＿＿_／ヽ　_／ヽ　/＼＿＿_／ヽ<br/>
                        　　 ／''''''　　　'''''':::::::＼／''''''　　　'''／''''''　　　'''''':::::::＼　　 ／''''''　　　'''''':::::::＼<br/>
                        　 . |（●）,　　　､（●）､.:|（●）,　　　 |（●）,　　　､（●）､.:|､（ |（●）,　　　､（●）､.:|<br/>
                        　　|　　 ,,ﾉ(､_, )ヽ､,,　.::::|　　 ,,ﾉ(､_, )|　　 ,,ﾉ(､_, )ヽ､,,　.::::|_, )|　　 ,,ﾉ(､_,
                        )ヽ､,,　.::::|<br/>
                        . 　 |　　 ｀-=ﾆ=- '　.:::::::|　　 ｀-=ﾆ= |　　 ｀-=ﾆ=- '　.:::::::|ﾆ=|　　 ｀-=ﾆ=- '　.:::::::|<br/>
                        　　 ＼　　｀ﾆﾆ´　 .:::::／＼　　｀ﾆﾆ　＼　　｀ﾆﾆ´　 .:::::／ﾆ´ ＼　　｀ﾆﾆ´　 .:::::／<br/>
                        　　　／｀ー‐--‐‐―´＼ ／｀ー‐- 　／｀ー‐--‐‐―´＼-‐‐ ／｀ー‐--‐‐―´＼<br/>
                    </p>
                </div>
                <div id="res12" style="margin-bottom: 10px;">
                    <div>13: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:23:30.47 ID:<span style="color: red;">OrTKNInS1</span>
                    </div>
                    <div style="padding-left: 20px;">
                        <a href="#res11" style="color: blue;"><u>&gt;&gt;11</u></a><br/>
                        <th:block th:each="village : ${content.villageList}">
                            <span th:text="${village.villageNumber} +'. '+ ${village.villageName}"></span>
                            <span th:each="tag: ${village.tags}" th:text="'('+${tag.name}+')'"></span>
                            <span th:text="'('+${village.status}+')'"></span>
                            <span th:text="'('+${village.participateNum}+')'"></span>: <a
                                th:href="@{/village/{villageId}(villageId=${village.villageId})}"
                                style="color: blue;"><u><span
                                th:text="'ttps://wolfort.net/wolf-mansion/village/'+${village.villageId}"></span></u></a>
                            <br/>
                        </th:block>
                        村一覧: <a href="javascript:void(0);" th:href="@{/village-list}"
                                   style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/village-list</u></a><br/>
                        <span th:if="${user != null && !content.participate}">
                        村作成: <a href="javascript:void(0);" th:href="@{/new-village}"
                                   style="color: blue;"><u>ttps://wolfort.net/wolf-mansion/new-village</u></a><br/>
                        </span>
                    </div>
                </div>
                <div id="res13" style="margin-bottom: 10px;">
                    <div>14: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:25:25.08 ID:WEreWo1F99
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res12" style="color: blue; "><u>&gt;&gt;13</u></a><br/>
                        サンガツ<br/>
                    </p>
                </div>
                <div id="res15" style="margin-bottom: 10px;">
                    <div>15: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:27:11.33 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        　 　　　 　　 　＿＿＿_<br/>
                        　　　　　　 ／ ＼　　／＼　ｷﾘｯ<br/>
                        .　　　　　／　（ー） 　（ー）＼　　　　＜「マンションは1日15分でできます」<br/>
                        　　　　／　　 ⌒（__人__）⌒ ＼<br/>
                        　　　　|　　 　　　|r┬-|　　　　|<br/>
                        　　　　 ＼　　　　 `ー’´　　 ／<br/>
                        　　　　ノ　　　　　　　　　　 　＼<br/>
                        　 ／´　　　　　　　　　　　　 　　ヽ<br/>
                        　|　　　　ｌ　　　　　　　　　　　　　　＼<br/>
                        　ヽ　　　 -一””””~~｀`’ー‐､　　　-一”””’ー-､.<br/>
                        　　ヽ ＿＿＿＿(⌒)(⌒)⌒)　)　　(⌒＿(⌒)⌒)⌒))<br/>
                        <br/>
                        　　　　 　　　 　＿＿＿_<br/>
                        　　　　　　　 ／_ノ 　ヽ､_＼<br/>
                        　ﾐ　ﾐ　ﾐ　　oﾟ(（●）) (（●）)ﾟo　　　　　　ﾐ　ﾐ　ﾐ　　　＜だっておｗｗｗ<br/>
                        /⌒)⌒)⌒. ::::::⌒（__人__）⌒:::＼　　　/⌒)⌒)⌒)<br/>
                        |　/　/　/　　　　　|r┬-|　　　　|　(⌒)/　/ / /／<br/>
                        |　:::::::::::(⌒)　　　　|　|　 |　　 ／ 　ゝ　　:::::::::::/<br/>
                        |　　　　　ノ　　 　　|　|　 |　 　＼　　/　　）　　/<br/>
                        ヽ　　　　/　　　　　`ー’´　　 　 ヽ /　　　　／<br/>
                        　|　　　　|　　 l||l　从人 l||l 　　　　 l||l 从人 l||l　　バンバン<br/>
                        　ヽ　　　 -一””””~~｀`’ー‐､　　　-一”””’ー-､<br/>
                        　　ヽ ＿＿＿＿(⌒)(⌒)⌒)　)　　(⌒＿(⌒)⌒)⌒))<br/>
                    </p>
                </div>
                <div id="res16" style="margin-bottom: 10px;">
                    <div>16: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:29:04.31 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        　　　　 　 ＿＿＿＿<br/>
                        　　　 ／　　 ＼　　／＼<br/>
                        　　／ 　し （＞） 　（＜）＼ 頼む、生存しててくれ・・・！<br/>
                        　　|　∪　 　 （__人__）　 J |　 ＿＿＿＿＿＿＿_<br/>
                        .　　＼　　u　　 ｀⌒´　　／　| |　　　　　　　　　　|<br/>
                        　　 ノ　　　　　　　 　 　 ＼　| |　　　　　　　　　　|<br/>
                        <br/>
                        　　　　　 　　　＿＿＿_<br/>
                        　　　　　　　／　　　u　＼<br/>
                        　　　　 　／　　＼　 　 ─＼　　　　チラッ<br/>
                        　　　　／ 　し （＞） 　（●） ＼<br/>
                        　　　　|　∪　 　 （__人__）　 J |　 ＿＿＿＿＿＿＿_<br/>
                        　 　　 ＼　　u　　 ｀⌒´　 　／　| |　　　　　　　　　　|<br/>
                        　　　　ノ　　　　　　　　　 　 ＼　| |　　　　　　　　　　|<br/>
                        　 ／´　　　　　　　 　 　 　 　 　 | |　　　　　　　　　　|<br/>
                        　|　　　　ｌ　　 　 　 　 　 　 　 　 | |　　　　　　　　　　|<br/>
                        <br/>
                        　　　　 　 ＿＿＿＿<br/>
                        　　 　／::::::─三三─＼<br/>
                        　　／:::::::: （ ○）三（○）＼ <a href="" th:href="@{/village/338/day/4}"
                                                  style="color: blue"><u>無惨11人・・・！？</u></a><br/>
                        　　|::::::::::::::::::::（__人__）:::: 　|　 ＿＿＿＿＿＿＿_<br/>
                        .　　＼::::::::　 　|r┬-| 　 ／　| |　　　　　　　　　　|<br/>
                        　　 ノ::::::::::::　　`ー'´　　＼　| |　　　　　　　　　　|<br/>
                    </p>
                </div>
                <div id="res17" style="margin-bottom: 10px;">
                    <div>17: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:31:20.00 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        　＿＿＿<br/>
                        /　||￣￣||　∧＿∧<br/>
                        |.....||＿＿|| （ 　　　 ）　　どうしてこうなった…<br/>
                        |￣￣＼三⊂/￣￣￣/<br/>
                        |　　　　|　( ./　　　　 /<br/>
                        <br/>
                        　＿＿＿<br/>
                        /　||￣￣||　∧＿∧<br/>
                        |.....||＿＿|| （ ＾ω＾ ）　　どうしてこうなった！？<br/>
                        |￣￣＼三⊂/￣￣￣/<br/>
                        |　　　　|　( ./　　　　 /<br/>
                        <br/>
                        　＿＿＿ ♪　∧__,∧.∩<br/>
                        /　||￣￣||　ｒ（ ＾ω＾ ）ﾉ　　どうしてこうなった！<br/>
                        |.....||＿＿|| └‐、　　　ﾚ´｀ヽ　　　どうしてこうなった！<br/>
                        |￣￣＼三　 /￣￣￣/ノ´｀　♪<br/>
                        |　　　　|　( ./　　　　 /<br/>
                        <br/>
                        　＿＿＿ 　　　　　　　♪　　∩∧__,∧<br/>
                        /　||￣￣||　　　　　　　　　_ ヽ（ ＾ω＾ ）7　　どうしてこうなった！<br/>
                        |.....||＿＿|| 　　　　　　　　/｀ヽJ　　　,‐┘　　　どうしてこうなった！<br/>
                        |￣￣＼三　 /￣￣￣/ 　´｀ヽ､_　 ノ<br/>
                        |　　　　|　( ./　　　　 / 　　　　　｀) ）　♪<br/>
                    </p>
                </div>
                <div id="res18" style="margin-bottom: 10px;">
                    <div>18: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:33:27.31 ID:<span style="color: red;">OrTKNInS1</span>
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res15" style="color: blue;"><u>&gt;&gt;15</u></a><br/>
                        昔は本当に15分でできたんだよ...<br/>
                        <br/>
                        AAスレになっちゃったな<br/>
                        好きだからいいけど
                    </p>
                </div>
                <div id="res19" style="margin-bottom: 10px;">
                    <div>19: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:36:28.11 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        　　　　∩＿∩　　　　　人人人人人人人人人人人人人人人人人人人人人人人人人人人人人<br/>
                        　　 ／ ＼ ／＼　　　＜ すごい一体感を感じる。今までにない何か熱い一体感を。　　　　　　 ＞<br/>
                        　　|　 （ﾟ）=（ﾟ）　|　　 ＜ 風・・・なんだろう吹いてきてる確実に、着実に、俺たちのほうに。.　　 ＞<br/>
                        　　|　　●_●　 |　　 ＜ 中途半端はやめよう、とにかく最後までやってやろうじゃん。　　　　　 ＞<br/>
                        　/　　　　　　　　ヽ　 ＜ ネットの画面の向こうには沢山の仲間がいる。決して一人じゃない。 ＞<br/>
                        　| 〃 ------ ヾ　|　＜ 信じよう。そしてともに戦おう。　　　　　　　　　　　　　　　　　　　　　　　 ＞<br/>
                        　＼＿＿二＿＿ノ　 ＜ 工作員や邪魔は入るだろうけど、絶対に流されるなよ。　　　　　　　　＞<br/>
                        　　　　　　　　　　　　　 ＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹＹ<br/>
                    </p>
                </div>
                <div id="res20" style="margin-bottom: 10px;">
                    <div>20: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 00:42:11.91 ID:<span style="color: red;">OrTKNInS1</span>
                    </div>
                    <p style="padding-left: 20px;">
                        いよいよ明日がエイプリルフール本番ですよ！<br/>
                        <br/>
                        むっちゃドキドキしてきた…。<br/>
                        <br/>
                        皆さん、今日くらいは冗談は休んで明日に備えますよね？<br/>
                    </p>
                </div>
                <div id="res21" style="margin-bottom: 10px;">
                    <div>21: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>
                        : 2025/04/01(火) 01:04:42.98 ID:BrBNH0uSE
                    </div>
                    <p style="padding-left: 20px;">
                        <a href="#res20" style="color: blue;"><u>&gt;&gt;20</u></a><br/>
                        .　. .... ..: : :: :: ::: :::::: :::::::::::: ::::::::::::::::::::::::::::::::::::::::::::::<br/>
                        　　　　　　　 Λ＿Λ . . . .: : : ::: : :: ::::::::: :::::::::::::::::::::::::::::<br/>
                        　　　　　 　/:彡ミ゛ヽ;）ー､　. . .: : : :::::: :::::::::::::::::::::::::::::::::<br/>
                        　　　　　 / :::/:: ヽ、ヽ、 ::i . .:: :.: ::: . :::::::::::::::::::::::::::::::::::::::<br/>
                        　　 　　 / :::/;;: 　 ヽ　ヽ ::ｌ　. :. :. .:: : :: :: :::::::: : ::::::::::::::::::<br/>
                        ￣￣￣（_,ノ ￣￣￣ヽ､_ノ￣<br/>
                        <br/>
                        今日だよ<br/>
                        来年こそはがんばってよ<br/>
                        年度初めからこんなことになるなんて<br/>
                    </p>
                </div>
                <div style="margin-bottom: 10px;">
                    <div>1001: <span
                            style="text-weight: 600; color: green;">以下、名無しにかわりましてリア充がお送ります</span>

                    </div>
                    <p style="padding-left: 20px;">
                        この村は１０００を超えました。
                        もう書けないので、新しい村を立ててくださいです。。。
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <footer layout:replace="~{layout/footer::footer}"></footer>
</div>
</body>
</html>