<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${'キャラチップ: ' + content.charaGroupName}"></title>
<!--/* 個別ページのjs */-->
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<h1 class="h4" th:text="${'キャラチップ: ' + content.charaGroupName}"></h1>
					<p th:text="${'作者: ' + content.designerName + '様'}"></p>
					<div class="col-sm-3 col-xs-6" style="border: 1px solid #464545;" th:if="${content.charaList != null && content.charaList.size() > 0}"
						th:each="chara : ${content.charaList}">
						<span style="display: block; text-align: center;"><img src="" th:src="${chara.charaImgUrl}" style="width: 50px; height: 77px;" /></span> <span
							style="display: block; text-align: center;" th:text="${'[' + chara.charaShortName + '] ' + chara.charaName}"></span>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>