<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/* 個別ページのタイトル */-->
    <title>FAQ</title>
    <!--/* 個別ページのjs */-->
    <script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>入村できないのですが</p>
                <span class="answer icon">A</span>
                <p>
                    入村できない条件は以下のいずれかです<br>
                    ・ログインしていない<br>
                    ・すでに参加（見学）人数が上限に達している<br>
                    ・突然死したことがあり、入村制限が解除されていない<br>
                    ・その他国主により入村を制限されている<br>
                    理由が思い当たらない場合は国主までご連絡ください。<br>
                </p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>相談用の村がないようですが勝手に村を建てても良いですか？</p>
                <span class="answer icon">A</span>
                <p>ご自由に建てていただいて結構です！歓迎します。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>呪殺と妖狐への襲撃が重なった場合、占い視点で人狼が妖狐を襲撃したことはわかりますか？ / 人狼視点で呪殺があったことはわかりますか？</p>
                <span class="question icon">Q</span>
                <p>護衛と襲撃が重なった場合、狩人視点で護衛成功かわかりますか？ / 人狼視点で護衛されたか妖狐噛みなのかわかりますか？</p>
                <span class="answer icon">A</span>
                <p>
                    あらゆる条件でわからないようにしています。<br>
                </p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>恋人陣営役職に狐憑きが付与されている場合勝利条件はどうなりますか？</p>
                <span class="answer icon">A</span>
                <p>恋絆が付与されていなければ勝利条件は狐陣営の勝利となります。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>村が始まったら背景が暗くなって操作を受け付けない / ページ分割しても保存されない / 「確認しました」を押しても役職確認のメッセージが出る</p>
                <span class="answer icon">A</span>
                <p>
                    お手数ですがwolfort.netのcookieを削除してみてください。「cookie 削除 ブラウザ名」で検索するとやり方が出てきます。<br>
                    それでも直らない場合はキャッシュも削除してみてください。
                </p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>絵文字等を発言しようとすると、発言がなかったことになる / 絵文字が消える</p>
                <span class="answer icon">A</span>
                <p>
                    申し訳ないのですが仕様です。
                </p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>恋絆がついていて後追い以外の要因で死亡した場合、後追いメッセージは出ますか？</p>
                <span class="answer icon">A</span>
                <p>出ません</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>恋絆が付与された直後に死亡した人も役職欄の恋絆対象一覧に表示されますか？</p>
                <span class="answer icon">A</span>
                <p>されます</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>絡新婦/美人局などの恋絆がつかない恋人陣営は恋絆対象一覧が表示されますか？</p>
                <span class="answer icon">A</span>
                <p>されません</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>絶対人狼に恋絆がついて恋愛対象が死んだ場合、どのような処理になりますか？</p>
                <span class="answer icon">A</span>
                <p>毎日復活した直後に後追死します</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>絶対人狼の復活条件は絶対人狼以外の人狼が生存していることですが、一匹狼は含まれますか？</p>
                <span class="answer icon">A</span>
                <p>含まれません（「人狼系役職」に一匹狼は含まれません）</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>一匹狼←→人狼　の襲撃はお互い成功しますか？</p>
                <span class="answer icon">A</span>
                <p>お互い襲撃耐性がないので、能力が発動すれば成功します</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>自分の発言も含めて発言が何も表示されないの！たすけて！</p>
                <span class="answer icon">A</span>
                <p>自分宛発言で抽出してしまっているかも？元に戻すを押してみてください。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>パン屋が全滅した日に転生者/申し子がパン屋として復活した場合、メッセージはどうなりますか？</p>
                <span class="answer icon">A</span>
                <p>パン屋の処理が復活よりも後なので、全滅したメッセージは流れず、パンが焼けます。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>転生者/申し子が霊能者として復活した場合、過去の結果を見ることはできますか？</p>
                <span class="answer icon">A</span>
                <p>過去に霊能者が1名以上生存していた期間の結果を見ることができます。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>転生者/申し子が導師として復活した場合、過去の結果を見ることはできますか？</p>
                <span class="answer icon">A</span>
                <p>過去に導師か魔神官が1名以上生存していた期間の結果を見ることができます。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>転生者が魔神官として復活した場合、過去の結果を見ることはできますか？</p>
                <span class="answer icon">A</span>
                <p>過去に導師か魔神官が1名以上生存していた期間の結果を見ることができます。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>転生者/申し子が検死官として復活した場合、過去の結果を見ることはできますか？</p>
                <span class="answer icon">A</span>
                <p>過去に検死官が1名以上生存していた期間の結果を見ることができます。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>FAQ薄くないですか？</p>
                <span class="answer icon">A</span>
                <p>だいたい<a th:href="@{/rule}" target="_blank">ルール</a>のほうに書いてあるので、あまり書くことがないのです。</p>
            </div>
            <div class="col-sm-12 col-xs-12 faq">
                <span class="question icon">Q</span>
                <p>ルールにもここにも書かれてないことでわからないことがあるのですが</p>
                <span class="answer icon">A</span>
                <p>
                    入村している場合は「@国主」をつけて発言すると国主に発言内容が通知されるようになっているので、お気軽にご質問ください。<br> 国主から秘話で回答します。（秘話オフの村でも国主は秘話を使用できます）
                    <br> 入村していない場合はTwitter<a
                        href="https://twitter.com/ort_dev" target="_blank">@ort_dev</a>にリプやDM等でご質問ください。
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <footer layout:replace="~{layout/footer::footer}"></footer>
</div>
</body>
</html>