<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title></title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<h2 class="h3">このサイトは</h2>
				<div class="col-sm-12">
					<p>
						人狼のルールに加え、特殊ルールである「人狼館の推理村」ルールを加えた人狼がプレイできるサイトです。<br> 通常の人狼をプレイしたことがある、もしくは十分にルールを読み込んでいることが参加の前提となります。<br>
					</p>
				</div>

				<h2 class="h3">告知事項</h2>
				<div class="col-sm-12">
					<p>開発なうです</p>
				</div>

				<h2 th:if="${user == null}" class="h3">ログイン</h2>
				<span th:if="${form.error}" class="text-danger">ユーザIDまたはパスワードが正しくありません。</span>
				<div class="col-sm-12" th:if="${user == null}">
					<form method="post" action="" th:action="@{/login}" th:object="${form}">
						ユーザID:
						<input type="text" class="form-control" th:field="*{userId}" />
						パスワード:
						<input type="password" class="form-control" th:field="*{password}" />
						<input type="submit" value="ログイン" />
					</form>
				</div>

				<h2 th:if="${user == null}" class="h3">新規登録</h2>
				<div class="col-sm-12" th:if="${user == null}">
					<a href="javascript:void(0);" th:href="@{/new-player}">新規登録</a>
				</div>

				<h2 class="h3">村一覧</h2>
				<div class="col-sm-12">
					<a th:if="${user != null}" href="javascript:void(0);" th:href="@{/new-village}" class="pull-right">新規村作成</a>
					<div class="table-responsive clearfix">
						<table class="table table-bordered table-condensed">
							<tbody>
								<tr th:each="village : ${content.villageList}" class="">
									<td>
										<a href="javascript:void(0);" th:href="@{/village/{villageId}(villageId=${village.villageId})}"
											th:text="${village.villageName}" class="">村名</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>