<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>人狼館の事件簿村ルール</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<h1 class="h4">このページは</h1>
					<ul>
						<li>本サイトで楽しむことができる「人狼館の事件簿村」ルールについて紹介します。</li>
						<li>本サイトでのルールについての紹介となりますので、各地で開催されている同名のルールと異なる場合があります。</li>
						<li>詳細なルールは<a href="" th:href="@{/rule}">ルール</a>に記載しています。
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-xs-12">
					<div class="row">

						<div class="col-sm-12 col-xs-12">
							<hr />
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'はい、それでは紹介していきますよ', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'よろしくおねがいしま〜す', 'riza', true)}"></div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">白発言での推理発言やCO禁止</h2>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'まず大事な禁止事項から。<br>人狼館の事件簿村ルールでは、<br /><strong>通常発言での推理発言やCOは禁止</strong>となります。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '<strong>神父さんは狼だと思うから【▼神】にするね</strong><br>とか、<br /><strong>【占CO】</strong><br>とかしちゃだめってことなのね', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'そうです。ただし、<br><strong>導師（役職までわかる霊能者）だけはCOや結果発表してもOK</strong>です。<br>結果騙りもして大丈夫ですよ。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'そうなのね！じゃあ人外になったら導師騙りするのー！', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '<strong>騙りCOも禁止</strong>なので注意してくださいね。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '残念なのー', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'あ、あとは<strong>独り言や囁きや共鳴会話では推理発言してもOK</strong>ですからね。<br>生存者全員に見られる発言でなければOKです。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-werewolf', 'わーい！相談して襲撃先決めるの！<br>神父 ジムゾン、今日がお前の命日なのー！', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-grave', 'ぎゃー！', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12" data-message>
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-creator">
										ここまでのまとめ<br> <br>・生存者全員が見られる発言では推理発言禁止<br>・ただし導師だけはCOや結果報告OK（導師騙りも禁止）<br>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">足音の基本ルール</h2>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '推理発言禁止でどうやって狼を探すなの？<br>村側辛すぎるの', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '大丈夫です。<br>人狼館の事件簿村ルール特有の要素があり、<br>それを頼りに狼を探すことができます。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'そういえば「足音」で推理するって書いてたの！<br>足音ってなんなの？', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '一つ一つ説明していきますね。まず、1日目になると皆さんに役職と部屋が割り当てられます。', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12">
								<img th:src="@{/app/images/intro/intro01.png}" width="200" />
							</div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '変わった構造の館なの<br>四方に他の人の部屋があるなの', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'それじゃあ人狼リーザさん、07の部屋にいるゲルトさんを襲撃してみてください。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-werewolf', 'わかったなの<br>楽天家 ゲルト、今日がお前の命日なのー！', 'riza', true)}"></div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">次の日の朝、楽天家 ゲルトが無残な姿で発見された。</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">
										館の大広間に集まった村人達は、昨晩聞こえた足音について確認した。<br> <br>部屋12、部屋17、部屋18で足音が聞こえた...。
									</div>
								</div>
							</div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'おお、足音が鳴ったなの', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'こんな具合で、<br>人狼や占い師、狩人が能力を行使すると、<br>次の日の朝に、自分から対象の部屋に向かう際に通過した部屋に足音が響きます。<br><br>記名投票とこの足音だけを頼りに推理していくのが人狼館の事件簿村ルールの遊び方です。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '19→18→17→12→07を通ったってことなのね<br>あれ？でも鳴ってる順番は12、17、18になってるの', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'よく気がつきましたね。その通りで、<br><strong>通った順でなく、部屋番号の若い順</strong>になるのでミスリードに気をつけてくださいね。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'なるほどなの<br>これ、どの人狼が襲撃するかとか、通る道はランダムになるなの？', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'いえ、<strong>「どの人狼が襲撃するか」「どの経路を通るか」は人狼がセットすることができます。</strong><br>もちろん占い師や狩人も、「どの経路を通るか」を選ぶことができますよ。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'よかったなの！<br>じゃあ、たくさん回り道すればバレないのー', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '残念ですが、<strong>経路は「最短経路で」「最大で1回しか曲がれない」</strong>ルールがあります。<br>さきほどのリーザさんがゲルトを襲撃した例でいうと、<br>19→18→17→12→07か、19→14→09→08→07の2通りから選ぶことになりますね。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '把握なのー', 'riza', true)}"></div>
							<div class="col-sm-12 col-xs-12" data-message>
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-creator">
										ここまでのまとめ<br> <br>・人狼や占い師、狩人が能力を行使すると、次の日の朝に、自分から対象の部屋に向かう際に通過した部屋に足音が響く<br>・「誰が襲撃するか」「どの経路を通るか」は能力者が選択可能<br>・経路は「最短経路で」「最大で1回しか曲がらずに」通れる経路から選択できる
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">隣接した部屋だと足音は響かない</h2>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '通った部屋で足音が響くって言ってたけど、おとなりの部屋ならどうなるなの？', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'おおリーザさん鋭いですね。やってみましょうか。', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12">
								<img th:src="@{/app/images/intro/intro01.png}" width="200" />
							</div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'それじゃあ人狼リーザさん、14の部屋にいるニコラスさんを襲撃してみてください。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-werewolf', 'がってんなの！<br>旅人 ニコラス、今日がお前の命日なのー！', 'riza', true)}"></div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">次の日の朝、旅人 ニコラスが無残な姿で発見された。</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">
										館の大広間に集まった村人達は、昨晩聞こえた足音について確認した。<br> <br>足音を聞いたものはいなかった...。
									</div>
								</div>
							</div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '鳴らなかったなの！', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'そうです。<strong>隣の部屋に能力を行使した場合は足音は鳴りません。</strong>', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '見落としそうで怖いの。聞こえた足音だけじゃなくて<strong>聞こえなかった足音にも注意</strong>しないといけないなの。', 'riza', true)}"></div>
							<div class="col-sm-12 col-xs-12" data-message>
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-creator">
										ここまでのまとめ<br> <br>・隣の部屋に能力を行使した場合は部屋を通過していないため、足音は響かない
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">生存者のいない部屋では足音は鳴らない</h2>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '次いきますよ。<br>足音が報告される時点で、<strong>生存者のいない部屋では足音は響きません。</strong>', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'どういうことなの？', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'これも例を交えて説明します。部屋配置はこんな感じにしましょう。<br>ゲルトさんは死亡しています。', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12">
								<img th:src="@{/app/images/intro/intro02.png}" width="200" />
							</div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'それじゃあ人狼リーザさん、14の部屋にいるオットーさんを襲撃してみてください。<br>占い師の私は12,13,14を通って15の部屋にいるトーマスさんを占います。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-werewolf', 'ええと・・・<br>私の襲撃で12,13の部屋で足音が鳴って<br>神父さんの占いで12,13,14の部屋で鳴るはずなの。<br>パン屋 オットー、今日がお前の命日なのー！', 'riza', true)}"></div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-private-system">
										神父 ジムゾンは、木こり トーマスを占った。<br>木こり トーマスは人間のようだ。
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">次の日の朝、パン屋 オットーが無残な姿で発見された。</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">
										館の大広間に集まった村人達は、昨晩聞こえた足音について確認した。<br> <br>部屋13で足音が聞こえた...。<br>部屋13で足音が聞こえた...。
									</div>
								</div>
							</div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'どういうことなの！？13が二回鳴ってるの！', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'これが、生存者のいない部屋では足音は響かないということです。<br>リーザさんは12,13を通りましたが、12のゲルトさんが死亡しているので13だけになりました。<br>また、私の占いも、12,13,14を通りましたが、12のゲルトさんと14のオットーさんが死亡しているので13だけになったのです。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '<strong>その日に死亡した場合も鳴らない</strong>のね<br><br>あと、同じ部屋が鳴るときは2行出るのね', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'その通りです。ちなみに、リーザさんが16の空き部屋を通って17の私を襲撃すると足音なしになりますよ。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-werewolf', 'なるほどなの！<br>神父 ジムゾン、今日もお前の命日なの！', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-grave', 'ぎゃー！！', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">
										館の大広間に集まった村人達は、昨晩聞こえた足音について確認した。<br> <br>足音を聞いたものはいなかった...。
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12" data-message>
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-creator">
										ここまでのまとめ<br> <br>・生存者のいない部屋（死亡した人の部屋、空き部屋）では足音は響かない
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">能力者が死亡しても足音は響く</h2>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '今度は割と簡単です。<br><strong>能力者が死亡しても、次の日に足音が響きます。</strong>', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '一応やってみるなの', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'じゃあさっきの部屋配置でもう一度。<br>ゲルトさんは死亡しています。', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12">
								<img th:src="@{/app/images/intro/intro02.png}" width="200" />
							</div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'それじゃあ人狼リーザさん、私を襲撃してください。<br>占い師の私は18,19を通って20の部屋にいるカタリナさんを占います。', 'jimuzon', false)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-werewolf', 'ひょっとしてドMなの？（ええと・・・）<br>私の襲撃は足音が鳴らなくて、<br>神父さんの占いで18,19の部屋で鳴るはずなの。<br>神父 ジムゾン、今日がお前の命日なのー！', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-grave', '心の声が聞こえていますよ。', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-private-system">
										神父 ジムゾンは、羊飼い カタリナを占った。<br>羊飼い カタリナは人間のようだ。
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">次の日の朝、神父 ジムゾンが無残な姿で発見された。</div>
								</div>
							</div>
							<div class="col-sm-12 col-xs-12">
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-public-system">
										館の大広間に集まった村人達は、昨晩聞こえた足音について確認した。<br> <br>部屋18、部屋19で足音が聞こえた...。
									</div>
								</div>
							</div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'ちゃんと聞こえたなのー', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '今回は簡単でしたね。<br>ちなみに、<strong>襲撃を担当した人狼が処刑されても、ちゃんとその人狼を起点とした足音が鳴る</strong>ので覚えておいてください。', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12" data-message>
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-creator">
										ここまでのまとめ<br> <br>・セットした足音はセットした人が死亡してもセットした通りに響く
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">狂人（C国狂人、魔神官含む）、妖狐も足音を鳴らせる</h2>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '思ったことがあるの<br>襲撃された人に向かう足音は限られるから、<br>すぐに人狼の位置がわかっちゃうと思うの<br>人外不利じゃないなの？', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'その通りです。<br>なので、人狼館の事件簿村ルールでは<br>通常能力を持たない狂人や妖狐が<br>「好きな場所で足音を鳴らす」ことができます。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'それで人狼を守ったり<br>自分の身を守ったりできるってことなのね！<br>でもややこしいなの！', 'riza', true)}"></div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'このややこしさが面白いのですよ。続けます。<br>人狼や占い師、狩人とは鳴らせる足音が違うので気をつけてください。<br><br>・任意の場所を起点・終点として、直線の足音を鳴らすことができます。<br>・曲がる足音は鳴らすことができません。<br>・何も鳴らさないこともできます。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'ややこしいなの・・・', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '画像で見た方がわかりやすいかもしれませんね。', 'jimuzon', false)}"></div>
							<div class="col-sm-6 col-xs-12" style="margin-bottom: 10px;">
								<img th:src="@{/app/images/intro/intro03.png}" width="200" />
							</div>
							<div class="col-sm-6 col-xs-12">
								<img th:src="@{/app/images/intro/intro04.png}" width="200" />
							</div>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '画像の例でいうと、1つ目はセットできますが、2つ目はセットできません。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'おおーなんとなくわかったなの！', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '曲がる足音は出せませんが、案外これで撹乱できるものですよ。<br>', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '構成次第だけど、占い師、人狼、狩人、狂人、妖狐の最大5つの足音が鳴るなの。推理発言はできないけど推理しがいがあるの！', 'riza', true)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'その意気です！', 'jimuzon', false)}"></div>
							<div class="col-sm-12 col-xs-12" data-message>
								<div class="row">
									<div class="message col-sm-12 col-xs-12 message-creator">
										ここまでのまとめ<br> <br>・狂人と妖狐も足音をセットできる<br>・自分の位置に関わらず、任意の位置を起点〜終点として足音を鳴らせる<br>・ただし、曲がる足音は鳴らせない<br>・鳴らさないこともできる
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-xs-12">
							<hr />
							<h2 class="h5">おわり</h2>
							<div
								layout:replace="~{fragments/flagment-message::fragment_message('message-normal', '以上です！これらのルールをふまえて、<br>投票と足音で自陣営を勝利に導くのが人狼館の事件簿村ルールの遊び方です。<br><br>練習問題も用意してあるので、ぜひやってみてください。', 'jimuzon', false)}"></div>
							<div layout:replace="~{fragments/flagment-message::fragment_message('message-normal', 'わーい！やってみるのー！', 'riza', true)}"></div>
							<a href="javascript:void(0);" th:href="@{/}" class="btn btn-default btn-sm small">サイトトップへ</a>
							<a href="javascript:void(0);" th:href="@{/practice}" class="btn btn-success btn-sm small pull-right">練習問題へ</a>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>