<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>ID登録</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/new-player.js" th:src="@{/app/js/new-player.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<h1 class="h4">ID作成</h1>
					<p>使用したいIDパスワードを入力してください。<br />ともに3文字以上12文字以下で、IDは英数とハイフン、アンダーバーのみ使用可能です。<br />また、1文字目は英字である必要があります。</p>
					<span class="text-danger" th:if="${errorMessage != null}" th:text="${errorMessage}">エラーメッセージ</span>
					<form method="post" action="" th:action="@{/new-player}" th:object="${form}" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 col-xs-4 control-label">ユーザID</label>
							<div class="col-sm-10 col-xs-8">
								<input type="text" class="form-control" th:field="*{userId}" /> <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
									class="help-block text-danger">error!</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 col-xs-4 control-label">パスワード</label>
							<div class="col-sm-10 col-xs-8">
								<input type="password" class="form-control" th:field="*{password}" /> <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
									class="help-block text-danger">error!</span>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="submit" class="btn btn-sm btn-success pull-right" value="作成" />
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>