<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>村作成確認</title>
<!--/* 個別ページのcss,js */-->
<script src="../static/app/js/new-village-confirm.js" th:src="@{/app/js/new-village-confirm.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12">
					<h1 class="h4">村作成確認</h1>
					<form method="post" action="" th:action="@{/new-village}" th:object="${villageForm}" class="form-horizontal">
						<div class="table-responsive clearfix">
							<table class="table table-bordered table-condensed">
								<tr>
									<th>村名</th>
									<td th:text="*{villageName}"></td>
								</tr>
								<tr>
									<th>最低開始人数</th>
									<td th:text="*{startPersonMinNum} + '人'"></td>
								</tr>
								<tr>
									<th>定員</th>
									<td th:text="*{personMaxNum} + '人'"></td>
								</tr>
								<tr>
									<th>更新間隔</th>
									<td th:text="${interval}"></td>
								</tr>
								<tr>
									<th>開始日時</th>
									<td th:text="${#temporals.format(startDateTime, 'yyyy/MM/dd HH:mm')}"></td>
								</tr>
								<tr>
									<th>投票</th>
									<td th:text="*{isOpenVote} ? '記名投票' : '無記名投票'"></td>
								</tr>
								<tr>
									<th>役職希望</th>
									<td th:text="*{isPossibleSkillRequest} ? '有効' : '無効'"></td>
								</tr>
								<tr>
									<th>見学入村</th>
									<td th:text="*{isAvailableSpectate} ? '可能' : '不可'"></td>
								</tr>
								<tr>
									<th>同一人狼による連続襲撃</th>
									<td th:text="*{isAvailableSameWolfAttack} ? '可能' : '不可'"></td>
								</tr>
								<tr>
									<th>墓下見学役職公開</th>
									<td th:text="*{isOpenSkillInGrave} ? '公開' : '非公開'"></td>
								</tr>
								<tr>
									<th>墓下見学会話公開</th>
									<td th:text="*{isVisibleGraveSpectateMessage} ? '公開' : '非公開'"></td>
								</tr>
								<tr>
									<th>キャラクターセット</th>
									<td th:text="${characterSetName}"></td>
								</tr>
								<tr>
									<th>ダミーキャラ入村発言</th>
									<td>
										<div class="col-sm-12">
											<div class="row" style="display: flex;">
												<div class="col-sm-12" style="display: flex;">
													<div th:style="'width: 50px; height: 77px; background: url(\'' + ${characterImgUrl} + '\'); background-repeat: no-repeat;'"></div>
													<div class="message message-normal" style="flex: 1; margin-left: 5px; min-height: 77px;">
														<th:block th:if="*{dummyJoinMessage}">
															<th:block th:each="str, stat : *{dummyJoinMessage.split('\r\n|\r|\n', -1)}">
																<th:block th:text="${str}" />
																<br th:if="${!stat.last}" />
															</th:block>
														</th:block>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								<tr th:if="*{joinPassword != null && joinPassword != ''}">
									<th>入村パスワード</th>
									<td th:text="*{joinPassword}"></td>
								</tr>
								<tr>
									<th>構成</th>
									<td>
										<th:block th:if="*{organization}">
											<th:block th:each="str, stat : *{organization.split('\r\n|\r|\n', -1)}">
												<th:block th:text="${str}" />
												<br th:if="${!stat.last}" />
											</th:block>
										</th:block>
									</td>
								</tr>
							</table>
							<input type="hidden" th:field="*{villageName}" />
							<input type="hidden" th:field="*{startPersonMinNum}" />
							<input type="hidden" th:field="*{personMaxNum}" />
							<input type="hidden" th:field="*{dayChangeIntervalHours}" />
							<input type="hidden" th:field="*{dayChangeIntervalMinutes}" />
							<input type="hidden" th:field="*{dayChangeIntervalSeconds}" />
							<input type="hidden" th:field="*{startYear}" />
							<input type="hidden" th:field=*{startMonth} />
							<input type="hidden" th:field="*{startDay}" />
							<input type="hidden" th:field="*{startHour}" />
							<input type="hidden" th:field="*{startMinute}" />
							<input type="hidden" th:field="*{isOpenVote}" />
							<input type="hidden" th:field="*{isPossibleSkillRequest}" />
							<input type="hidden" th:field="*{isAvailableSpectate}" />
							<input type="hidden" th:field="*{isAvailableSameWolfAttack}" />
							<input type="hidden" th:field="*{isOpenSkillInGrave}" />
							<input type="hidden" th:field="*{isVisibleGraveSpectateMessage}" />
							<input type="hidden" th:field="*{characterSetId}" />
							<input type="hidden" th:field="*{dummyJoinMessage}" />
							<input type="hidden" th:field="*{joinPassword}" />
							<input type="hidden" th:field="*{organization}" />
						</div>
						<div class="form-group">
							<div class="col-sm-12 pull-right">
								<input type="submit" class="btn btn-sm btn-success pull-right" value="作成" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>