<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${villageName}">テスト村</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/say-confirm.js" th:src="@{/app/js/say-confirm.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<form method="post" action="" th:action="@{/village/{villageId}/participate(villageId=${villageId})}" th:object="${participateForm}"
						class="form-horizontal">
						<div class="col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="row">
										<div class="col-sm-12 col-xs-12" style="display: flex;">
											<div th:style="'width: 50px; height: 77px; background: url(\'' + ${characterImgUrl} + '\'); background-repeat: no-repeat;'"></div>
											<div id="message-area" class="message message-normal" style="flex: 1; margin-left: 5px;" th:text="*{joinMessage}"></div>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-xs-12 form-check" style="padding-top: 10px; padding-bottom: 10px;">
									<input type="checkbox" id="agree-rule" class="form-check-input" value="1"> <label class="form-check-label" for="agree-rule">
										<a th:href="@{/rule}">ルール</a>を確認し、人狼館の事件簿村ルール特有の禁止事項について理解しました。
									</label> <br /> <input type="checkbox" id="agree-mind" class="form-check-input" value="1"> <label class="form-check-label" for="agree-mind">
										他者への礼節を欠いたり、正常な運営を妨げるような行為を行なった場合、管理人の裁量により処罰される可能性があることについて理解しました。 </label>
								</div>
							</div>
							<input type="hidden" th:field="*{isSpectator}" /> <input type="hidden" th:field="*{joinMessage}" /> <input type="hidden" th:field="*{requestedSkill}" /> <input type="hidden"
								th:field="*{charaId}" /> <input type="hidden" th:field="*{joinPassword}" /> <input type="button" class="btn btn-sm btn-default" value="戻る(内容は消去されます)" th:data-back="${villageId}" /> <input
								type="submit" id="participate-submit" class="btn btn-sm btn-success pull-right disabled" value="入村する" disabled />
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>