<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/* 個別ページのタイトル */-->
    <title>ランダムメッセージ一覧</title>
    <!--/* 個別ページのjs */-->
    <script src="../static/app/js/random-message.js" th:src="@{/app/js/random-message.js}"></script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12">
                <h1 class="h4">ランダムメッセージ一覧</h1>
                <div id="form-content" style="margin-bottom: 5px;">
                    <div class="form-inline">
                        <input type="text" id="search-keyword" class="form-control" placeholder="キーワード絞り込み"/>
                        <input type="button" class="btn btn-sm btn-success" value="検索" data-search/>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="keyword-table" class="table table-bordered table-condensed small">
                        <thead>
                        <tr>
                            <th>キーワード</th>
                            <th>変換後</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${content.randomKeywordList == null || content.randomKeywordList.size() == 0}">
                            <td colspan="2">登録されているキーワードがありません。</td>
                        </tr>
                        <tr th:if="${content.randomKeywordList != null && content.randomKeywordList.size() > 0}"
                            th:each="randomKeyword : ${content.randomKeywordList}">
                            <td class="vertical-middle" th:text="'[[' + ${randomKeyword.keyword} + ']]'"></td>
                            <td>
                                <th:block>
                                    <th:block
                                            th:each="str, stat : *{randomKeyword.contentExample.split('\r\n|\r|\n', -1)}">
												<span class="hidden" th:if="${stat.index >= 5}"> <th:block
                                                        th:text="${str}"/> <br th:if="${!stat.last}"/>
												</span>
                                        <th:block th:text="${str}" th:if="${stat.index < 5}"/>
                                        <br th:if="${!stat.last && stat.index < 5}"/>
                                        <a href="javascript:void(0);" data-all-view
                                           th:if="${stat.index == 5}">全て表示</a>
                                    </th:block>
                                </th:block>
                            </td>
                            <td>
                                <a th:href="@{/random-keyword/{randomKeywordId}(randomKeywordId=${randomKeyword.keywordId})}"
                                   class="btn btn-sm btn-success">編集</a>
                                <input type="button" class="btn btn-sm btn-success" value="キーワードコピー"
                                       th:data-copy="${randomKeyword.keyword}"/>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <a th:href="@{/new-random-keyword}" class="btn btn-success btn-sm">新規追加</a>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <footer layout:replace="~{layout/footer::footer}"></footer>
</div>
</body>
</html>