<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>ルール</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<div class="well" style="padding-top: 5px; padding-left: 5px;">
						<ul style="list-style-type: none; padding-left: 0;">
							<li><a href="#basic">人狼の基本ルール</a></li>
							<li><a href="#mansion">人狼館の事件簿村ルール</a></li>
							<li><a href="#detail">詳細ルール</a>
								<ul>
									<li><a href="#attitude">基本的な心構え</a></li>
									<li><a href="#suddenly-death">突然死</a></li>
									<li><a href="#vote">投票</a></li>
									<li><a href="#anchor">アンカー</a></li>
									<li><a href="#default-org">役職配分</a></li>
									<li><a href="#skill-request">役職希望</a></li>
									<li><a href="#spectate">見学</a></li>
									<li><a href="#say">発言</a></li>
									<li><a href="#commit">コミット</a></li>
									<li><a href="#process">流れ</a></li>
									<li><a href="#process-order">日付更新時の処理順</a></li>
								</ul>
							</li>
							<li><a href="#skill">役職詳細</a>
								<ul>
									<li><a href="#villager">村人</a></li>
									<li><a href="#seer">占い師</a></li>
									<li><a href="#wise">賢者</a></li>
									<li><a href="#werewolf">人狼</a></li>
									<li><a href="#hunter">狩人</a></li>
									<li><a href="#detective">探偵</a></li>
									<li><a href="#trapper">罠師</a></li>
									<li><a href="#psychic">霊能者</a></li>
									<li><a href="#guru">導師</a></li>
									<li><a href="#madman">狂人</a></li>
									<li><a href="#cmadman">C国狂人</a></li>
									<li><a href="#evilmedium">魔神官</a></li>
									<li><a href="#fanatic">狂信者</a></li>
									<li><a href="#mason">共鳴者</a></li>
									<li><a href="#fox">妖狐</a></li>
									<li><a href="#bomber">爆弾魔</a></li>
								</ul>
							</li>
							<li><a href="#camp">陣営・勝敗</a></li>
							<li><a href="#room">人数と部屋サイズ</a></li>
							<li><a href="#other">その他</a>
								<ul>
									<li><a href="#random-message">発言ランダム機能</a></li>
									<li><a href="#message-decorate">文字装飾機能</a></li>
									<li><a href="#call-owner">国主の召喚方法</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			
				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 id="basic" class="h4">人狼の基本ルール</h2>
					<ul>
						<li>通常の人狼のルールを熟知していることが参加の前提となるため、基本ルールは省略します。</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4">人狼館の事件簿村ルール</h2>
					<div layout:replace="~{rule/mansion::mansion}"></div>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4">詳細ルール</h2>
					<div layout:replace="~{rule/detail::detail}"></div>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4">役職詳細</h2>
					<div layout:replace="~{rule/skill::skill}"></div>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4">陣営・勝敗</h2>
					<div layout:replace="~{rule/camp::camp}"></div>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4">人数と部屋サイズ</h2>
					<div layout:replace="~{rule/room::room}"></div>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4">その他</h2>
					<div layout:replace="~{rule/other::other}"></div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>