<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <!--/* 個別ページのタイトル */-->
    <title>ルール</title>
    <!--/* 個別ページのjs */-->
    <script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
<div class="container">
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12">
                <div class="well" style="padding-top: 5px; padding-left: 5px;">
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li><a href="#basic">人狼の基本ルール</a></li>
                        <li><a href="#mansion">人狼館の事件簿村ルール</a></li>
                        <li><a href="#detail">詳細ルール</a>
                            <ul>
                                <li><a href="#attitude">基本的な心構え</a></li>
                                <li><a href="#ability">能力行使</a></li>
                                <li><a href="#suddenly-death">突然死</a></li>
                                <li><a href="#vote">投票</a></li>
                                <li><a href="#anchor">アンカー</a></li>
                                <li><a href="#default-org">役職配分</a></li>
                                <li><a href="#random-organization">闇鍋編成</a></li>
                                <li><a href="#skill-request">役職希望</a></li>
                                <li><a href="#spectate">見学</a></li>
                                <li><a href="#say">発言</a></li>
                                <li><a href="#action">アクション</a></li>
                                <li><a href="#change-name">名前変更・簡易メモ</a></li>
                                <li><a href="#commit">コミット</a></li>
                                <li><a href="#tensei">転生</a></li>
                                <li><a href="#change-skill">役職変化</a></li>
                                <li><a href="#process">流れ</a></li>
                                <li><a href="#process-order">日付更新時の処理順</a></li>
                            </ul>
                        </li>
                        <li><a href="#skill">役職詳細</a>
                            <ul>
                                <li th:each="camp: ${content.campList}">
                                    <a th:href="'#' + ${camp.code}" th:text="${camp.name}"></a>
                                    <ul>
                                        <li th:each="skill: ${camp.skillList}">
                                            <a th:href="'#' + ${skill.code}" th:text="${skill.name}"></a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#skill-plan">未実装役職</a></li>
                            </ul>
                        </li>
                        <li><a href="#judge">占霊判定、勝敗時のカウント</a></li>
                        <li><a href="#status">ステータス</a>
                            <ul>
                                <li><a href="#status">恋絆</a></li>
                                <li><a href="#fox_possession">狐憑き</a></li>
                                <li><a href="#insurance">保険</a></li>
                            </ul>
                        </li>
                        <li><a href="#camp">陣営</a></li>
                        <li><a href="#epilogue-condition">勝敗</a>
                            <ul>
                                <li><a href="#epilogue-condition">終了条件</a></li>
                                <li><a href="#personal-wincondition">個人ごとの勝敗判定</a></li>
                                <li><a href="#camp-wincondition">陣営の勝敗判定</a></li>
                            </ul>
                        </li>
                        <li><a href="#room">人数と部屋サイズ</a></li>
                        <li><a href="#other">その他</a>
                            <ul>
                                <li><a href="#random-message">発言ランダム機能</a></li>
                                <li><a href="#message-decorate">文字装飾機能</a></li>
                                <li><a href="#message-type">発言種別</a></li>
                                <li><a href="#call-owner">国主の召喚方法</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 id="basic" class="h4">人狼の基本ルール</h2>
                <ul>
                    <li>通常の人狼のルールを熟知していることが参加の前提となるため、基本ルールは省略します。</li>
                </ul>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">人狼館の事件簿村ルール</h2>
                <div layout:replace="~{rule/mansion::mansion}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">詳細ルール</h2>
                <div layout:replace="~{rule/detail::detail}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">役職詳細</h2>
                <div layout:replace="~{rule/skill::skill}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">占霊判定、勝敗時のカウント</h2>
                <div layout:replace="~{rule/judge::judge}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">ステータス</h2>
                <div layout:replace="~{rule/status::status}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">陣営・勝敗</h2>
                <div layout:replace="~{rule/camp::camp}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">人数と部屋サイズ</h2>
                <div layout:replace="~{rule/room::room}"></div>
            </div>

            <div class="col-sm-12 col-xs-12">
                <hr/>
                <h2 class="h4">その他</h2>
                <div layout:replace="~{rule/other::other}"></div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <footer layout:replace="~{layout/footer::footer}"></footer>
</div>
</body>
</html>