<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title>ルール</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/index.js" th:src="@{/app/js/index.js}"></script>
</head>

<body>
	<div class="container">
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<h2 class="h4">人狼の基本ルール</h2>
					<ul>
						<li>通常の人狼のルールを熟知していることが参加の前提となるため、基本ルールは省略します。</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4" data-toggle="collapse" data-target="#mansion">
						<a href="javascript:void(0);">人狼館の事件簿村ルール</a>
					</h2>
					<ul id="mansion" class="collapse">
						<li class="text-danger"><strong>白ログでの推理発言、まとめ行為、CO禁止です。（グレラン村）</strong>
							<ul>
								<li>役職持ち、騙り含め全てのCOおよび結果報告が禁止となります。</li>
							</ul></li>
						<li><strong class="text-danger">ただし、霊能者のみCOおよび霊能結果を白ログで報告することができます。</strong>
							<ul>
								<li>ルール次第ではCOできる役職を霊能者以外にする場合があります。その場合は開始直後にルールの説明がなされるはずです。</li>
								<li>特に記載なき場合、COできる役職は霊能者とします。</li>
								<li>COできる役職も白ログでの推理やまとめ行為は禁止です。</li>
								<li>当然ながら、霊能者騙りも禁止です。</li>
							</ul></li>
						<li>1日目になると、各参加者に碁盤の目のように並んだ部屋のいずれかが割り振られます。
							<ul>
								<li><img th:src="@{/app/images/rule/rule01.png}" width="200" /></li>
							</ul>
						</li>
						<li>以下の能力を発動すると、「通過した部屋」に足音が響き、翌日朝に纏めて報告されます。
							<ul>
								<li>占い師による占い</li>
								<li>狼による襲撃</li>
								<li>狩人による護衛</li>
								<li>狂人、妖狐による徘徊（任意）</li>
							</ul>
						</li>
						<li>部屋移動と響く足音について、以下のルールがあります。
							<ul>
								<li>行動対象に向かって縦横の最短距離で移動し、通過する部屋に足音が響きます。
									<ul>
										<li>曲がる必要がある場合は経路を選択できます。</li>
										<li>部屋が隣接している場合は足音は響きません。</li>
										<li>生存者のいない部屋は足音が響きません。</li>
									</ul>
								</li>
								<li>人狼は襲撃者を選択することができます。<br>ただし、人狼が複数生存している場合、連続で同じ人狼が襲撃することはできません。
								</li>
								<li>狂人、妖狐は自分の部屋からに限らず、どの部屋からどの部屋まで徘徊するか自由に選択できます。<br>ただし、曲がることはできません。
								</li>
								<li>狂人、妖狐は「徘徊しない」こともできます。</li>
								<li>翌日足音が報告される順番はランダムで、部屋番号は若い順です。</li>
								<li>能力者が処刑、襲撃、呪殺されても足音は響きます。</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="col-sm-12 col-xs-12">
					<hr />
					<h2 class="h4" data-toggle="collapse" data-target="#detail">
						<a href="javascript:void(0);">詳細ルール</a>
					</h2>
					<ul id="detail" class="collapse">
						<li>基本的な心構え
							<ul>
								<li>他国と大きく変わりありませんし、あえて長々と記載しません。他者への礼節を欠くような行為は避けてください。</li>
								<li>途中放棄、突然死が嫌いなので、他国よりも厳しい対処とする可能性があります。</li>
							</ul>
						</li>
						<li>突然死
							<ul>
								<li>未実装です。</li>
							</ul>
						</li>
						<li>投票
							<ul>
								<li>2日目から投票による処刑が始まります。</li>
								<li>日付更新時のセット先は自投票です。</li>
							</ul>
						</li>
						<li>占い師
							<ul>
								<li>日付更新時のセット先はランダムです。</li>
								<li>妖狐を占った場合「人間」と判定されます。呪殺による死亡なのか襲撃による死亡なのかは判別できません。</li>
							</ul>
						</li>
						<li>人狼
							<ul>
								<li>日付更新時の襲撃者およびセット先はランダムです。</li>
								<li>襲撃失敗の場合、護衛なのか妖狐なのかは判別できません。</li>
							</ul>
						</li>
						<li>狩人
							<ul>
								<li>日付更新時のセット先はランダムです。</li>
								<li>護衛手応えはありません。</li>
								<li>同一人物を連続護衛することができます。</li>
							</ul>
						</li>
						<li>狂人
							<ul>
								<li>日付更新時の足音セットは「なし」です。</li>
								<li>勝利条件は人狼と同じです。</li>
							</ul>
						</li>
						<li>妖狐
							<ul>
								<li>日付更新時の足音セットは「なし」です。</li>
								<li>勝敗判定において人間にも人狼にもカウントされません。</li>
							</ul>
						</li>
						<li>アンカー
							<ul>
								<li>>>1 の形式で白発言へのアンカーが付けられます。</li>
								<li>>>=1 の形式で共鳴発言へのアンカーが付けられます。</li>
								<li>>>+1 の形式で墓下発言へのアンカーが付けられます。</li>
								<li>>>*1 の形式で囁きへのアンカーが付けられます。</li>
								<li>いずれのアンカーも自分が見ることのできない発言はクリックしてもアンカー先を表示できません。</li>
							</ul>
						</li>
						<li>役職配分（調整中）
							<ul>
								<li>人狼は6名以上で2名、13名以上で3名になります。</li>
								<li>11名以上で狩人、狂人が追加されます。</li>
								<li>16名以上で共有者が2名追加されます。</li>
								<li>17名以上で妖狐が追加されます。</li>
							</ul>
						</li>
						<li>発言
							<ul>
								<li>1発言につき200文字10行まで発言できます。</li>
								<li>発言数制限は未実装です。</li>
							</ul>
						</li>
					</ul>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>