<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${villageName} + '村'">テスト村</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/say-confirm.js" th:src="@{/app/js/say-confirm.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12">
					<form method="post" action="" th:action="@{/village/{villageId}/say(villageId=${villageId})}" th:object="${sayForm}" class="form-horizontal">
						<div class="col-sm-12">
							<div class="row">
								<!--// 通常発言 //-->
								<div class="col-sm-12">
									<div class="row">
										<div class="col-sm-12" style="display: flex;">
											<div th:style="'width: 50px; height: 77px; background: url(\'' + ${characterImgUrl} + '\'); background-repeat: no-repeat;'"></div>
											<div
												th:class="'message ' + *{messageType == 'NORMAL_SAY' ? 'message-normal' : 
														messageType == 'WEREWOLF_SAY' ? 'message-werewolf' : 
														messageType == 'MASON_SAY' ? 'message-mason' : 
														messageType == 'MONOLOGUE_SAY' ? 'message-monologue' : 
														messageType == 'GRAVE_SAY' ? 'message-grave' :
														messageType == 'SPECTATE_SAY' ? 'message-spectate' : ''}"
												style="flex: 1; margin-left: 5px;">
												<th:block th:if="*{message}">
													<th:block th:each="str, stat : *{message.split('\r\n|\r|\n', -1)}">
														<th:block th:text="${str}" />
														<br th:if="${!stat.last}" />
													</th:block>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" th:field="*{message}" />
							<input type="hidden" th:field="*{messageType}" />
							<input type="button" class="btn btn-sm btn-default" value="戻る(発言内容は消去されます)" th:data-back="${villageId}" />
							<input type="submit" class="btn btn-sm btn-success pull-right" value="発言する" />
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>