<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${villageName}">テスト村</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/say-confirm.js" th:src="@{/app/js/say-confirm.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="col-sm-12 col-xs-12">
					<form method="post" action="" th:action="@{/village/{villageId}/say(villageId=${villageId})}" th:object="${sayForm}" class="form-horizontal">
						<div class="col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-sm-12 col-xs-12">
									<div class="row">
										<div class="col-sm-12 col-xs-12" th:if="${secretSayTargetCharaName}">
											<p th:text="'秘話相手： ' + ${secretSayTargetCharaName}"></p>
										</div>
										<div class="col-sm-12 col-xs-12" style="display: flex;">
											<div>
												<img th:src="${characterImgUrl}" th:width="${characterImgWidth}" th:height="${characterImgHeight}">
											</div>
											<div id="message-area"
												th:class="'message ' + *{messageType == 'NORMAL_SAY' ? 'message-normal' : 
														messageType == 'WEREWOLF_SAY' ? 'message-werewolf' : 
														messageType == 'MASON_SAY' ? 'message-mason' : 
														messageType == 'MONOLOGUE_SAY' ? 'message-monologue' : 
														messageType == 'SECRET_SAY' ? 'message-monologue' : 
														messageType == 'GRAVE_SAY' ? 'message-grave' :
														messageType == 'SPECTATE_SAY' ? 'message-spectate' : ''}"
												th:style="'flex: 1; margin-left: 5px; min-height: ' + ${characterImgHeight} + 'px;'" th:text="*{message}"></div>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" th:field="*{message}" />
							<input type="hidden" th:field="*{messageType}" />
							<input type="hidden" th:field="*{secretSayTargetCharaId}" />
							<input type="hidden" th:field="*{isConvertDisable}" />
							<input type="button" class="btn btn-sm btn-default" value="戻る(内容は消去されます)" th:data-back="${villageId}" />
							<input type="submit" class="btn btn-sm btn-success pull-right"
								th:value="*{messageType == 'NORMAL_SAY' ? '発言する' : 
														messageType == 'WEREWOLF_SAY' ? '囁く' : 
														messageType == 'MASON_SAY' ? '発言する（共鳴）' : 
														messageType == 'MONOLOGUE_SAY' ? '発言する（独り言）' : 
														messageType == 'SECRET_SAY' ? '発言する（秘話）' : 
														messageType == 'GRAVE_SAY' ? '呻く' :
														messageType == 'SPECTATE_SAY' ? '発言する' : '発言する'}" />
						</div>
					</form>
				</div>
			</div>
			<div class="hidden" id="random-keywords" th:text="${randomKeywords}"></div>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>