<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${content.villageName} + '村'">テスト村</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/village.js" th:src="@{/app/js/village.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="hidden" th:data-village-id="${content.villageId}" th:data-day="${content.day}"></div>

				<!--/* 村タイトル、日付リンク */-->
				<div class="col-sm-12">
					<h1 class="h5" th:text="${content.villageId} + '. ' + ${content.villageName} + '村'"></h1>
					<hr style="margin-top: 5px; margin-bottom: 10px;" />

					<!--/* 日付リスト */-->
					<div layout:replace="~{village/village-day-list::village-day-list}"></div>
				</div>

				<div class="col-sm-12">
					<div class="">
						<!--/* ログ部分 */-->
						<div class="col-sm-12">
							<div class="row" data-message-area>
								<div class="message col-sm-12 text-muted">読み込み中...</div>
							</div>
							<hr style="margin-top: 5px; margin-bottom: 10px; margin-left: -15px;" />
						</div>

						<!--/* 画面下部への移動時や発言後ここに遷移させる。ネガティブマージンを指定することでここが下端にしている。 */-->
						<div id="bottom" class="col-sm-12" style="margin-top: -100vh; padding-top: 100vh; z-index: -1;"></div>

						<!--/* フォームエリア */-->
						<div layout:replace="~{village/form-area::form-area}"></div>

						<!--/* 日付リスト */-->
						<div layout:replace="~{village/village-day-list::village-day-list}"></div>
						<a href="javascript:void(0);" th:href="@{/}" class="btn btn-default btn-sm small">サイトトップへ</a>
					</div>
				</div>

				<!--/* FAB */-->
				<div layout:replace="~{village/floating-button::floating-button}"></div>

				<!--/* フィルタ */-->
				<div layout:replace="~{village/modal-filter::modal-filter}"></div>

				<!--/* 部屋割り当て */-->
				<div layout:replace="~{village/modal-situation::modal-situation}"></div>

				<!--/* 村情報 */-->
				<div layout:replace="~{village/modal-village-info::modal-village-info}"></div>

				<div class="" id="footer-menu"
					th:if="${content.isDispParticipateForm || content.isDispChangeRequestSkillForm || 
							content.isDispLeaveVillageForm || content.isDispSayForm ||
							(content.voteTargetList != null && content.voteTargetList.size() > 0) ||
							(content.skillName != null && content.isDispSayForm)}">
					<ul class="nav nav-tabs">
						<li class="nav-item" th:if="${content.isDispParticipateForm || content.isDispChangeRequestSkillForm || content.isDispLeaveVillageForm}"><a
							href="#tab-participate" class="nav-link navbar-inverse" data-toggle="tab">参戦</a></li>
						<li class="nav-item" th:if="${content.isDispSayForm}"><a href="#tab-say" class="nav-link navbar-inverse" data-toggle="tab">発言</a></li>
						<li class="nav-item" th:if="${content.voteTargetList != null && content.voteTargetList.size() > 0}"><a href="#tab-vote"
							class="nav-link navbar-inverse" data-toggle="tab">投票</a></li>
						<li class="nav-item" th:if="${content.skillName != null && content.isDispSayForm}"><a href="#tab-skill" class="nav-link navbar-inverse"
							data-toggle="tab">能力</a></li>
						<li class="nav-item active"><a href="#tab-close" class="nav-link navbar-inverse" data-toggle="tab">閉じる</a></li>
					</ul>
					<!--タブの中身-->
					<div class="tab-content">
						<div id="tab-participate" th:if="${content.isDispParticipateForm || content.isDispChangeRequestSkillForm || content.isDispLeaveVillageForm}"
							class="tab-pane">
							<!--/* 参戦欄 */-->
							<div layout:replace="~{village/participate-form::participate-form}"></div>
							<!--/* 役職希望変更欄 */-->
							<div layout:replace="~{village/change-skill-form::change-skill-form}"></div>
							<!--/* 退村欄 */-->
							<div layout:replace="~{village/leave-form::leave-form}"></div>
						</div>
						<div id="tab-say" class="tab-pane">
							<!--/* 死亡 */-->
							<div class="col-sm-12 well" style="padding-top: 10px;" th:if="${content.isDead}">
								<div class="">
									<p class="small">
										あなたは死亡しました。現世の思い出を語り合いましょう。<br> 墓下では推理発言やCOを行っても問題ありません。
									</p>
								</div>
							</div>
							<!--/* 発言欄 */-->
							<div layout:replace="~{village/say-form::say-form}"></div>
						</div>
						<div id="tab-vote" class="tab-pane">
							<!--/* 死亡 */-->
							<div class="col-sm-12 well" style="padding-top: 10px;" th:if="${content.isDead}">
								<div class="">
									<p class="small">
										あなたは死亡しました。現世の思い出を語り合いましょう。<br> 墓下では推理発言やCOを行っても問題ありません。
									</p>
								</div>
							</div>
							<!--/* 投票欄 */-->
							<div layout:replace="~{village/vote-form::vote-form}"></div>
						</div>
						<div id="tab-skill" class="tab-pane">
							<!--/* 死亡 */-->
							<div class="col-sm-12 well" style="padding-top: 10px;" th:if="${content.isDead}">
								<div class="">
									<p class="small">
										あなたは死亡しました。現世の思い出を語り合いましょう。<br> 墓下では推理発言やCOを行っても問題ありません。
									</p>
								</div>
							</div>
							<div layout:replace="~{village/skill-area::skill-area}"></div>
						</div>
						<div id="tab-close" class="tab-pane active">
						</div>
					</div>
				</div>
			</div>

			<div class="daychange-alert alert alert-success">日付が更新されました。ページを再読み込みしてください。</div>
			<script id="message-template" type="text/x-handlebars-template" layout:include="~{village-template/message::message}"></script>
			<script id="message-partial-template" type="text/x-handlebars-template" layout:include="~{village-template/message-partial::message-partial}"></script>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>