<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${content.villageName} + '村'">テスト村</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/village.js" th:src="@{/app/js/village.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="hidden" th:data-village-id="${content.villageId}" th:data-day="${content.day}"></div>

				<!--/* 村タイトル、日付リンク */-->
				<div class="col-sm-12">
					<h1 class="h5" th:text="${content.villageNumber} + '. ' + ${content.villageName} + '村'"></h1>
					<hr style="margin-top: 5px; margin-bottom: 10px;" />

					<!--/* 日付リスト */-->
					<div layout:replace="~{village/village-day-list::village-day-list}"></div>
				</div>

				<div class="col-sm-12">
					<div class="">
						<!--/* ログ部分 */-->
						<div class="col-sm-12">
							<div class="row" data-message-area>
								<div class="message col-sm-12 text-muted">読み込み中...</div>
							</div>
							<hr style="margin-top: 5px; margin-bottom: 10px; margin-left: -15px;" />
						</div>

						<!--/* 画面下部への移動時や発言後ここに遷移させる。ネガティブマージンを指定することでここが下端にしている。 */-->
						<div id="bottom" class="col-sm-12" style="margin-top: -100vh; padding-top: 100vh; z-index: -1;"></div>

						<!--/* フォームエリア */-->
						<div layout:replace="~{village/form-area::form-area}"></div>

						<!--/* フッターメニュー */-->
						<div layout:replace="~{village/footer-menu::footer-menu}"></div>
						
						<!--/* 日付リスト */-->
						<div layout:replace="~{village/village-day-list::village-day-list}"></div>
						<a href="javascript:void(0);" th:href="@{/}" class="btn btn-default btn-sm small">サイトトップへ</a>
					</div>
				</div>

				<!--/* フィルタ */-->
				<div layout:replace="~{village/modal-filter::modal-filter}"></div>

				<!--/* 村情報 */-->
				<div layout:replace="~{village/modal-village-info::modal-village-info}"></div>
			</div>

			<div class="daychange-alert alert alert-success">日付が更新されました。ページを再読み込みしてください。</div>
			<script id="message-template" type="text/x-handlebars-template" layout:include="~{village-template/message::message}"></script>
			<script id="message-partial-template" type="text/x-handlebars-template" layout:include="~{village-template/message-partial::message-partial}"></script>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>