<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorate="~{layout/layout}">
<head>
<!--/* 個別ページのタイトル */-->
<title th:text="${content.villageName} + '村'">テスト村</title>
<!--/* 個別ページのjs */-->
<script src="../static/app/js/village.js" th:src="@{/app/js/village.js}"></script>
</head>

<body>
	<div class="container">
		<nav layout:replace="~{layout/header::header}"></nav>
		<div layout:fragment="content">
			<div id="wrapper">
				<div class="hidden" th:data-village-id="${content.villageId}" th:data-day="${content.day}"></div>

				<div class="col-sm-12">
					<h1 class="h5" th:text="${content.villageId} + '. ' + ${content.villageName} + '村'"></h1>
					<hr style="margin-top: 5px; margin-bottom: 10px;" />

					<!--/* 日付リスト */-->
					<div class="col-sm-12 small">
						<ul style="padding-left: 0px;">
							<li style="list-style-type: none; display: inline; margin-right: 10px;"><a href="javascript:void(0);" data-toggle="modal"
								data-target="#village-info">情報</a></li>
							<li th:each="day : ${content.dayList}" style="list-style-type: none; display: inline; margin-right: 10px;"><span
								th:if="${day == content.day && day != 0 && day != content.epilogueDay && day - 1 != content.epilogueDay}" th:text="${day} + '日目'"></span> <span
								th:if="${day == content.day && day == 0}" th:text="プロローグ"></span> <span th:if="${day == content.day && day == content.epilogueDay}"
								th:text="エピローグ"></span> <span th:if="${day == content.day && day - 1 == content.epilogueDay}" th:text="終了"></span><a
								th:if="${day != content.day && day != 0 && day != content.epilogueDay && day - 1 != content.epilogueDay}" th:text="${day} + '日目'"
								href="javascript:void(0);" th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a> <a
								th:if="${day != content.day && day == 0}" th:text="プロローグ" href="javascript:void(0);"
								th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a> <a
								th:if="${day != content.day && day == content.epilogueDay}" th:text="エピローグ" href="javascript:void(0);"
								th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a> <a
								th:if="${day != content.day && day - 1 == content.epilogueDay}" th:text="終了" href="javascript:void(0);"
								th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a></li>
						</ul>
					</div>
				</div>
				<!--/* 入村者 */-->
				<div class="col-sm-3 small side">
					<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-heading clearfix">
								<a href="javascript:void(0);" data-toggle="collapse" data-target="#memberlist" aria-expanded="false">参加者リスト</a>
							</div>
							<div class="panel-collapse collapse" id="memberlist">
								<div class="panel-body">
									<table class="table table-bordered table-condensed small" th:each="statusDto : ${content.memberList}">
										<tr>
											<th th:text="${statusDto.status}">生存</th>
										</tr>
										<tr th:each="member : ${statusDto.statusMemberList}">
											<td th:text="${member.deadDay != null ? member.deadDay + ' ' : ''} + ${member.charaName}"></td>
										</tr>
										<tr th:if="${statusDto.statusMemberList.size() == 0}">
											<td>なし</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="panel-heading clearfix" th:if="${content.roomWidth != null}">
								<a href="javascript:void(0);" data-toggle="collapse" data-target="#roomlist" aria-expanded="false">部屋割り当て</a>
							</div>
							<div class="panel-collapse collapse" id="roomlist" th:if="${content.roomWidth != null}">
								<div class="panel-body table-responsive">
									<table class="table-bordered table-condensed small">
										<!-- tableがあるとwidth:100%になるので外す -->
										<tr>
											<th th:colspan="${content.roomWidth}">部屋割り当て</th>
										</tr>
										<tbody>
											<tr th:each="row : ${content.roomAssignedRowList}">
												<td th:each="room: ${row.roomAssignedList}" class="small"
													th:style="'vertical-align: bottom; text-align: center; width: 50px; height: 77px; '
									 + ${room.charaImgUrl != null ? 'background-image: url(''' + room.charaImgUrl + '''); background-repeat: no-repeat; background-size: contain;' : 'background-color: #gray; '}
									 + ${room.isDead == null || room.isDead ? 'opacity: 0.3;' : ''}">
													<span style="background-color: #222222; opacity: 0.8; white-space: nowrap;"
													th:text="${room.roomNumber} + ' ' + ${room.charaName != null ? room.charaName : ''}">01. 楽</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--/* 村タイトル、日付リンク */-->
				<div class="col-sm-9">
					<div class="">
						<!--/* rowを外した */-->

						<!--/* ログ部分 */-->
						<div class="col-sm-12">
							<div class="row" data-message-area>
								<div class="message col-sm-12 text-muted">読み込み中...</div>
							</div>
							<hr style="margin-top: 5px; margin-bottom: 10px; margin-left: -15px;" />
						</div>

						<!--/* 画面下部への移動時や発言後ここに遷移させる。ネガティブマージンを指定することでここが下端にしている。 */-->
						<div id="bottom" class="col-sm-12" style="margin-top: -100vh; padding-top: 100vh; z-index: -1;"></div>

						<!--/* 参戦欄 */-->
						<div class="col-sm-12 well" th:if="${content.isDispParticipateForm}">
							<div class="">
								<h2 class="h5">入村する</h2>
								<form method="post" action="" th:action="@{/village/{villageId}/participate(villageId=${content.villageId})}" th:object="${participateForm}"
									class="form-horizontal">
									<span th:if="${participateErrorMessage != null}" class="text-danger" th:text="${participateErrorMessage}">error</span>
									<div class="form-group">
										<label class="col-sm-2 control-label">キャラクター</label>
										<div class="col-sm-4">
											<select class="form-control" th:field="*{charaId}">
												<option th:each="chara : ${content.selectableCharaList}" th:value="${chara.id}" th:text="${chara.name}"
													th:data-chara-img-url="${chara.url}"></option>
											</select> <span th:if="${#fields.hasErrors('charaId')}" th:errors="*{charaId}" class="help-block text-danger">error!</span>
										</div>
										<label class="col-sm-2 control-label" th:if="${content.isSkillRequestAvailable}">役職希望</label>
										<div class="col-sm-4" th:if="${content.isSkillRequestAvailable}">
											<select class="form-control" th:field="*{requestedSkill}">
												<option th:each="skill : ${content.selectableSkillList}" th:value="${skill.code}" th:text="${skill.name}"></option>
											</select> <span th:if="${#fields.hasErrors('requestedSkill')}" th:errors="*{requestedSkill}" class="help-block text-danger">error!</span>
										</div>
										<div class="col-sm-4" th:if="${!content.isSkillRequestAvailable}">
											<input type="hidden" name="requestedSkill" value="LEFTOVER" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">発言</label>
										<div class="col-sm-10">
											<textarea class="form-control" th:field="*{joinMessage}" placeholder="人狼なんているわけないじゃん。みんな大げさだなあ" style="height: 10em;"></textarea>
											<span th:if="${#fields.hasErrors('joinMessage')}" th:errors="*{joinMessage}" class="help-block text-danger">error!</span>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="入村する" />
										</div>
									</div>
								</form>
							</div>
						</div>

						<!--/* 役職希望変更欄 */-->
						<div class="col-sm-12 well" th:if="${content.isDispChangeRequestSkillForm}">
							<div class="">
								<h2 class="h5">役職希望を変更する</h2>
								<form method="post" action="" th:action="@{/village/{villageId}/change-skill(villageId=${content.villageId})}"
									th:object="${changeRequestSkillForm}" class="form-horizontal">
									<p class="small" th:text="'あなたは ' + ${requestSkillName} +' を希望しています。'"></p>
									<div class="form-group">
										<label class="col-sm-2 control-label">役職希望</label>
										<div class="col-sm-4">
											<select class="form-control" th:field="*{requestedSkill}">
												<option th:each="skill : ${content.selectableSkillList}" th:value="${skill.code}" th:text="${skill.name}"></option>
											</select> <span th:if="${#fields.hasErrors('requestedSkill')}" th:errors="*{requestedSkill}" class="help-block text-danger">error!</span>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="役職希望を変更する" />
										</div>
									</div>
								</form>
							</div>
						</div>

						<!--/* 発言欄 */-->
						<div class="col-sm-12 well" style="padding-top: 10px;" th:if="${content.isDead}">
							<div class="">
								<p class="small">
									あなたは死亡しました。現世の思い出を語り合いましょう。<br> 墓下では推理発言やCOを行っても問題ありません。
								</p>
							</div>
						</div>

						<div class="col-sm-12 well" th:if="${content.isDispSayForm}">
							<div class="">
								<!--/* rowを外した */-->
								<h2 class="h5">発言する</h2>
								<span th:if="${sayErrorMessage != null}" class="text-danger" th:test="${sayErrorMessage}">error</span>
								<form method="post" action="" th:action="@{/village/{villageId}/confirm(villageId=${content.villageId})}" th:object="${sayForm}"
									class="form-horizontal">
									<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="help-block text-danger">error!</span>
									<div class="form-group">
										<div class="col-sm-12 btn-group" data-toggle="buttons" data-say-type>
											<label th:if="${content.isAvailableWerewolfSay}" th:class="'btn btn-sm btn-success ' + *{messageType == 'WEREWOLF_SAY' ? 'active' : ''}">
												<input type="radio" class="" th:field="*{messageType}" value="WEREWOLF_SAY" autocomplete="off" />囁き
											</label> <label th:if="${content.isAvailableNormalSay}" th:class="'btn btn-sm btn-success ' + *{messageType == 'NORMAL_SAY' ? 'active' : ''}">
												<input type="radio" class="" th:field="*{messageType}" value="NORMAL_SAY" autocomplete="off" />通常
											</label> <label th:if="${content.isAvailableMasonSay}" th:class="'btn btn-sm btn-success ' + *{messageType == 'MASON_SAY' ? 'active' : ''}">
												<input type="radio" class="" th:field="*{messageType}" value="MASON_SAY" autocomplete="off" />共鳴
											</label> <label th:if="${content.isAvailableGraveSay}" th:class="'btn btn-sm btn-success ' + *{messageType == 'GRAVE_SAY' ? 'active' : ''}">
												<input type="radio" class="" th:field="*{messageType}" value="GRAVE_SAY" autocomplete="off" />呻き
											</label> <label th:if="${content.isAvailableMonologueSay}" th:class="'btn btn-sm btn-success ' + *{messageType == 'MONOLOGUE_SAY' ? 'active' : ''}">
												<input type="radio" class="" th:field="*{messageType}" value="MONOLOGUE_SAY" autocomplete="off" />独り言
											</label>
										</div>
										<div class="col-sm-12" style="display: flex;">
											<div th:style="'width: 50px; height: 77px; background: url(\'' + ${content.charaImageUrl} + '\'); background-repeat: no-repeat;'"></div>
											<div style="flex: 1; margin-left: 5px; min-height: 77px;">
												<textarea class="form-control small" th:field="*{message}" style="min-height: 77px;" data-say-textarea></textarea>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<span class="" style="margin-left: 55px;" data-message-count>文字数: 0/200, 行数: 1/10</span> <input type="submit"
												class="btn btn-sm btn-success pull-right" value="確認画面へ" data-message-submit-btn />
										</div>
									</div>
								</form>
							</div>
						</div>

						<!--/* 退村欄 */-->
						<div class="col-sm-12 well" th:if="${content.isDispLeaveVillageForm}">
							<div class="">
								<h2 class="h5">退村する</h2>
								<form method="post" action="" th:action="@{/village/{villageId}/leave(villageId=${content.villageId})}" class="form-horizontal">
									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="村を出る" />
										</div>
									</div>
								</form>
							</div>
						</div>

						<!--/* 投票欄 */-->
						<div class="col-sm-12 well" style="padding-top: 10px;" th:if="${content.voteTargetList != null && content.voteTargetList.size() > 0}">
							<div class="">
								<h2 class="h5">投票する</h2>
								<p class="small">一番票を集めた人物が処刑されます。同数の場合はランダムで決定されます。</p>
								<p class="small" th:text="'現在の投票先: ' + ${voteTarget}"></p>
								<hr />
								<form method="post" action="" th:action="@{/village/{villageId}/setVote(villageId=${content.villageId})}" th:object="${voteForm}"
									class="form-horizontal">
									<div class="form-group small">
										<div class="col-sm-12">
											<select class="form-control" th:field="*{targetCharaId}">
												<option th:each="target : ${content.voteTargetList}" th:value="${target.charaId}" th:text="${target.charaName}"></option>
											</select> に投票する
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="セット" />
										</div>
									</div>
								</form>
							</div>
						</div>

						<!--/* 能力行使欄 */-->
						<div class="col-sm-12 well" style="padding-top: 10px;" th:if="${content.skillName != null && content.isDispSayForm}" data-ability>
							<div class="">
								<!--/* 役職説明 */-->
								<p class="small" th:if="${content.skillName == 'SEER'}" th:utext="#{skill.seer.description}"></p>
								<p class="small" th:if="${content.skillName == 'WEREWOLF'}" th:utext="#{skill.werewolf.description}"></p>
								<p class="small" th:if="${content.skillName == 'HUNTER'}" th:utext="#{skill.hunter.description}"></p>
								<p class="small" th:if="${content.skillName == 'MEDIUM'}" th:utext="#{skill.medium.description}"></p>
								<p class="small" th:if="${content.skillName == 'MADMAN'}" th:utext="#{skill.madman.description}"></p>
								<p class="small" th:if="${content.skillName == 'MASON'}" th:utext="#{skill.mason.description}"></p>
								<p class="small" th:if="${content.skillName == 'FOX'}" th:utext="#{skill.fox.description}"></p>
								<p class="small" th:if="${content.skillName == 'VILLAGER'}" th:utext="#{skill.villager.description}"></p>
								<!--/* 能力行使内容 */-->
								<div
									th:if="${abilityForm != null && (content.skillName == 'SEER' || content.skillName == 'WEREWOLF' || content.skillName == 'HUNTER' || content.skillName == 'FOX' || content.skillName == 'MADMAN') }">
									<hr />
									<p class="small" th:if="${content.skillName == 'SEER'}" th:text="'現在の選択: ' + ${targetCharaName} + ' を占う'"></p>
									<p class="small" th:if="${content.skillName == 'WEREWOLF'}" th:text="'現在の選択: ' + ${charaName} + ' が ' + ${targetCharaName} + ' を襲う'"></p>
									<p class="small" th:if="${content.skillName == 'HUNTER' && content.day > 1}" th:text="'現在の選択: ' + ${targetCharaName} + ' を護衛する'"></p>
									<p class="small"
										th:if="${content.skillName == 'SEER' || content.skillName == 'WEREWOLF' || content.skillName == 'HUNTER' || content.skillName == 'FOX'|| content.skillName == 'MADMAN'}"
										th:text="'通過する部屋: ' + ${footstep == '' || footstep == null ? 'なし': footstep} + ' （明日朝時点で生存者のいる部屋のみ響きます）'"
										th:data-selected-footstep="${footstep == '' || footstep == null ? 'なし': footstep}"></p>
									<hr />
								</div>
								<!--/* 人狼、占い師、狩人用能力セット */-->
								<form method="post" action="" th:action="@{/village/{villageId}/setAbility(villageId=${content.villageId})}"
									th:if="${content.abilityTargetList != null && content.abilityTargetList.size() > 0}" th:object="${abilityForm}" class="form-horizontal">
									<h2 class="h5">能力をセットする</h2>
									<div class="form-group small">
										<div class="col-sm-12" th:if="${content.skillName == 'WEREWOLF'}">
											襲撃者 <select class="form-control" th:field="*{charaId}" data-attacker-select>
												<option th:each="chara : ${content.attackerList}" th:value="${chara.charaId}" th:text="${chara.charaName}"></option>
											</select>
										</div>
										<div class="col-sm-12">
											<span th:if="${content.skillName == 'WEREWOLF'}" th:text="襲撃対象"></span> <select class="form-control" th:field="*{targetCharaId}"
												data-ability-target-select>
												<option th:if="${content.skillName == 'WEREWOLF' && content.day > 1}" value="">なし</option>
												<option th:each="target : ${content.abilityTargetList}" th:value="${target.charaId}" th:text="${target.charaName}"></option>
											</select> <span th:if="${content.skillName == 'SEER'}" th:text="を占う"></span> <span th:if="${content.skillName == 'HUNTER'}" th:text="を護衛する"></span>
										</div>
										<div class="col-sm-12" th:if="${content.skillName == 'SEER' || content.skillName == 'WEREWOLF' || content.skillName == 'HUNTER'}">
											通過する部屋<select class="form-control" name="footstep" data-footstep-select>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="セット" />
										</div>
									</div>
								</form>
								<!--/* 狂人、妖狐用能力セット */-->
								<form method="post" action="" th:action="@{/village/{villageId}/setAbility(villageId=${content.villageId})}"
									th:if="${content.abilityTargetList == null && abilityForm != null && (content.skillName == 'FOX' || content.skillName == 'MADMAN')}"
									th:object="${abilityForm}" class="form-horizontal">
									<h2 class="h5">能力をセットする</h2>
									<p class="small">
										任意の部屋からその直線上の部屋に向かって徘徊し、通過した部屋に足音を響かせることが可能です。部屋を選択してセットしてください。<br>徘徊しない場合は何も選択せずセットしてください。
									</p>
									<div class="form-group small">
										<div class="col-sm-12" th:if="${content.skillName == 'FOX' || content.skillName == 'MADMAN'}">
											<table class="table-bordered table-condensed small" data-footstep-select-table>
												<tbody>
													<tr th:each="row : ${content.roomAssignedRowList}">
														<td th:each="room: ${row.roomAssignedList}" class="small"
															th:style="'vertical-align: bottom; text-align: center; width: 50px; height: 77px; '
									 + ${room.charaImgUrl != null ? 'background-image: url(''' + room.charaImgUrl + '''); background-repeat: no-repeat; background-size: contain;' : 'background-color: #gray; '}
									 + ${room.isDead == null || room.isDead ? 'opacity: 0.3;' : ''}"
															th:data-footstep-room-number="${room.roomNumber}"><span style="background-color: #222222; opacity: 0.8; white-space: nowrap;"
															th:text="${room.roomNumber} + ' ' + ${room.charaName != null ? room.charaName : ''}">01. 楽</span></td>
													</tr>
												</tbody>
											</table>
											通過する部屋 : <span data-footstep-input th:text="*{footstep}">なし</span> <input type="hidden" class="form-control" th:field="*{footstep}"
												data-footstep-hd-input />
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="セット" />
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="col-sm-12 well" sec:authorize="hasRole('ROLE_ADMIN')">
							<h2 class="h5">管理者メニュー</h2>
							<form method="post" th:if="${content.day == 0}" action=""
								th:action="@{/admin/village/{villageId}/allparticipate(villageId=${content.villageId})}" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">入村させる</label>
									<div class="col-sm-8">
										<input class="form-control" type="text" th:value="16" th:name="personNumber" />
									</div>
									<div class="col-sm-2">
										<input type="submit" class="btn btn-sm btn-success pull-right" value="人数分入村させる" />
									</div>
								</div>
							</form>
							<form method="post" action="" th:action="@{/admin/village/{villageId}/dayChange(villageId=${content.villageId})}" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">日付を進める</label>
									<div class="col-sm-8"></div>
									<div class="col-sm-2">
										<input type="submit" class="btn btn-sm btn-success pull-right" value="日付を進める" />
									</div>
								</div>
							</form>
							<form method="post" action="" th:action="@{/admin/village/{villageId}/leave(villageId=${content.villageId})}"
								th:if="${content.isDispLeaveVillageForm}" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">強制退村</label>
									<div class="col-sm-8">
										<input class="form-control" type="text" value="" name="villagePlayerId" placeholder="village_player_id" />
									</div>
									<div class="col-sm-2">
										<input type="submit" class="btn btn-sm btn-success pull-right" value="退村" />
									</div>
								</div>
							</form>
						</div>

						<!--/* 日付リスト */-->
						<div class="col-sm-12 small">
							<ul style="padding-left: 0px;">
								<li th:each="day : ${content.dayList}" style="list-style-type: none; display: inline; margin-right: 10px;"><span
									th:if="${day == content.day && day != 0 && day != content.epilogueDay && day - 1 != content.epilogueDay}" th:text="${day} + '日目'"></span> <span
									th:if="${day == content.day && day == 0}" th:text="プロローグ"></span> <span th:if="${day == content.day && day == content.epilogueDay}"
									th:text="エピローグ"></span> <span th:if="${day == content.day && day - 1 == content.epilogueDay}" th:text="終了"></span><a
									th:if="${day != content.day && day != 0 && day != content.epilogueDay && day - 1 != content.epilogueDay}" th:text="${day} + '日目'"
									href="javascript:void(0);" th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a> <a
									th:if="${day != content.day && day == 0}" th:text="プロローグ" href="javascript:void(0);"
									th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a> <a
									th:if="${day != content.day && day == content.epilogueDay}" th:text="エピローグ" href="javascript:void(0);"
									th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a> <a
									th:if="${day != content.day && day - 1 == content.epilogueDay}" th:text="終了" href="javascript:void(0);"
									th:href="@{/village/{villageId}/day/{day}(villageId=${content.villageId}, day=${day})}"></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="btn btn-primary goto goto-top" data-goto-top>
					<span class="glyphicon glyphicon-arrow-up"></span>
				</div>
				<div class="btn btn-primary goto refresh" data-refresh>
					<span class="glyphicon glyphicon-refresh"></span>
				</div>
				<div class="btn btn-primary goto filter" data-filter>
					<span class="glyphicon glyphicon-filter"></span>
				</div>
				<div class="btn btn-primary goto goto-bottom" data-goto-bottom>
					<span class="glyphicon glyphicon-arrow-down"></span>
				</div>

				<div class="modal fade" id="village-info" tabindex="-1">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-body">
								<div class="table-responsive clearfix">
									<table class="table table-bordered table-condensed" th:object="${content.villageSettings}">
										<tr>
											<th>最低開始人数</th>
											<td th:text="*{startPersonMinNum}"></td>
										</tr>
										<tr>
											<th>定員</th>
											<td th:text="*{personMaxNum}"></td>
										</tr>
										<tr>
											<th>開始日時</th>
											<td th:text="*{#temporals.format(startDatetime, 'yyyy/MM/dd HH:mm')}"></td>
										</tr>
										<tr>
											<th>更新間隔</th>
											<td th:text="*{dayChangeInterval}"></td>
										</tr>
										<tr>
											<th>投票形式</th>
											<td th:text="*{voteType}"></td>
										</tr>
										<tr>
											<th>役職希望</th>
											<td th:text="*{skillRequestType}"></td>
										</tr>
										<tr>
											<th>キャラセット</th>
											<td><a href="javascript:void(0);" th:href="@{/chara-group/{charaGroupId}(charaGroupId=*{charaGroupId})}" th:text="*{charaGroupName}"
												target="_blank"></a></td>
										</tr>
										<tr>
											<th>館を建てたプレイヤー</th>
											<td th:text="${content.createPlayerName}"></td>
										</tr>
									</table>
								</div>
								<p class="small">館を建てたプレイヤーのみ設定を変更できます。</p>
								<div class="clearfix small">
									<a href="javascript:void(0);" class="btn btn-primary pull-right small" data-dismiss="modal">閉じる</a> <a href="javascript:void(0);"
										th:href="@{/village/{villageId}/settings(villageId=${content.villageId})}" th:if="${content.isAvailableSettingsUpdate}"
										class="btn btn-success pull-right small" style="margin-right: 10px;">設定変更</a> <input type="button"
										th:unless="${content.isAvailableSettingsUpdate}" class="btn btn-default pull-right small disabled" data-dismiss="modal" disabled="true"
										value="設定変更" style="margin-right: 10px;" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script id="message-template" type="text/x-handlebars-template" layout:include="~{village-template/message::message}"></script>
			<script id="message-partial-template" type="text/x-handlebars-template" layout:include="~{village-template/message-partial::message-partial}"></script>
		</div>
		<footer layout:replace="~{layout/footer::footer}"></footer>
	</div>
</body>
</html>