<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>フッター</title>
<link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js" th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
<script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
	<div class="col-sm-12 well" th:if="${content.isDispCommitForm}" layout:fragment="commit-form">
		<div class="">
			<h2 class="h5">コミットする</h2>
			<form method="post" action="" id="commit-form" th:action="@{/village/{villageId}/commit(villageId=${content.villageId})}" class="form-horizontal"
				th:object="${commitForm}">
				<div class="form-group">
					<div class="col-sm-12">
						<input type="hidden" th:field="*{commit}" />
						<input type="submit" class="btn btn-sm btn-success pull-right" th:value="*{commit ? 'コミットする' : 'コミットを取り消す'}" />
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>