<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>フッター</title>
<link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js" th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
<script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
	<div class="col-sm-12 col-xs-12" layout:fragment="creator-form" th:if="${content.isCreatePlayer}">
		<div class="panel-group" id="creatorform-panel">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="h5" data-toggle="collapse" data-parent="#creatorform-panel" href="#creatorform-content" data-creatorform-tab-open>村建て機能</a> <a
						href="javascript:void(0);" class="pull-right" data-bottom-fix>固定</a>
				</div>
				<div id="creatorform-content" class="panel-collapse collapse in">
					<div class="panel-body">
						<form method="post" id="kick-form" th:if="${content.day == 0}" action=""
							th:action="@{/village/{villageId}/kick(villageId=${content.villageId})}" class="form-horizontal" th:object="${kickForm}">
							<div class="form-group">
								<label class="col-sm-2 control-label">強制退村</label>
								<div class="col-sm-10">
									<select class="form-control" th:field="*{charaId}">
										<option th:each="target : ${content.characterList}" th:value="${target.value}" th:text="${target.name}"></option>
									</select>
									<input type="submit" class="btn btn-sm btn-danger pull-right" value="退村させる" />
								</div>
							</div>
						</form>
						<form method="post" id="cancel-form" th:if="${content.day == 0}" action=""
							th:action="@{/village/{villageId}/cancel(villageId=${content.villageId})}" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">廃村</label>
								<div class="col-sm-10">
									<input type="submit" class="btn btn-sm btn-danger pull-right" value="廃村にする" />
								</div>
							</div>
						</form>
						<form method="post" action="" th:action="@{/village/{villageId}/creator-say-confirm(villageId=${content.villageId})}"
							th:object="${creatorSayForm}" class="form-horizontal" style="margin-top: 10px;">
							<span th:if="${#fields.hasErrors('message')}" th:errors="*{message}" class="help-block text-danger">error!</span>
							<div class="form-group">
								<label class="col-sm-2 control-label">村建て発言</label>
								<div class="col-sm-10">
									<div style="min-height: 77px;">
										<textarea class="form-control small" th:field="*{message}" style="min-height: 77px;" data-creator-say-textarea></textarea>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-2"></div>
								<div class="col-sm-10">
									<span class="" data-message-count>文字数: 0/1000, 行数: 1/40</span>
									<input type="checkbox" class="form-check-input" th:field="*{isConvertDisable}" value="true" style="margin-left: 55px;">
									<label class="form-check-label" for="isConvertDisable">装飾・変換無効</label>
									<input type="hidden" class="" name="messageType" value="CREATOR_SAY" />
									<input type="submit" class="btn btn-sm btn-success pull-right" value="確認画面へ" data-message-submit-btn />
								</div>
							</div>
						</form>
						<form method="post" id="extend-form" th:if="${content.day == content.epilogueDay}" action=""
							th:action="@{/village/{villageId}/extend-epilogue(villageId=${content.villageId})}" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">エピローグ延長</label>
								<div class="col-sm-10">
									<input type="submit" class="btn btn-sm btn-success pull-right" value="1日延長する" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>