<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>フッター</title>
    <link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}"/>
    <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.min.js"
            th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js"
            th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
    <script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
<div class="modal fade" id="modal-filter" tabindex="-1" layout:fragment="modal-filter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body row">
                <div class="col-sm-12 col-xs-12">
                    <h4>発言抽出</h4>
                    <div id="filter-type" style="margin-top: 15px;">
                        <strong>発言種別</strong>
                        <div style="margin-top: 10px;">
                            <a href="javascript:void(0);" data-filter-type-allon>全てON</a> /
                            <a href="javascript:void(0);" data-filter-type-alloff>全てOFF</a> /
                            <a href="javascript:void(0);" data-filter-type-reverse>反転</a>
                        </div>
                        <div class="btn-group btn-saytypes" data-toggle="buttons"
                             style="display: flex; margin-top: 10px;">
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="NORMAL_SAY"
                                       autocomplete="false"/>通常
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="GRAVE_SPECTATE_SAY"
                                       autocomplete="false"/>墓下見学
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="MONOLOGUE_SAY"
                                       autocomplete="false"/>独り言
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="CREATOR_SAY"
                                       autocomplete="false"/>村建て発言
                            </label>
                        </div>
                        <div class="btn-group btn-saytypes" data-toggle="buttons"
                             style="display: flex; margin-top: 10px;">
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="WEREWOLF_SAY"
                                       autocomplete="false"/>囁き
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="MASON_SAY"
                                       autocomplete="false"/>共鳴
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="LOVERS_SAY"
                                       autocomplete="false"/>恋人
                            </label>
                        </div>
                        <div class="btn-group btn-saytypes" data-toggle="buttons"
                             style="display: flex; margin-top: 10px;">
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="SECRET_SAY"
                                       autocomplete="false"/>秘話
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="ACTION"
                                       autocomplete="false"/>アクション
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="PUBLIC_SYSTEM"
                                       autocomplete="false"/>公開システム
                            </label>
                            <label class="btn btn-sm btn-success active" style="flex: 1;">
                                <input type="checkbox" class="btn btn-sm btn-success" value="PRIVATE_SYSTEM"
                                       autocomplete="false"/>非公開システム
                            </label>
                        </div>
                    </div>
                    <div id="filter-character" style="margin-top: 15px;">
                        <strong>キャラクター</strong>
                        <div style="margin-top: 10px;">
                            <a href="javascript:void(0);" data-filter-participant-allon>全てON</a> /
                            <a href="javascript:void(0);" data-filter-participant-alloff>全てOFF</a> /
                            <a href="javascript:void(0);" data-filter-participant-reverse>反転</a>
                        </div>
                        <div style="margin-top: 10px;">
                            <div th:each="participant,s: ${content.participantList}"
                                 class="col-sm-12 col-xs-12 checkbox"
                                 th:style="'border-top: 1px solid #ccc; ' + ${s.last ? 'border-bottom: 1px solid #ccc;' : ''}">
                                <label style="display: flex; padding-top: 5px; padding-bottom: 5px;">
                                    <input type="checkbox" th:value="${participant.id}"/>
                                    <div style="padding-right: 5px;">
                                        <img th:src="${participant.imgUrl}" th:width="${participant.imgWidth / 2}"
                                             th:height="${participant.imgHeight / 2}"/>
                                    </div>
                                    <div style="flex: 1;">
                                        <p th:text="${participant.name}"></p>
                                        <p class="text-danger" style="margin-bottom: 0;"
                                           th:text="${participant.deadStatus}"></p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 15px;">
                        <strong>キーワード</strong>
                        <input type="text" class="form-control" data-filter-message-keyword placeholder="スペース区切り"
                               style="margin-top: 5px;"/>
                        <a href="javascript:void(0);" data-filter-message-clear style="margin-top: 10px;">クリア</a>
                    </div>
                    <div style="margin-top: 15px;">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="dummy" data-dsetting-unspoiled> エピローグ前同等の表示にする
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="dummy" data-onlytome> 自分宛発言のみ抽出
                            </label>
                        </div>
                    </div>

                    <div class="clearfix col-sm-12 col-xs-12 small">
                        <a href="javascript:void(0);" class="btn btn-success btn-sm pull-right small"
                           data-filter-submit>抽出</a> <a href="javascript:void(0);"
                                                        class="btn btn-primary btn-sm pull-right small"
                                                        data-dismiss="modal" style="margin-right: 10px;">閉じる</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>