<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>フッター</title>
<link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js" th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
<script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
	<div class="modal fade" id="village-info" tabindex="-1" layout:fragment="modal-village-info">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="table-responsive clearfix">
						<table class="table table-bordered table-condensed" th:object="${content.villageSettings}">
							<tr>
								<th>最低開始人数</th>
								<td th:text="*{startPersonMinNum}"></td>
							</tr>
							<tr>
								<th>定員</th>
								<td th:text="*{personMaxNum}"></td>
							</tr>
							<tr>
								<th>開始日時</th>
								<td th:text="*{#temporals.format(startDatetime, 'yyyy/MM/dd HH:mm')}"></td>
							</tr>
							<tr>
								<th>更新間隔</th>
								<td th:text="*{dayChangeInterval}"></td>
							</tr>
							<tr>
								<th>投票形式</th>
								<td th:text="*{voteType}"></td>
							</tr>
							<tr>
								<th>役職希望</th>
								<td th:text="*{skillRequestType}"></td>
							</tr>
							<tr>
								<th>見学入村</th>
								<td th:text="*{isAvailableSpectate ? '可能（[キャラチップ人数 - 定員]人まで）' : '不可'}"></td>
							</tr>
							<tr>
								<th>同一人狼による連続襲撃</th>
								<td th:text="*{isAvailableSameWolfAttack ? '可能' : '不可'}"></td>
							</tr>
							<tr>
								<th>墓下見学役職公開</th>
								<td th:text="*{isOpenSkillInGrave ? '公開' : '非公開'}"></td>
							</tr>
							<tr>
								<th>墓下見学と地上との会話</th>
								<td th:text="*{isVisibleGraveSpectateMessage ? '可能' : '不可'}"></td>
							</tr>
							<tr>
								<th>キャラセット</th>
								<td>
									<a href="javascript:void(0);" th:href="@{/chara-group/{charaGroupId}(charaGroupId=*{charaGroupId})}" th:text="*{charaGroupName}"
										target="_blank"></a>
								</td>
							</tr>
							<tr>
								<th>入村パスワード</th>
								<td th:text="*{isRequiredJoinPassword ? 'あり' : 'なし'}"></td>
							</tr>
							<tr>
								<th>館を建てたプレイヤー</th>
								<td th:text="${content.createPlayerName}"></td>
							</tr>
							<tr>
								<th>人数ごとの役職構成</th>
								<td>
									<th:block th:if="*{organization}">
										<th:block th:each="str, stat : *{organization.split('\r\n|\r|\n', -1)}">
											<th:block th:text="${str}" />
											<br th:if="${!stat.last}" />
										</th:block>
									</th:block>
								</td>
							</tr>
						</table>
					</div>
					<p class="small">館を建てたプレイヤーのみ設定を変更できます。</p>
					<div class="clearfix small">
						<a href="javascript:void(0);" class="btn btn-primary btn-sm pull-right small" data-dismiss="modal">閉じる</a> <a href="javascript:void(0);"
							th:href="@{/village/{villageId}/settings(villageId=${content.villageId})}" th:if="${content.isAvailableSettingsUpdate}"
							class="btn btn-success btn-sm pull-right small" style="margin-right: 10px;">設定変更</a>
						<input type="button" th:unless="${content.isAvailableSettingsUpdate}" class="btn btn-default btn-sm pull-right small disabled" data-dismiss="modal"
							disabled value="設定変更" style="margin-right: 10px;" />
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>