<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<div class="col-sm-12 col-xs-12" th:if="${content.form.say.dispSayForm}" layout:fragment="say-form">
    <div class="panel-group" id="sayform-panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="h5" data-toggle="collapse" data-parent="#sayform-panel" href="#sayform-content"
                   data-sayform-tab-open>発言</a> <a
                    href="javascript:void(0);" class="pull-right" data-bottom-fix>固定</a>
            </div>
            <div id="sayform-content" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="alert alert-dead small" th:if="${content.myself.dead}">
                        <ul>
                            <li>あなたは死亡しました。現世の思い出を語り合いましょう。</li>
                            <li th:if="${!content.settings.visibleGraveSpectateMessage}">
                                墓下では推理発言やCOを行っても問題ありません。
                            </li>
                        </ul>
                    </div>
                    <div class="alert alert-warning-say small"
                         th:if="${!content.myself.dead || (content.myself.dead && content.settings.visibleGraveSpectateMessage)}">
                        <ul>
                            <li th:if="${content.settings.visibleGraveSpectateMessage}">
                                この村は、墓下や見学発言を生存者が参照できます。
                            </li>
                            <li th:if="${content.settings.visibleGraveSpectateMessage}">
                                進行中は、推理、まとめ、および推理に繋がる内容は生存者全員が見られる発言種別で発言しないでください。
                            </li>
                            <li th:if="${!content.settings.visibleGraveSpectateMessage}">
                                進行中は、推理、まとめ、および推理に繋がる内容は通常発言で発言しないでください。
                            </li>
                            <li>COおよび能力行使結果の発表は生存中の導師と探偵のみ行うことができます。騙りCOも禁止です。</li>
                        </ul>
                    </div>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#sayform" class="h5 hidden"
                       aria-expanded="true" data-say-tab>発言する</a> <span
                        th:if="${sayErrorMessage != null}" class="text-danger" th:test="${sayErrorMessage}">error</span>
                    <form method="post" id="sayform" action=""
                          th:action="@{/village/{villageId}/confirm(villageId=${content.villageId})}"
                          th:object="${sayForm}"
                          class="form-horizontal collapse in" aria-expanded="true" style="margin-top: 10px;">
                        <span th:if="${#fields.hasErrors('message')}" th:errors="*{message}"
                              class="help-block text-danger">error!</span>
                        <p th:text="${content.myself.charaName}"></p>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12 btn-group btn-saytypes" data-toggle="buttons" data-say-type>
                                <label th:if="${content.form.say.availableWerewolfSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'WEREWOLF_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="WEREWOLF_SAY"
                                           autocomplete="off"/>囁き
                                </label>
                                <label th:if="${content.form.say.availableMasonSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'MASON_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="MASON_SAY"
                                           autocomplete="off"/>共鳴
                                </label>
                                <label th:if="${content.form.say.availableLoversSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'LOVERS_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="LOVERS_SAY"
                                           autocomplete="off"/>恋人
                                </label>
                                <label th:if="${content.form.say.availableTelepathy}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'TELEPATHY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="TELEPATHY"
                                           autocomplete="off"/>念話
                                </label>
                                <label th:if="${content.form.say.availableNormalSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'NORMAL_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="NORMAL_SAY"
                                           autocomplete="off"/>通常
                                </label>
                                <label th:if="${content.form.say.availableGraveSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'GRAVE_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="GRAVE_SAY"
                                           autocomplete="off"/>呻き
                                </label>
                                <label th:if="${content.form.say.availableSpectateSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'SPECTATE_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="SPECTATE_SAY"
                                           autocomplete="off"/>見学
                                </label>
                                <label th:if="${content.form.say.availableMonologueSay}"
                                       th:class="'btn btn-sm btn-success ' + *{messageType == 'MONOLOGUE_SAY' ? 'active' : ''}">
                                    <input type="radio" class="" th:field="*{messageType}" value="MONOLOGUE_SAY"
                                           autocomplete="off"/>独り言
                                </label>
                                <label th:if="${content.form.say.availableSecretSay}"
                                       class="btn btn-sm btn-success">
                                    <input type="radio" class="" th:field="*{messageType}" value="SECRET_SAY"
                                           autocomplete="off" data-secret-say/>秘話
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12 hidden" style="margin-top: 10px; margin-bottom: 10px;"
                                 data-secret-say-target>
                                <label class="control-label">秘話相手</label>
                                <select class="form-control" th:field="*{secretSayTargetCharaId}"
                                        th:if="${content.form.say.availableSecretSay}"
                                        data-secret-say-target-select
                                >
                                    <option value="">秘話相手を選択してください</option>
                                    <option th:each="chara : ${content.form.say.secretSayTargetList}"
                                            th:value="${chara.value}" th:text="${chara.name}"></option>
                                </select>
                                <a href="javascript:void(0);" data-toggle="modal"
                                   data-target="#modal-select-secretsay-target-chara"
                                   class="btn btn-sm btn-success">画像から選択</a>
                            </div>
                            <div class="col-sm-12 col-xs-12 btn-group btn-saytypes hidden" data-toggle="buttons"
                                 data-random-tag-area>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="b">
                                    <strong>B</strong>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="s">
                                    <span style="text-decoration: line-through;">あ</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="large">
                                    大
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="small">
                                    <span style="font-size: 80%;">小</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="ruby">
                                    rb
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#ff0000">
                                    <span style="color: #ff0000;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#ff8800">
                                    <span style="color: #ff8800;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#dddd00">
                                    <span style="color: #dddd00;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#00dd00">
                                    <span style="color: #00dd00;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#00dddd">
                                    <span style="color: #00dddd;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#0000ff">
                                    <span style="color: #0000ff;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="double" data-tag-name="#ee00ee">
                                    <span style="color: #ee00ee;">■</span>
                                </label>
                                <label class="btn btn-sm btn-success" data-tag-type="single" data-tag-name="">
                                    <span th:text="'[[]]'"></span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-xs-12 hidden" data-toggle="buttons" style="margin-bottom: 2px;"
                                 data-random-tag-area>
                                <div class="form-inline">
                                    <select id="random-tag-select" class="form-control">
                                        <option value="fortune">fortune</option>
                                        <option value="1d6">1d6</option>
                                        <option value="or">or</option>
                                        <option value="who">who</option>
                                        <option value="allwho">allwho</option>
                                        <option value="gwho">gwho</option>
                                        <option th:each="str: ${content.randomKeywords.split(',')}" th:value="${str}"
                                                th:text="${str}"></option>
                                    </select>
                                    <input type="submit" class="btn btn-sm btn-success" value="タグ追加"
                                           style="padding-top: 3px; padding-bottom: 3px;" data-random-tag-btn/>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12" style="display: flex;">
                                <div>
                                    <img id="say-face-img"
                                         th:src="${content.myself.charaImageUrl}"
                                         th:width="${content.myself.charaImageWidth}"
                                         th:height="${content.myself.charaImageHeight}"
                                         style="cursor: pointer;"
                                         data-toggle="modal"
                                         data-target="#modal-select-chara-image"
                                    />
                                    <div style="position: absolute; bottom: 0;">
                                        表情<br>
                                        <select class="form-control small"
                                                th:field="*{faceType}"
                                                th:style="'padding-left: 0px; padding-right: 0px; font-size: 86%; max-width: ' + ${content.myself.charaImageWidth} + 'px;'"
                                        >
                                            <option th:each="charaImage : ${content.form.say.charaImageList}"
                                                    th:value="${charaImage.faceType.code}"
                                                    th:text="${charaImage.faceType.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div style="flex: 1; margin-left: 5px; min-height: 150px;">
                                    <textarea class="form-control small" th:field="*{message}"
                                              style="min-height: 150px;" data-say-textarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 col-xs-12">
                                <span class="" style="margin-left: 55px;" data-message-count
                                      th:data-message-restrict-normal-max-length="${content.form.say.restrict.normalLength != null ? content.form.say.restrict.normalLength : ''}"
                                      th:data-message-restrict-normal-max-count="${content.form.say.restrict.normalCount != null ? content.form.say.restrict.normalCount : ''}"
                                      th:data-message-restrict-normal-left-count="${content.form.say.restrict.normalLeftCount != null ? content.form.say.restrict.normalLeftCount : ''}"
                                      th:data-message-restrict-whisper-max-length="${content.form.say.restrict.whisperLength != null ? content.form.say.restrict.whisperLength : ''}"
                                      th:data-message-restrict-whisper-max-count="${content.form.say.restrict.whisperCount != null ? content.form.say.restrict.whisperCount : ''}"
                                      th:data-message-restrict-whisper-left-count="${content.form.say.restrict.whisperLeftCount != null ? content.form.say.restrict.whisperLeftCount : ''}"
                                      th:data-message-restrict-mason-max-length="${content.form.say.restrict.masonLength != null ? content.form.say.restrict.masonLength : ''}"
                                      th:data-message-restrict-mason-max-count="${content.form.say.restrict.masonCount != null ? content.form.say.restrict.masonCount : ''}"
                                      th:data-message-restrict-mason-left-count="${content.form.say.restrict.masonLeftCount != null ? content.form.say.restrict.masonLeftCount : ''}"
                                      th:data-message-restrict-lovers-max-length="${content.form.say.restrict.loversLength != null ? content.form.say.restrict.loversLength : ''}"
                                      th:data-message-restrict-lovers-max-count="${content.form.say.restrict.loversCount != null ? content.form.say.restrict.loversCount : ''}"
                                      th:data-message-restrict-lovers-left-count="${content.form.say.restrict.loversLeftCount != null ? content.form.say.restrict.loversLeftCount : ''}"
                                      th:data-message-restrict-telepathy-max-length="${content.form.say.restrict.telepathyLength != null ? content.form.say.restrict.telepathyLength : ''}"
                                      th:data-message-restrict-telepathy-max-count="${content.form.say.restrict.telepathyCount != null ? content.form.say.restrict.telepathyCount : ''}"
                                      th:data-message-restrict-telepathy-left-count="${content.form.say.restrict.telepathyLeftCount != null ? content.form.say.restrict.telepathyLeftCount : ''}"
                                >残り20回, 文字数: 0/400, 行数: 1/20</span><br>
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" th:field="*{convertDisable}"
                                           value="true" style="margin-left: 55px;"> 装飾・変換無効
                                </label>
                                <input type="submit" class="btn btn-sm btn-success pull-right" value="確認画面へ"
                                       data-message-submit-btn/>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix">
                        <a th:href="@{/rule#other}" target="_blank" class="pull-right">文字装飾・ランダム機能</a>
                    </div>
                    <div id="reply-content" class="clearfix well hidden"
                         style="margin-top: 5px; padding-top: 10px; padding-bottom: 10px; border: 1px solid rgb(255, 255, 0);"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" th:if="${content.form.say.availableSecretSay}"
         id="modal-select-secretsay-target-chara" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body row">
                    <div class="col-sm-12 col-xs-12">
                        <h4>キャラクター選択</h4>
                        <div class="col-sm-4 col-xs-6"
                             style="border: 1px solid #464545; padding: 5px;"
                             th:if="${content.form.say.secretSayTargetList}"
                             th:each="chara : ${content.form.say.secretSayTargetList}">
                            <span style="display: block; text-align: center;">
                                <img src="" th:src="${chara.url}"
                                     th:width="${chara.width}"
                                     th:height="${chara.height}"/>
                            </span>
                            <span style="display: block; text-align: center;"
                                  th:text="${chara.name}"></span>
                            <a href="javascript:void(0);" class="btn btn-xs btn-success"
                               style="display: block; text-align: center;"
                               th:data-select-secretsay-chara="${chara.value}">選択</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 small">
                        <a href="javascript:void(0);"
                           class="btn btn-primary pull-right small"
                           data-dismiss="modal"
                           style="margin-top: 10px;">閉じる</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" th:if="${content.form.say.charaImageList}"
         id="modal-select-chara-image" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body row">
                    <div class="col-sm-12 col-xs-12">
                        <h4>表情選択</h4>
                        <div
                                style="display: inline-block; border: 1px solid #464545; padding: 5px;"
                                th:each="charaImage : ${content.form.say.charaImageList}">
                            <span style="display: block; text-align: center;">
                                <img src="" th:src="${charaImage.url}"
                                     th:width="${content.myself.charaImageWidth}"
                                     th:height="${content.myself.charaImageHeight}"/>
                            </span>
                            <span style="display: block; text-align: center;"
                                  th:text="${charaImage.faceType.name}"></span>
                            <a href="javascript:void(0);" class="btn btn-xs btn-success"
                               style="display: block; text-align: center;"
                               th:data-select-charaimage-facetype="${charaImage.faceType.code}"
                               th:data-select-charaimage-url="${charaImage.url}"
                            >選択</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 small">
                        <a href="javascript:void(0);"
                           class="btn btn-primary pull-right small"
                           data-dismiss="modal"
                           style="margin-top: 10px;">閉じる</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>