<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>フッター</title>
<link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js" th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
<script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
	<div class="col-sm-12 col-xs-12" th:if="${content.myself.skillName != null && content.form.say.isDispSayForm}" data-ability layout:fragment="skill-area">
		<div class="panel-group" id="skillform-panel">
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="h5" data-toggle="collapse" data-parent="#skillform-panel" href="#skillform-content" data-skillform-tab-open>役職</a> <a
						href="javascript:void(0);" class="pull-right" data-bottom-fix>固定</a>
				</div>
				<div id="skillform-content" class="panel-collapse collapse in">
					<div class="panel-body">
						<div class="alert alert-dead small" th:if="${content.myself.isDead}">
							<ul>
								<li>あなたは死亡しました。</li>
							</ul>
						</div>
						<!--/* 役職説明 */-->
						<div layout:replace="~{village/skill-description::skill-description}"></div>
						<!--/* 能力行使内容 */-->
						<div th:if="${abilityForm != null}" style="padding-bottom: 10px;">
							<hr />
							<a href="javascript:void(0);" data-toggle="collapse" data-target="#skill-tab-area" class="h5 hidden" aria-expanded="true" data-skill-tab>能力をセットする</a>
							<!--/* 能力行使フォーム */-->
							<div class="collapse in" aria-expanded="true" style="margin-top: 10px;" id="skill-tab-area">
								<p layout:replace="~{village/skill-selecting::skill-selecting}"></p>
								<hr />

								<!--/* 人狼、占い師、狩人用能力セット */-->
								<form method="post" action="" th:action="@{/village/{villageId}/setAbility(villageId=${content.villageId})}"
									th:if="${content.form.ability.abilityTargetList != null && content.form.ability.abilityTargetList.size() > 0}" th:object="${abilityForm}" class="form-horizontal">
									<div class="form-group small">
										<div class="col-sm-12 col-xs-12"
											th:if="${content.myself.skillName == 'WEREWOLF' || content.myself.skillName == 'CURSEWOLF' || content.myself.skillName == 'WISEWOLF'}">
											襲撃者 <select class="form-control" th:field="*{charaId}" data-attacker-select>
												<option th:each="chara : ${content.form.ability.attackerList}" th:value="${chara.value}" th:text="${chara.name}"></option>
											</select>
										</div>
										<div class="col-sm-12 col-xs-12" th:unless="${content.myself.skillName == 'DETECTIVE'}">
											<span th:if="${content.myself.skillName == 'WEREWOLF' || content.myself.skillName == 'CURSEWOLF' || content.myself.skillName == 'WISEWOLF'}" th:text="襲撃対象"></span><span
												th:if="${content.myself.skillName == 'TRAPPER'}" th:text="罠を設置する部屋"></span><span th:if="${content.myself.skillName == 'BOMBER'}" th:text="爆弾を設置する部屋"></span>
											<select class="form-control" th:field="*{targetCharaId}" data-ability-target-select>
												<option th:each="target : ${content.form.ability.abilityTargetList}" th:value="${target.value}" th:text="${target.name}"></option>
											</select> <span th:if="${content.myself.skillName == 'SEER' || content.myself.skillName == 'WISE'}" th:text="を占う"></span><span
												th:if="${content.myself.skillName == 'HUNTER'}" th:text="を護衛する"></span>
										</div>
										<div class="col-sm-12 col-xs-12" th:if="${content.myself.skillName == 'DETECTIVE'}">
											<select class="form-control" th:field="*{footstep}" data-ability-target-select>
												<option th:each="target : ${content.form.ability.abilityTargetList}" th:value="${target.value}" th:text="${target.name}"></option>
											</select> <span th:if="${content.myself.skillName == 'DETECTIVE'}" th:text="を調査する"></span>
										</div>
										<div class="col-sm-12 col-xs-12"
											th:if="${content.myself.skillName == 'SEER' || content.myself.skillName == 'WISE' || content.myself.skillName == 'WEREWOLF' || content.myself.skillName == 'CURSEWOLF' || content.myself.skillName == 'WISEWOLF' || content.myself.skillName == 'HUNTER'}">
											通過する部屋<select class="form-control" name="footstep" data-footstep-select>
											</select>
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 col-xs-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="セット" />
										</div>
									</div>
								</form>
								<!--/* 探偵で候補なし */-->
								<p class="small" th:if="${content.myself.skillName == 'DETECTIVE' && content.form.ability.abilityTargetList != null && content.form.ability.abilityTargetList.size() == 0}">調査対象の足音がないため、本日は能力セットできません。</p>
								<!--/* 狂人、妖狐用能力セット */-->
								<form method="post" action="" th:action="@{/village/{villageId}/setAbility(villageId=${content.villageId})}"
									th:if="${content.form.ability.abilityTargetList == null && abilityForm != null && (content.myself.skillName == 'FOX' || content.myself.skillName == 'MADMAN' 
										|| content.myself.skillName == 'EVILMEDIUM' || content.myself.skillName == 'CMADMAN' || content.myself.skillName == 'FANATIC')}"
									th:object="${abilityForm}" class="form-horizontal">
									<p class="small">
										任意の部屋からその直線上の部屋に向かって徘徊し、徘徊した部屋に足音を響かせることが可能です。部屋を選択してセットしてください。<br>徘徊しない場合は何も選択せずセットしてください。
									</p>
									<div class="form-group small">
										<div class="col-sm-12 col-xs-12 table-responsive"
											th:if="${content.myself.skillName == 'FOX' || content.myself.skillName == 'MADMAN' || content.myself.skillName == 'EVILMEDIUM' 
												|| content.myself.skillName == 'CMADMAN' || content.myself.skillName == 'FANATIC'}">
											<table class="table-bordered table-condensed small" data-footstep-select-table>
												<tbody>
													<tr th:each="row : ${content.roomAssignedRowList}">
														<td th:each="room: ${row.roomAssignedList}" class="small"
															th:style="'vertical-align: bottom; text-align: center; width: ' 
														+ ${room.charaImgWidth != null ? room.charaImgWidth : '50'} + 'px; height: '
														+ ${room.charaImgHeight != null ? room.charaImgHeight : '77'} + 'px; '
														 + ${room.charaImgUrl != null ? 'background-image: url(''' + room.charaImgUrl + '''); background-repeat: no-repeat; background-size: contain;' : 'background-color: #gray; '}
														 + ${room.isDead == null || room.isDead ? 'opacity: 0.3;' : ''}"
															th:data-footstep-room-number="${room.roomNumber}">
															<span style="background-color: #222222; opacity: 0.8; white-space: nowrap;"
																th:text="${room.roomNumber} + ' ' + ${room.charaName != null ? room.charaName : ''}">01. 楽</span>
														</td>
													</tr>
												</tbody>
											</table>
											通過する部屋 : <span data-footstep-input th:text="*{footstep}">なし</span>
											<input type="hidden" class="form-control" th:field="*{footstep}" data-footstep-hd-input />
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12 col-xs-12">
											<input type="submit" class="btn btn-sm btn-success pull-right" value="セット" />
										</div>
									</div>
								</form>
							</div>
						</div>
						<!--/* 狂信者用メッセージ */-->
						<div th:if="${content.form.ability.werewolfCharaNameList}">
							<hr />
							<p class="small" th:text="${'この村の人狼は、 ' + content.form.ability.werewolfCharaNameList + ' です。'}"></p>
						</div>
						<!--/* 人狼用メッセージ */-->
						<div th:if="${content.form.ability.cMadmanCharaNameList != null && content.form.ability.cMadmanCharaNameList != ''}">
							<hr />
							<p class="small" th:text="${'この村のC国狂人は、 ' + content.form.ability.cMadmanCharaNameList + ' です。'}"></p>
						</div>
						<!--/* 能力行使履歴 */-->
						<div th:if="${content.form.ability.skillHistoryList != null && content.form.ability.skillHistoryList.size() > 0}">
							<hr />
							<p class="">前日までの能力セット履歴</p>
							<p class="small" th:each="historyStr : ${content.form.ability.skillHistoryList}" th:text="${historyStr}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>