<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>フッター</title>
<link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js" th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
<script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
	<div layout:fragment="skill-description">
		<!--/* 役職説明 */-->
		<p class="small" th:if="${content.skillName == 'SEER'}" th:utext="#{skill.seer.description}"></p>
		<p class="small" th:if="${content.skillName == 'WEREWOLF' && content.villageSettings.isAvailableSameWolfAttack}"
			th:utext="#{skill.werewolf.description}"></p>
		<p class="small" th:if="${content.skillName == 'WEREWOLF' && !content.villageSettings.isAvailableSameWolfAttack}"
			th:utext="#{skill.werewolf.sameng.description}"></p>
		<p class="small" th:if="${content.skillName == 'HUNTER'}" th:utext="#{skill.hunter.description}"></p>
		<p class="small" th:if="${content.skillName == 'DETECTIVE'}" th:utext="#{skill.detective.description}"></p>
		<p class="small" th:if="${content.skillName == 'MEDIUM'}" th:utext="#{skill.medium.description}"></p>
		<p class="small" th:if="${content.skillName == 'MADMAN'}" th:utext="#{skill.madman.description}"></p>
		<p class="small" th:if="${content.skillName == 'CMADMAN'}" th:utext="#{skill.cmadman.description}"></p>
		<p class="small" th:if="${content.skillName == 'MASON'}" th:utext="#{skill.mason.description}"></p>
		<p class="small" th:if="${content.skillName == 'FOX'}" th:utext="#{skill.fox.description}"></p>
		<p class="small" th:if="${content.skillName == 'VILLAGER'}" th:utext="#{skill.villager.description}"></p>
		<p class="small" th:if="${content.skillName == 'WISE'}" th:utext="#{skill.wise.description}"></p>
		<p class="small" th:if="${content.skillName == 'GURU'}" th:utext="#{skill.guru.description}"></p>
		<p class="small" th:if="${content.skillName == 'EVILMEDIUM'}" th:utext="#{skill.evilmedium.description}"></p>
		<p class="small" th:if="${content.skillName == 'FANATIC'}" th:utext="#{skill.fanatic.description}"></p>

		<!--/* 最初の1回だけ役職をモーダルで表示する */-->
		<div class="modal fade" id="modal-initial-skill-description" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body row">
						<div class="col-sm-12 col-xs-12">
							<h5>村が開始されました。役職とルールは以下の通りです。</h5>
						</div>
						<div class="col-sm-12 col-xs-12">
							<h5>役職</h5>
							<p class="small" th:if="${content.skillName == 'SEER'}" th:utext="#{skill.seer.description}"></p>
							<p class="small" th:if="${content.skillName == 'WEREWOLF' && content.villageSettings.isAvailableSameWolfAttack}"
								th:utext="#{skill.werewolf.description}"></p>
							<p class="small" th:if="${content.skillName == 'WEREWOLF' && !content.villageSettings.isAvailableSameWolfAttack}"
								th:utext="#{skill.werewolf.sameng.description}"></p>
							<p class="small" th:if="${content.skillName == 'HUNTER'}" th:utext="#{skill.hunter.description}"></p>
							<p class="small" th:if="${content.skillName == 'DETECTIVE'}" th:utext="#{skill.detective.description}"></p>
							<p class="small" th:if="${content.skillName == 'MEDIUM'}" th:utext="#{skill.medium.description}"></p>
							<p class="small" th:if="${content.skillName == 'MADMAN'}" th:utext="#{skill.madman.description}"></p>
							<p class="small" th:if="${content.skillName == 'CMADMAN'}" th:utext="#{skill.cmadman.description}"></p>
							<p class="small" th:if="${content.skillName == 'MASON'}" th:utext="#{skill.mason.description}"></p>
							<p class="small" th:if="${content.skillName == 'FOX'}" th:utext="#{skill.fox.description}"></p>
							<p class="small" th:if="${content.skillName == 'VILLAGER'}" th:utext="#{skill.villager.description}"></p>
							<p class="small" th:if="${content.skillName == 'WISE'}" th:utext="#{skill.wise.description}"></p>
							<p class="small" th:if="${content.skillName == 'GURU'}" th:utext="#{skill.guru.description}"></p>
							<p class="small" th:if="${content.skillName == 'EVILMEDIUM'}" th:utext="#{skill.evilmedium.description}"></p>
							<p class="small" th:if="${content.skillName == 'FANATIC'}" th:utext="#{skill.fanatic.description}"></p>
						</div>
						<div class="col-sm-12 col-xs-12">
							<h5>村の設定</h5>
							<div class="table-responsive clearfix">
								<table class="table table-bordered table-condensed" th:object="${content.villageSettings}">
									<tr>
										<th>更新間隔</th>
										<td th:text="*{dayChangeInterval}"></td>
									</tr>
									<tr>
										<th>投票形式</th>
										<td th:text="*{voteType}"></td>
									</tr>
									<tr>
										<th>同一人狼による連続襲撃</th>
										<td th:text="*{isAvailableSameWolfAttack ? '可能' : '不可(狼2以下編成の場合は可能に変更されます)'}"></td>
									</tr>
									<tr>
										<th>狩人による連続護衛</th>
										<td th:text="*{isAvailableGuardSameTarget ? '可能' : '不可'}"></td>
									</tr>
									<tr>
										<th>突然死</th>
										<td th:text="*{isAvailableSuddonlyDeath ? 'あり' : 'なし'}"></td>
									</tr>
									<tr>
										<th>コミット</th>
										<td th:text="*{isAvailableCommit ? 'あり' : 'なし'}"></td>
									</tr>
									<tr>
										<th>ダミーキャラ</th>
										<td th:text="*{dummyCharaName}"></td>
									</tr>
									<tr>
										<th>役職構成</th>
										<td>
											<th:block th:if="*{organization}">
												<th:block th:each="str, stat : *{organization.split('\r\n|\r|\n', -1)}">
													<th:block th:text="${str}" />
													<br th:if="${!stat.last}" />
												</th:block>
											</th:block>
										</td>
									</tr>
									<tr>
										<th>発言制限</th>
										<td>
											<table class="table-bordered table-condensed small">
												<thead>
													<tr>
														<th>役職</th>
														<th>発言種別</th>
														<th>制限</th>
														<th>1回あたりの発言文字数 * 1日あたりの発言回数</th>
													</tr>
												</thead>
												<tbody>
													<th:block th:each="restrict, stat : ${content.sayRestrictList}">
														<tr>
															<td th:rowspan="${restrict.detailList.size()}" th:text="${restrict.skillName}">村人</td>
															<td th:text="${restrict.detailList[0].messageTypeName}"></td>
															<td th:text="${restrict.detailList[0].isRestrict ? 'あり' : '無制限'}"></td>
															<td>
																<span th:if="${restrict.detailList[0].isRestrict}"
																	th:text="${restrict.detailList[0].length} + ' * ' + ${restrict.detailList[0].count}"></span>
															</td>
														</tr>
														<tr th:if="${restrict.detailList.size() > 1}">
															<td th:text="${restrict.detailList[1].messageTypeName}"></td>
															<td th:text="${restrict.detailList[1].isRestrict ? 'あり' : '無制限'}"></td>
															<td>
																<span th:if="${restrict.detailList[1].isRestrict}"
																	th:text="${restrict.detailList[1].length} + ' * ' + ${restrict.detailList[1].count}"></span>
															</td>
														</tr>
													</th:block>
												</tbody>
											</table>
										</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="clearfix col-sm-12 col-xs-12 small">
							<a href="javascript:void(0);" id="initial-skill-confirm" class="btn btn-success btn-sm pull-right small" data-dismiss="modal"
								style="margin-right: 10px;">確認したので次回以降表示しない</a>
						</div>
						<div class="clearfix col-sm-12 col-xs-12 small" style="margin-top: 10px;">
							<a th:href="@{/faq}" class="pull-right" target="_blank" style="margin-right: 10px;">ボタンを押しても何度も表示される場合</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>