<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>フッター</title>
    <link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}"/>
    <link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="../../static/lib/bootstrap/js/bootstrap.min.js"
            th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js"
            th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
    <script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
<div layout:fragment="skill-selecting">
    <!--/* 現在の選択 */-->
    <p class="small" th:if="${content.myself.skill.hasDivineAbility}"
       th:text="'現在の選択: ' + ${targetCharaName} + ' を占う'"></p>
    <p class="small" th:if="${content.myself.skill.hasAttackAbility}"
       th:text="'現在の選択: ' + ${charaName} + ' が ' + ${targetCharaName} + ' を襲う'"
       th:data-selected-attack-target="${targetCharaId}"></p>
    <p class="small" th:if="${content.myself.skill.hasGuardAbility}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' を護衛する'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'WALLPUNCHER'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' の部屋の壁を殴る'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'DETECTIVE'}"
       th:text="${'現在の選択: ' + (footstep == null ? 'なし' : (footstep + ' を調査する'))}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'TRAPPER'}"
       th:text="'現在の選択: ' + ${targetCharaName == '' || targetCharaName == null ? '罠を設置しない' : targetCharaName + ' の部屋に罠を設置する'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'BOMBER'}"
       th:text="'現在の選択: ' + ${targetCharaName == '' || targetCharaName == null ? '爆弾を設置しない' : targetCharaName + ' の部屋に爆弾を設置する'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'FRUITSBASKET'}"
       th:text="'現在の選択: ' + ${targetCharaName == '' || targetCharaName == null ? '何もしない' : 'フルーツバスケットする！'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'LONEWOLF'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? '襲撃しない' : targetCharaName + ' を襲う' }"></p>
    <p class="small" th:if="${content.myself.skill.code == 'COURTSHIP'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' に求愛する'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'STALKER'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' をストーキングする'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'JOROGUMO'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' を誘惑する'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'BADGERGAME'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' を誘惑して脅す'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'CHEATERFOX'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' を仲間に引き入れる'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'RAINBOW'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' を虹色に塗る'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'LOUDSPEAKER'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' に拡声器を渡す'}"></p>
    <p class="small" th:if="${content.myself.skill.code == 'TRUCK'}"
       th:text="'現在の選択: ' + ${targetCharaName == null ? 'なし' : targetCharaName + ' を強制転生させる'}"></p>
    <!--/* 通過する部屋 */-->
    <p class="small" th:if="${content.myself.skill.hasFootstepAbility}"
       th:text="'通過する部屋: ' + ${footstep == '' || footstep == null ? 'なし': footstep} + ' （明日朝時点で生存者のいる部屋のみ響きます）'"
       th:data-selected-footstep="${footstep == '' || footstep == null ? 'なし': footstep}"></p>
    <p class="small" th:if="${content.myself.skill.hasCohabitAbility}"
       th:text="'現在の選択: ' + ${targetCharaName} + ' の部屋で過ごす'"></p>
    <hr th:unless="${content.myself.skill.code == 'COMMANDER' || content.myself.skill.code == 'INSTIGATOR'}"/>
</div>
</body>
</html>