<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>フッター</title>
<link rel="shortcut icon" href="../../static/app/images/favicon.ico" th:href="@{/app/images/favicon.ico}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/resources/lib/handlebars/js/handlebars-v4.0.10.js" th:src="@{/resources/lib/handlebars/js/handlebars-v4.0.10.js}"></script>
<script src="../../static/resources/app/js/common.js" th:src="@{/resources/app/js/common.js}"></script>
</head>
<body>
	<div class="col-sm-12 col-xs-12" th:if="${content.form.vote.voteTargetList != null && content.form.vote.voteTargetList.size() > 0}" layout:fragment="vote-form">
		<div class="panel-group" id="voteform-panel">
			<div class="panel panel-default">
				<div class="panel-heading" th:style="${voteTarget == null ? 'background-color: #ff0000' : ''}">
					<a class="h5" data-toggle="collapse" data-parent="#voteform-panel" href="#voteform-content" data-voteform-tab-open>投票</a> <span
						th:if="${voteTarget == null}">(未セットのままだと突然死します)</span> <a href="javascript:void(0);" class="pull-right" data-bottom-fix>固定</a>
				</div>
				<div id="voteform-content" class="panel-collapse collapse in">
					<div class="panel-body">
						<a href="javascript:void(0);" data-toggle="collapse" data-target="#voteform" class="h5 hidden" aria-expanded="true" data-vote-tab>投票する</a>
						<p class="small" th:text="'現在の投票先: ' + ${voteTarget == null ? 'なし' : voteTarget}" style="margin-top: 10px;"></p>
						<form method="post" action="" th:action="@{/village/{villageId}/setVote(villageId=${content.villageId})}" th:object="${voteForm}" id="voteform"
							class="form-horizontal collapse in" aria-expanded="true">
							<hr />
							<p class="small">一番票を集めた人物が処刑されます。同数の場合はランダムで決定されます。</p>
							<div class="form-group small">
								<div class="col-sm-12 col-xs-12">
									<select class="form-control" th:field="*{targetCharaId}">
										<option th:each="target : ${content.form.vote.voteTargetList}" th:value="${target.value}" th:text="${target.name}"></option>
									</select> に投票する
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-12 col-xs-12">
									<input type="submit" class="btn btn-sm btn-success pull-right" value="セット" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>