<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body layout:fragment="message">
	{{#each messageList}}
	<div class="col-sm-12">
		<div class="row">
			<!--// 通常発言、独り言、囁き、共鳴、墓下 //-->
			{{#if (eq messageType 'NORMAL_SAY')}}
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;">{{messageNumber}}. {{characterName}}</span> <span class="pull-right" style="margin-right: -15px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-normal" style="flex: 1; margin-left: 5px;">{{{escapeHtmlWithoutBr messageContent}}}</div>
				</div>
			</div>

			{{else if (eq messageType 'WEREWOLF_SAY')}}
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;">{{messageNumber}}. {{characterName}}</span> <span class="pull-right" style="margin-right: -15px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-werewolf" style="flex: 1; margin-left: 5px;">{{{escapeHtmlWithoutBr messageContent}}}</div>
				</div>
			</div>

			{{else if (eq messageType 'MONOLOGUE_SAY')}}
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;">{{messageNumber}}. {{characterName}}</span> <span class="pull-right" style="margin-right: -15px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-monologue" style="flex: 1; margin-left: 5px;">{{{escapeHtmlWithoutBr messageContent}}}</div>
				</div>
			</div>

			{{else if (eq messageType 'MASON_SAY')}}
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;">{{messageNumber}}. {{characterName}}</span> <span class="pull-right" style="margin-right: -15px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-mason" style="flex: 1; margin-left: 5px;">{{{escapeHtmlWithoutBr messageContent}}}</div>
				</div>
			</div>

			{{else if (eq messageType 'GRAVE_SAY')}}
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;">{{messageNumber}}. {{characterName}}</span> <span class="pull-right" style="margin-right: -15px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-grave" style="flex: 1; margin-left: 5px;">{{{escapeHtmlWithoutBr messageContent}}}</div>
				</div>
			</div>

			{{else if (eq messageType 'PUBLIC_SYSTEM')}}
			<div class="message col-sm-12 message-public-system">{{{escapeHtmlWithoutBr messageContent}}}</div>
			{{else if (or (eq messageType 'PRIVATE_SYSTEM') (eq messageType 'PRIVATE_SEER') (eq messageType 'PRIVATE_PSYCHIC'))}}
			<div class="message col-sm-12 message-private-system">{{{escapeHtmlWithoutBr messageContent}}}</div>
			{{/if}}
		</div>
	</div>
	{{/each}} {{!-- お試し
	<div class="col-sm-12">
		<div class="row">
			<div class="message col-sm-12 message-public-system table-responsive">
				<table class="table-bordered table-condensed">
					<!-- tableがあるとwidth:100%になるので外す -->
					<tbody>
						<tr class="">
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">01. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD'); opacity: 0.3;">
								<span style="background-color: #222222; opacity: 0.8;">02. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-color: #gray; opacity: 0.3;">
								<span style="background-color: #222222; opacity: 0.8;">03. </span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">04. 楽</span>
							</td>
						</tr>
						<tr class="">
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">05. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD'); opacity: 0.3;">
								<span style="background-color: #222222; opacity: 0.8;">06. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-color: #gray; opacity: 0.3;">
								<span style="background-color: #222222;">07. </span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">08. 楽</span>
							</td>
						</tr>
						<tr class="">
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">09. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">10. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">11. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">12. 楽</span>
							</td>
						</tr>
						<tr class="">
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">13. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD'); opacity: 0.3;">
								<span style="background-color: #222222; opacity: 0.8;">14. 楽</span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-color: #gray; opacity: 0.3;">
								<span style="background-color: #222222; opacity: 0.8;">15. </span>
							</td>
							<td class="small"
								style="vertical-align: bottom; text-align: center; width: 50px; height: 77px; text-word-break: break-all; background-image: url('https://placehold.jp/24/3d4070/ffffff/50x77.jpg?text=%E6%A5%BD')">
								<span style="background-color: #222222; opacity: 0.8;">16. 楽</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	--}}
</body>
</html>