<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body layout:fragment="message-partial">
	{{#if (eq messageType 'NORMAL_SAY')}}
	<div class="col-sm-12 say-n{{messageNumber}}" data-message="{{messageType}}" data-chara-id="{{characterId}}">
		<div class="row">
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;"><a href="javascript:void(0);" data-copy-anchor>>>{{messageNumber}}</a>. {{characterName}}</span> <span
					style="margin-left: 10px;">{{timeFormat messageDatetime}}</span>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-normal" style="flex: 1; margin-left: 5px;">{{{messageContent}}}</div>
				</div>
			</div>
		</div>
	</div>
	{{else if (eq messageType 'WEREWOLF_SAY')}}
	<div class="col-sm-12 say-w{{messageNumber}}" data-message="{{messageType}}" data-chara-id="{{characterId}}">
		<div class="row">
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;"><a href="javascript:void(0);" data-copy-anchor>>>*{{messageNumber}}</a>. {{characterName}}</span> <span
					style="margin-left: 10px;">{{timeFormat messageDatetime}}</span>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-werewolf" style="flex: 1; margin-left: 5px;">{{{messageContent}}}</div>
				</div>
			</div>
		</div>
	</div>
	{{else if (eq messageType 'MONOLOGUE_SAY')}}
	<div class="col-sm-12" data-message="{{messageType}}" data-chara-id="{{characterId}}">
		<div class="row">
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;">{{characterName}}</span> <span style="margin-left: 10px;">{{timeFormat messageDatetime}}</span>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-monologue" style="flex: 1; margin-left: 5px;">{{{messageContent}}}</div>
				</div>
			</div>
		</div>
	</div>
	{{else if (eq messageType 'MASON_SAY')}}
	<div class="col-sm-12 say-m{{messageNumber}}" data-message="{{messageType}}" data-chara-id="{{characterId}}">
		<div class="row">
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;"><a href="javascript:void(0);" data-copy-anchor>>>={{messageNumber}}</a>. {{characterName}}</span> <span style="margin-left: 10px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-mason" style="flex: 1; margin-left: 5px;">{{{messageContent}}}</div>
				</div>
			</div>
		</div>
	</div>
	{{else if (eq messageType 'GRAVE_SAY')}}
	<div class="col-sm-12 say-g{{messageNumber}}" data-message="{{messageType}}" data-chara-id="{{characterId}}">
		<div class="row">
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;"><a href="javascript:void(0);" data-copy-anchor>>>+{{messageNumber}}</a>. {{characterName}}</span> <span style="margin-left: 10px;">{{timeFormat
					messageDatetime}}</span>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-grave" style="flex: 1; margin-left: 5px;">{{{messageContent}}}</div>
				</div>
			</div>
		</div>
	</div>
	{{else if (eq messageType 'SPECTATE_SAY')}}
	<div class="col-sm-12 say-s{{messageNumber}}" data-message="{{messageType}}" data-chara-id="{{characterId}}">
		<div class="row">
			<div class="col-sm-12 small">
				<span style="margin-left: -15px;"><a href="javascript:void(0);" data-copy-anchor>>>@{{messageNumber}}</a>. {{characterName}}</span> <span
					style="margin-left: 10px;">{{timeFormat messageDatetime}}</span>
			</div>
			<div class="col-sm-12 col-xs-12">
				<div class="row" style="display: flex;">
					<div style="width: 50px; height: 77px; background: url('{{characterImageUrl}}'); background-repeat: no-repeat;"></div>
					<div class="message message-spectate" style="flex: 1; margin-left: 5px;">{{{messageContent}}}</div>
				</div>
			</div>
		</div>
	</div>
	{{else if (eq messageType 'PUBLIC_SYSTEM')}}
	<div class="col-sm-12" data-message>
		<div class="row">
			<div class="message col-sm-12 col-xs-12 message-public-system">{{{messageContent}}}</div>
		</div>
	</div>
	{{else if (or (eq messageType 'PRIVATE_SYSTEM') (eq messageType 'PRIVATE_SEER') (eq messageType 'PRIVATE_PSYCHIC'))}}
	<div class="col-sm-12" data-message>
		<div class="row">
			<div class="message col-sm-12 col-xs-12 message-private-system">{{{messageContent}}}</div>
		</div>
	</div>
	{{/if}}
</body>
</html>