<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <!--/* 個別ページのタイトル */-->
    <title th:text="${villageName}">テスト村</title>
    <!--/* 個別ページのjs */-->
    <script src="../static/app/js/say-confirm.js" th:src="@{/app/js/say-confirm.js}"></script>
</head>

<body>
<div class="container">
    <nav layout:replace="~{layout/header::header}"></nav>
    <div layout:fragment="content">
        <div id="wrapper">
            <div class="col-sm-12 col-xs-12">
                <form method="post" action="" th:action="@{/village/{villageId}/creator-say(villageId=${villageId})}"
                      th:object="${creatorSayForm}"
                      class="form-horizontal">
                    <div class="col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div id="message-area" class="message message-creator"
                                             th:text="*{message}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" th:field="*{message}"/>
                        <input type="hidden" th:field="*{messageType}"/>
                        <input type="hidden" th:field="*{convertDisable}"/>
                        <input type="button" class="btn btn-sm btn-default" value="戻る(発言内容は消去されます)"
                               th:data-back="${villageId}"/>
                        <input type="submit" class="btn btn-sm btn-success pull-right" value="発言する"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="hidden" id="random-keywords" th:text="${randomKeywords}"></div>
    </div>
    <footer layout:replace="~{layout/footer::footer}"></footer>
</div>
</body>
</html>