name: delivery

on:
  push:
    branches:
      - master

jobs:
  delivery:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: clone repository
        uses: actions/checkout@v2
        with:
          ref: master

      - name: set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: build
        run: |
          MYSQL_CONNECTOR_VERSION=${{ secrets.MYSQL_CONNECTOR_VERSION }}
          ./gradlew build -x test

      - name: Copy to remote server
        uses: garygrossgarten/github-action-scp@release
        with:
          local: build/libs/wolf-mansion-0.0.1-SNAPSHOT.jar
          remote: ${{ secrets.SSH_APP_PATH }}/wolf-mansion.jar
          host: ${{ secrets.HOST }}
          port: ${{ secrets.PORT }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: sudo sh deploy/deploy_mansion2.sh
