name: deploy_to_ocl

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  delivery:
    runs-on: [ self-hosted ]
    steps:
      - name: setup
        run: |
          docker image prune --force

      - name: clone repository
        uses: actions/checkout@v2
        with:
          ref: master

      - name: download arm64 JDK 11
        run: |
          download_url="https://cdn.azul.com/zulu-embedded/bin/zulu11.64.19-ca-jre11.0.19-linux_aarch64.tar.gz"
          wget -O $RUNNER_TEMP/java_package.tar.gz $download_url

      - name: set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'jdkfile'
          jdkFile: ${{ runner.temp }}/java_package.tar.gz
          java-version: '11'
          architecture: arm64

      - name: build
        run: |
          ./gradlew jibDockerBuild

      - name: deploy
        run: |
          docker login ghcr.io -u h-orito -p ${{ secrets.PACKAGE_PAT }}
          docker push ghcr.io/h-orito/wolf-mansion

      - name: release
        run: |
          kubectl delete pod -l app=wolf-mansion
