name: deploy_to_ocl

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - "backend/**"

jobs:
  delivery:
    runs-on: [self-hosted]
    steps:
      - name: setup
        run: |
          docker image prune --force

      - name: clone repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}

      - name: download arm64 JDK 21
        run: |
          download_url="https://aka.ms/download-jdk/microsoft-jdk-21.0.5-linux-aarch64.tar.gz"
          wget -O $RUNNER_TEMP/java_package.tar.gz $download_url

      - name: set up JDK 21
        uses: actions/setup-java@v2
        with:
          distribution: "jdkfile"
          jdkFile: ${{ runner.temp }}/java_package.tar.gz
          java-version: "21"
          architecture: arm64

      - name: build
        run: |
          cd backend
          ./gradlew jibDockerBuild

      - name: deploy
        run: |
          docker login ghcr.io -u h-orito -p ${{ secrets.PACKAGE_PAT }}
          docker push ghcr.io/h-orito/wolf-mansion

      - name: release
        run: |
          kubectl delete pod -l app=wolf-mansion
